.sadface {
	font-size: 5rem;
	transform: rotate3d(0,0,1,90deg);
	display: inline-block;
	background: lightblue;
	border-radius: 100%;
	line-height: 1;
	width: 6rem;
	height: 6rem;
	text-indent: 1.6rem;
}

.not-found {
	background: #fff;
}
