.onboarding-survey {
	max-width: 720px;
	margin: 0 auto;
	ul, ol {
		list-style: none;
		margin: 0;
	}
	.widget {
		margin: .5rem 0;
		padding: 1rem;
		box-shadow: 0 0 0 1px #efefef;
	}
	input[type=radio] {
		margin-right: .5rem;
	}
}
