.onboarding-survey {
	max-width: 720px;
	margin: 0 auto;
	padding-bottom: 5rem;
	ul, ol {
		list-style: none;
		margin: 0;
	}
	.widget {
		margin: .5rem 0;
		padding: 1rem;
		box-shadow: 0 0 0 1px #efefef;
		.widget { // don't pad and border nested widgets
			box-shadow: none;
			padding: 0;
		}
	}
	input[type=radio] {
		margin-right: .5rem;
	}
	.question-label {
		margin: .5rem 0;
	}
	.controls {
		text-align: right;
	}
	.radio-options, .multiplechoice-options {
    	padding-left: 1rem;
	}
}
