.activity-item .forum-comment {

	.charms {
		float: right;
		position: relative;
		margin-top: -1rem;
	}

	.wrap {
		position: relative;
		// padding-left: 4rem;
		padding-left: 3rem;
		font-size: .75rem;
		min-height: 4rem;
		// margin-top: 1rem;
		.avatar {
			width: 2.5rem;
			height: 2.5rem;
			position: absolute;
			top: 0;
			left: 0;
		}
		time {
			color: $tertiary-grey;
			font-size: .7rem;
			text-transform: uppercase;

		}
		.username {
			font-weight: 600;
		}
	}
}
