
.course-nav {
	@extend %outline;

	.head {
		display: block;
		@extend %content-card;

		&::after {
			padding-top: 30%;
		}
	}

	ul.sections {
		// @extend %icon-tabs;
		background: #f0f0f0;//$panel-packground;
		border-top: 1px solid $border-grey;
		margin: 0;
	}

	ul.outline {
		background: #ffffff;
		padding-bottom: 3rem;
		border-top: 1px solid $border-grey;


		li label::after {
			@extend %icon-topic;
		}
	}

}
