@mixin icon($icon) {
	@extend %icon-nav-#{$icon};

	&.active {
		@extend %icon-nav-#{$icon}-active;
	}

	&[disabled],
	&.disabled {
		cursor: default;
		pointer-events: none;
		opacity: 0.4;
	}

	html:not(.touch) &:not(.active):not(.disabled) {
		&:hover, &:active {
			@extend %icon-nav-#{$icon}-hover
		}
	}
}

.nav {
	ul.main {
		@include flexbox();
		margin: 0;
		position: relative;
		list-style: none;
		background: #ebebec;

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;
			height: 10px;
			overflow: hidden;
			background: #ccc;
			box-shadow: 0 0 4px rgba(0,0,0,0.5);
			clip: rect(10px, auto, 20px, auto);
		}

		li {
			position: relative;
			display: inline-block;
			overflow: hidden;
			@include flex(1 1 auto);

			&:not(:first-of-type)::before {
				content: '';
				position: absolute;
				left: 0;
				top: 10px;
				bottom: 10px;
				width: 1px;
				background: #f6f6f6;
				box-shadow: -1px 0 0 0 #e2e2e2;
			}

			a {
				display: block;
				overflow: hidden;
				text-indent: -100px;
				height: 50px;
				background: {
					position: center center;
					repeat: no-repeat;
				}
			}
		}

		a.library {
			@include icon('library');
		}
		a.forums {
			@include icon('forums');
		}
		a.contacts {
			@include icon('contacts');
		}
	}
}
