%touch-scroll {
	-webkit-backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}


.master-detail-view {
	position: relative;
	$pane-width: 17.5rem;

	&.show-master {
		@include transform(translate3d(280px,0,0));
	}

	& > .master-detail-master-view {
		position: absolute;
		top: 0;
		left: 0;
		width: $pane-width;
		@include transform(translate3d(-280px,0,0));
		height: calc(100vh - 45px);
		overflow: {
			x: hidden;
			y: auto;
		}

		@extend %touch-scroll;
	}

	& > .master-detail-detail-view {

	}


	@media screen and (min-width: 770px), screen and (orientation:landscape) and (min-width: 560px){
		&.show-master,
		& > .master-detail-master-view {
			@include transform(translate3d(0,0,0) !important);
		}
		& > .master-detail-detail-view {
			@extend %touch-scroll;
			margin-left: $pane-width;
			height: calc(100vh - 45px);
			overflow: {
				x: hidden;
				y: auto;
			}
		}
	}
}



//iOS 7 fix:
/** iPad with portrait orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	.master-detail-master-view { height: 1024px; }
}

/** iPad with landscape orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	.master-detail-master-view { height: 768px; }
}

/** iPhone 1-4 with portrait orientation. */
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:portrait){
	.master-detail-master-view { height: 480px; }
}

/** iPhone 1-4 with landscape orientation. */
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:landscape){
	.master-detail-master-view { height: 320px; }
}

/** iPhone5 with portrait orientation. */
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:portrait){
	.master-detail-master-view { height: 568px; }
}

/** iPhone5 with landscape orientation. */
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:landscape){
	.master-detail-master-view { height: 320px; }
}
//iPhone 6's never had iOS7 on them.
