.left-off-canvas-menu,
.right-off-canvas-menu {
	-webkit-overflow-scrolling: touch;
}

ul.off-canvas-list {
	clear: both;
	font-family: $sidenav-font-family;

	ul {
		list-style: none;
	}

	& > li > ul {
		margin-left: 0;
	}

}



aside[class*=off-canvas-menu] {
	transition: transform 500ms ease 0s;
	z-index: 1004;
	bottom: auto;
	position: absolute;
	height: 100%;
	height: 100vh;

	.button-box {
		position: relative;
		margin: 3rem 0;
	}

	div[class*=offcanvas-overlap] & {
		box-shadow: 0 0 5px 0 black;
	}
}

.exit-off-canvas {
	.move-left & {
		animation: fadeSlideInLeft .25s 1 ease-in;
	}

	.move-right & {
		animation: fadeSlideInRight .25s 1 ease-in;
	}
}

.main-section {
	min-height:50rem;//Not every device supports vh... so lets specify a fallback
	min-height:100vh;
	position: relative;
}

//iOS 7 fix:
/** iPad with portrait orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	aside[class*=off-canvas-menu] { height: 1024px; }
	.main-section {	min-height:1024px; }}

/** iPad with landscape orientation. */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
aside[class*=off-canvas-menu] { height: 768px; }
	.main-section {	min-height:768px; }}

/** iPhone 1-4 with portrait orientation. */
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:portrait){
	aside[class*=off-canvas-menu] { height: 480px; }
	.main-section {	min-height:480px; }}

/** iPhone 1-4 with landscape orientation. */
@media all and (device-width: 320px) and (device-height: 480px) and (orientation:landscape){
	aside[class*=off-canvas-menu] { height: 320px; }
	.main-section {	min-height:320px; }}

/** iPhone5 with portrait orientation. */
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:portrait){
	aside[class*=off-canvas-menu] { height: 568px; }
	.main-section {	min-height:568px; }}

/** iPhone5 with landscape orientation. */
@media all and (device-width: 320px) and (device-height: 568px) and (orientation:landscape){
	aside[class*=off-canvas-menu] { height: 320px; }
	.main-section {	min-height:320px; }}
//iPhone 6's never had iOS7 on them.
