a.toolbar-button-left {
	padding: 0 0.5rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	font-size: 2em;
	position: absolute;
	overflow: hidden;
	color: #333;
	top: -2.8125rem;
	left: 2.8125rem;
}

a.right-off-canvas-toggle {
	width: 2.8125rem;
	height: 2.8125rem;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	display: block;

	img {
		width: 2rem;
		border-radius: 5px;
		vertical-align: text-top;
	}
}

.dark {
	.tab-bar {
		background: #525252;
	}

	.tab-bar,
	.tab-bar-section .title,
	.tab-bar a[href], {
		color: #fff;
	}
}

.tab-bar-section .title {
	position: relative;
	overflow: hidden;
	color: $primary-grey;

	&.branding {
		display: inline-block;
		width: 32px;
		text-indent: -100rem;

		&::after {
			content: '';
			width: 32px;
			height: 32px;
			background: transparent url('../images/icons/logo.png') center center;
			background-size: contain;
			position: absolute;
			margin-top: -50%;
			top: 50%;
			left: 0;
		}
	}
}

%back-button {
	display: inline-block;
	position: relative;
	max-width: 35vw;
	height: 2.8125rem;
	line-height: 2.8125rem;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tab-bar {
	section:not(.tab-bar-section){
		z-index: 10;
	}

	.add {
		@extend %back-button;
		padding-left: 0.625rem;

		&::before {
			content: "+";
			font-weight: 500;
			font-size: 1.5rem;
			margin-right: 0.3rem;
			vertical-align: top;
		}
	}

	.return-to {
		@extend %back-button;
		padding-left: 1.875rem;


		&::before {
			@extend %chevron-left;
			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
			top: 0.625rem;
			left: .3125rem;
			background-size: contain;
			background-repeat: no-repeat;
		}
		/*
		&::before {
			content: '\2039';
			position: absolute;
			display: block;
			font-size: 3rem;
			font-weight: 100;
			line-height: normal;
			top: -1rem;
			left: 0.625rem;
		}*/
	}
}
