$duration: 0.35s;
$enter-timing: cubic-bezier(0.25, 0.8, 0.25, 1);
$leave-timing: cubic-bezier(0.55, 0, 0.55, 0.2);

// $ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
// $ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);



a.toolbar-button-left {
	padding: 0 0.5rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	font-size: 2em;
	position: absolute;
	overflow: hidden;
	color: #333;
	top: -2.8125rem;
	left: 2.8125rem;
}

a.right-off-canvas-toggle {
	width: 2.8125rem;
	height: 2.8125rem;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	vertical-align: top;
	display: inline-block;

	img, svg {
		width: 2rem;
		border-radius: 5px;
		vertical-align: text-top;
	}
}

.dark {
	.tab-bar {
		background: #525252;
	}

	.tab-bar,
	.tab-bar-section .title,
	.tab-bar a[href], {
		color: #fff;
	}
}

section.right-small {
	width: auto;
}

.tab-bar-section {

	&.has-pager .title {
		max-width: -webkit-calc(50% - 50px);//fit pager
		max-width: -moz-calc(50% - 50px);//fit pager
		max-width: calc(50% - 50px);//fit pager
	}

	.title {
		display: inline-block;
		max-width: 50%;//fall back
		overflow: hidden;
		position: relative;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: $primary-grey;

		&.menu{
			overflow: visible;
			&::after {
				backface-visibility: hidden;
				transition: transform $duration $enter-timing;
				content: '';
				@extend %chevron-down;
				.nav-menu-open & {
					transform: rotate3d(0,0,1,180deg);
				}
				width: 10px;
				height: 10px;
				position: absolute;
				top: 50%;
				right: -12px;
				margin-top: -5px;
				background:{
					size: contain;
					position: center;
					repeat: no-repeat;
				}
			}
		}

		&.branding {
			display: inline-block;
			width: 32px;
			text-indent: -100rem;

			&::after {
				content: '';
				width: 32px;
				height: 32px;
				background: transparent url('../images/icons/logo.png') center center;
				background-size: contain;
				position: absolute;
				margin-top: -50%;
				top: 50%;
				left: 0;
			}
		}
	}

	.title-tabs {
		margin: 0;
		padding: 0;
		max-width: 99%;
		min-width: 66%;
		position: relative;
		overflow: hidden;

		list-style: none;
		white-space: nowrap;
		display: inline-block;
		@include inline-flexbox();

		border: 1px solid $primary-blue;
		box-shadow: inset 0 0 0 1px $primary-blue;
		.dark & {
			border-color: #fff;
			box-shadow: inset 0 0 0 1px #fff;
		}
		border-radius: 5px;

		& > li {
			margin: 0;
			padding: 0;
			position: relative;
			overflow: hidden;
			display: inline-block;
			@include flex(1 1 auto);

			a {
				position: relative;
				overflow: hidden;
				display: block;
				color: $primary-blue;
				padding: 0.1rem 0.5rem;
				margin: 0;
				white-space: nowrap;
				text-overflow: ellipsis;
				line-height: 1.5;
				font-size: 0.7rem;
				font-weight: 400;

				@media screen and (min-width: 320px) {
					font-size: 0.8rem;
				}

				&.active {
					background: $primary-blue;
					color: #fff;
					font-weight: 500;
					.dark & {
						background: #fff;
						color: #525252;
					}
				}
			}
		}

	}

}

%back-button {
	display: inline-block;
	position: relative;
	height: 2.8125rem;
	line-height: 2.8125rem;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	@include viewportWidth(max-width, 35);
}


.tab-bar {
	background: #fff;
	z-index: 1002;

	.nav-menu-open & {
		top: 0; left: 0; right: 0;
		border-radius: 0 0 1px 1px;//iOS hack to show box-shadow
		box-shadow: 0 0 1px 0px #222;

		.dark & {
			background: #525252;
		}
	}

	section:not(.tab-bar-section){
		z-index: 10;
	}

	.add {
		@extend %back-button;
		padding-left: 0.625rem;

		&::before {
			content: "+";
			font-weight: 500;
			font-size: 1.5rem;
			margin-right: 0.3rem;
			vertical-align: top;
		}
	}

	.return-to {
		@extend %back-button;
		padding-left: 1.875rem;


		&::before {
			@extend %chevron-left;
			.dark & {
				@extend %chevron-left-white;
			}

			content: '';
			width: 24px;
			height: 24px;
			position: absolute;
			top: 0.625rem;
			left: .3125rem;
			background: {
				size: contain;
				repeat: no-repeat;
			}
		}
		/*
		&::before {
			content: '\2039';
			position: absolute;
			display: block;
			font-size: 3rem;
			font-weight: 100;
			line-height: normal;
			top: -1rem;
			left: 0.625rem;
		}*/
	}
}

.title-bar-menu {
	backface-visibility: hidden;
	perspective: 1000;

	position: absolute;
	background: $panel-background;
	top: 2.8125rem;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 1001;
	box-shadow: 0 0 5px 1px #222;
	border-radius: 0 0 3px 3px;
	padding-bottom: 0.5rem;

	&, ul {
		list-style: none;
		margin-left: 0;
	}

	li > * {
		font: {
			style: normal;
			weight: 400;
			size: 0.9rem;
		}
		line-height: 2.8;
		padding: 0 0.35em 0 1.39em;
	}

	li a {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: $tertiary-grey;
		&[href] {
			color: $secondary-grey;
		}
	}


	.active {
		background: #3fb3f6;
		box-shadow: inset 3px 0 0 0 #107eed;
		&, a[href] {
			color: #ffffff;
			font-weight: 600;
		}
	}


	&.nav-menu-enter {
		transition: all $duration $enter-timing;
		transition-delay: 0s !important;
		transform: scale3d(0.95,0.95,1) translate3d(0, -150%, 0);

		&.nav-menu-enter-active {
			transform: translate3d(0, 0, 0);
		}
	}

	&.nav-menu-leave {
		transition: all 0.25s $leave-timing;
		transition-delay: 0s !important;

		transform: translate3d(0, 0, 0);

		&.nav-menu-leave-active {
			transform: scale3d(0.95,0.95,1) translate3d(0, -150%, 0);
		}
	}
}




.nav-menu-mask {
	backface-visibility: hidden;
	perspective: 1000;
    transform: translate3d(0,0,0);

	background: #000;
	opacity: 0.7;
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	z-index: 1000;

	&.nav-menu-enter{
		transition: opacity $duration $enter-timing;
		transition-delay: 0s !important;

		opacity: 0;

		&.nav-menu-enter-active {
			opacity: 0.7;
		}
	}

	&.nav-menu-leave {
		transition: opacity 0.25s $leave-timing;
		transition-delay: 0s !important;
		opacity: 0.7;

		&.nav-menu-leave-active {
			opacity: 0;
		}
	}
}
