$duration: 0.35s;
$enter-timing: cubic-bezier(0.25, 0.8, 0.25, 1);
$leave-timing: cubic-bezier(0.55, 0, 0.55, 0.2);

// $ease-out-quad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
// $ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);


%back-button {
	display: inline-block;
	position: relative;
	height: 2.8125rem;
	line-height: 2.8125rem;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	// @include viewportWidth(max-width, 35);
}


a.toolbar-button-left {
	padding: 0 0.5rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	font-size: 2em;
	position: absolute;
	overflow: hidden;
	color: #333;
	top: -2.8125rem;
	left: 2.8125rem;
}

a.right-off-canvas-toggle {
	width: 2.8125rem;
	height: 2.8125rem;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	vertical-align: top;
	display: inline-block;

	img, svg {
		width: 2rem;
		height: 2rem;
		border-radius: 5px;
		vertical-align: text-top;
	}
}

.dark {
	.nav-bar {
		background: #525252;
	}

	.nav-bar,
	.nav-bar .title,
	.nav-bar a[href], {
		color: #fff;
	}
}


nav.nav-bar {
	position: relative;
	display: flex;
	background: #fff;
	z-index: 1002;

	.hide-nav & {
		display: none;
	}

	h1 {
		font-size: 1.125rem;
		font-weight: bold;
		line-height: 2.8125rem;
		margin: 0;
	}

 	section {
		flex: 0 0 auto;
		height: 2.8125rem;
		line-height: 2.8125rem;
		&:not(.middle){
			z-index: 10;
		}

		&:first-child {
			flex: 0 1 33%;
		}

		&.middle {
			flex: 3 1 auto;
			position: static;
			-webkit-backface-visibility: hidden;
			background: transparent;
			height: 2.8125rem;
			line-height: 2.8125rem;
			color: $primary-grey;

			& > a {
				position: absolute !important;
				transform: translateX(-50%);
				top: 0;
				left: 50%;
			}

			.menu{
				overflow: visible;
				display: inline-block;
				max-width: calc(100% - 1rem);
				position: relative;

				&::after {

					$size: .75rem;

					backface-visibility: hidden;
					transition: transform $duration $enter-timing;
					// content: '';
					@extend %chevron-down;
					.nav-menu-open & {
						transform: rotate3d(0,0,1,180deg);
					}
					position: absolute;
					width: $size;
					height: $size;
					font-size: $size;
					top: 50%;
					line-height: 1;
					right: -1rem;
					top: 50%;
					margin-top: -$size/2;
				}
			}

			.title {
				display: block;
				overflow: hidden;
				position: relative;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: $primary-grey;
			}
		}
	}


	.nav-menu-open & {
		top: 0; left: 0; right: 0;
		border-radius: 0 0 1px 1px;//iOS hack to show box-shadow
		box-shadow: 0 0 1px 0px #222;

		.dark & {
			background: #525252;
		}
	}

	.return-to {
		@extend %back-button;

		&::before {
			@extend %chevron-left;
			.dark & {
				@extend %chevron-left-white;
			}
		}
	}
}



.title-bar-menu {
	backface-visibility: hidden;
	perspective: 1000;

	position: absolute;
	background: $panel-background;
	top: 2.8125rem;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	z-index: 1001;
	box-shadow: 0 0 5px 1px #222;
	border-radius: 0 0 3px 3px;
	padding-bottom: 0.5rem;

	&, ul {
		list-style: none;
		margin-left: 0;
	}

	li > * {
		font: {
			style: normal;
			weight: 400;
			size: 0.9rem;
		}
		line-height: 2.8;
		padding: 0 0.35em 0 1.39em;
	}

	li a {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: $tertiary-grey;
		&[href] {
			color: $secondary-grey;
		}
	}


	.active {
		background: #3fb3f6;
		box-shadow: inset 3px 0 0 0 #107eed;
		&, a[href] {
			color: #ffffff;
			font-weight: 600;
		}
	}


	&.nav-menu-enter {
		transition: all $duration $enter-timing;
		transition-delay: 0s !important;
		transform: scale3d(0.95,0.95,1) translate3d(0, -150%, 0);

		&.nav-menu-enter-active {
			transform: translate3d(0, 0, 0);
		}
	}

	&.nav-menu-leave {
		transition: all 0.25s $leave-timing;
		transition-delay: 0s !important;

		transform: translate3d(0, 0, 0);

		&.nav-menu-leave-active {
			transform: scale3d(0.95,0.95,1) translate3d(0, -150%, 0);
		}
	}
}


.nav-menu-mask {
	backface-visibility: hidden;
	perspective: 1000;
	transform: translate3d(0,0,0);

	background: #000;
	opacity: 0.7;
	position: absolute;
	top: 0; left: 0;
	right: 0; bottom: 0;
	z-index: 1000;

	&.nav-menu-enter{
		transition: opacity $duration $enter-timing;
		transition-delay: 0s !important;

		opacity: 0;

		&.nav-menu-enter-active {
			opacity: 0.7;
		}
	}

	&.nav-menu-leave {
		transition: opacity 0.25s $leave-timing;
		transition-delay: 0s !important;
		opacity: 0.7;

		&.nav-menu-leave-active {
			opacity: 0;
		}
	}
}
