.tab-bar-section .title {
	width: 100px;

	&::after {
		content: '';
		width: 50px;
		height: 32px;
		background: transparent url(../../../images/sites/okstate.nextthought.com/osu.png) center center no-repeat;
		background-size: contain;
		position: absolute;
		margin-top: -16px;
		margin-left: -25px;
		top: 50%;
		left: 50%;
	}
}
