@import 'utils/variables';
@import 'utils/placeholders';

.accept-invitation-link {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
	display: block;
	padding: .625rem 1rem;
	margin: 0 1rem 1rem;
	position: relative;
	&::after {
		@extend %chevron-right;
		color: $tertiary-grey;
		position: absolute;
		right: .625rem;
		top: 50%;
		transform: translateY(-50%);
	}
}
