.invitation-accept-form {
    display: flex;
    align-items: baseline;
    input:not([type]) { // fixes an issue in mobile safari where the accept button is clipped on the right edge of the screen (NTI-1182)
        width: initial;
        flex: 1 1 auto;
    }
}

input#redeem-submit {
    font-size: .875rem;
    margin-left: 0.5rem;
    border-radius: 2px;
    font-weight: 600;
}


.invitation-accept {
    padding: 0;
    margin: .625rem;
}
