@import "utils/variables";

.invitation-success {

	$thumb-width: 160px;
	$thumb-height: ($thumb-width * .5625); //16x9 allowing 2px for the top and bottom border

	.course-info {
		position: relative;
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
		padding: .25rem 2rem .25rem ($thumb-width + 8);
		min-height: $thumb-height + 2; // +2 for the border
		margin: 1rem 0;

		.thumb {
			position: absolute;
			top: 0;
			left: 0;
			width: $thumb-width;
		    height: $thumb-height;
		    background-size: cover;
		}

		.title {
			margin: 0;
		}

		.course-label {
		    font-size: .75rem;
		    font-family: $header-font-family;
		    font-weight: 600;
		    color: $tertiary-grey;
		}

		.icon-chevron-right {
			position: absolute;
		    right: 0;
		    top: 50%;
		    transform: translateY(-50%);
		    color: #eaeaea;
		}
	}

}
