@import "headline-post";

.forums-wrapper {
	@include grid-column(12);
	padding-bottom:1rem;
	
	ul {
		list-style-type: none;
		margin: 0;
	}

	ul.action-links {
		& > li {
			display: inline-block; 
			margin-right: 1rem;
			@include detail-link();
		}
	}

	.postitem {
		@extend %attributed-content-item;
		padding-left: 0;
		padding-right: 0;

		.replies {
			border-left: 4px solid $panel-border-color;
		}

		&.deleted {
			font-size: .6875rem;
			color: $tertiary-grey;
			& > .modeled-content {
				text-transform: uppercase;
			}
			padding: .25rem;
		}
	}

	section {
		margin-top:1rem;
		h1 {
			font-size: 1rem;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	.forum-list {
		& > li {
			border: 1px solid $panel-border-color;
			padding: 1rem;
			margin-bottom: 1rem;
		}
	}

	nav.forum {
		.forum-item {
			h3 {
				// text-transform: uppercase;
				// font-size: 1rem;
				// font-weight: bold;
				position: relative;
				.title {
					display: block;
				}
			}
			.see-all.count {
				// @include count-badge();
				font-size: .75rem;
				display: block;
				color: $body-font-color;
				padding: .5rem 0;
				font-family: $button-font-family;
				text-transform: uppercase;

				// position: absolute;
				// right: 3em;
				// top: 50%;
				// margin-top: -1em;
				// text-transform: uppercase;
			}
		}
		ul.forum-topics {
			border-top:1px solid $panel-border-color;
			li {
				padding:0;
				border:1px solid transparent;
				border-bottom-color: $panel-border-color;
				a {
					display: block;
					padding: $panel-padding;
					padding-left: .75rem;
					color: $body-font-color;
					position: relative;
					.title {
						display: inline-block;
						max-width: 99%; // leave room for the arrow
					}
					.activity {
						font-size: .75rem;
						margin-top:.5rem;
						.username {
							margin-right:.25em;
						}
						.replies-wrapper, .likes {
							display: inline;
							margin-right:.5rem;
						}
					}
				}
			}
		}
	}

	.nav-up {
		@include grid-row();
		a {
			display:block;
			padding: $panel-padding;
			position: relative;
			background: gray;
		}
	}
}

.forum-board-groups {
	list-style-type: none;
	margin: 0 1em;
	background: antiquewhite;
}

.board-title {
	text-transform: uppercase;
}

.forum-boards {
	ul li {
		background: white;
	}
}

.forum-board-group {
	@include grid-row();
	margin-top: $panel-margin-bottom;
}
