.forums-wrapper {
	@include grid-column(12);
	ul {
		list-style-type: none;
		margin: 0;
	}
	nav.forum {
		.forum-item {
			h3 {
				// text-transform: uppercase;
				// font-size: 1rem;
				// font-weight: bold;	
			}
		}
		ul.forum-topics {
			border-top:1px solid $panel-border-color;
			li {
				padding:0;
				border:1px solid transparent;
				border-bottom-color: $panel-border-color;
				a {
					display: block;
					padding: $panel-padding;
					padding-left: .75rem;
					color: $body-font-color;
					position: relative;
					.title {
						display: inline-block;
						max-width: 99%; // leave room for the arrow
					}
					.activity {
						font-size: .75rem;
						margin-top:.5rem;
					}
				}
			}
		}
	}

	.forum-replies {
		li {
			@include panel;
		}
	}

	.nav-up {
		@include grid-row();
		a {
			display:block;
			padding: $panel-padding;
			position: relative;
			background: gray;
		}
	}
}

.forum-board-groups {
	list-style-type: none;
	margin: 0 1em;
	background: antiquewhite;
}

.board-title {
	text-transform: uppercase;
}

.forum-boards {
	ul li {
		background: white;
	}
}

.forum-board-group {
	@include grid-row();
	margin-top: $panel-margin-bottom;
}

