@import '~@nti/style-common';

.multiple-choice.solutions {
	.solution {
		min-height: 32px;
		display: block;
		position: relative;
		color: var(--correct);
		&,
		p {
			line-height: 2;
		}

		p:last-child {
			margin-bottom: 0;
		}
	}

	.numeral {
		margin-right: 0.5rem;
		font-weight: bold;
		float: left;
		line-height: 2;
	}
}
