@import "~@nti/style-common";
@import "utils/placeholders";

widget.selected > *:first-child::after {
	content: '';
	background: rgba(var(--primary-blue-rgb), 0.15);
	position: absolute;
	top: -1rem;
	left: -1rem;
	right: -1rem;
	bottom: -1rem;
}

widget:empty {
	display: inline-block;
	padding: 3rem;
	border: 1px solid var(--border-grey);
	background: var(--panel-background);
	position: relative;
	text-align: center;
	color: white;

	&::after {
		content: 'Error loading content.';
		color: var(--border-grey);
	}
}

widget[data-type$="vnd.nextthought.canvas"] {
	background-color: white;
	border: none;
	display: block;
	padding: 1rem;

	&::after {
		content: '';
		display: block;
		width: 239px;

		/* height: 239px; */
		padding-bottom: 100%;
		max-width: 100%;
		background-repeat: no-repeat;
		background-image: url(../assets/whiteboard_error_loading_image.png);
	}
}
