@import 'utils/variables';

.markupframe {
	position: relative;
	display: block;
	border: 1px solid $border-grey; //#dadada;

	&.card {
		border: 0;

		a.content-link.related-work-ref {
			height: 100%;
			padding: 15px 0 0 165px;

			.file-type.icon {
				background-size: cover;
				width: 152px;
				height: 100%;
			}
		}

		img[id], .bar {
			display: none;
		}
	}

	&.bare {
		border: none;
	}

	.application-highlight & {
		margin-right: 1rem;
	}

	.wrapper {
		display: block;
		position: relative;

		.zoom {
			position: absolute;
			width: 2rem;
			height: 2rem;
			bottom: 0;
			right: 0;

			&.icon-search {
				text-shadow: 1px 2px 1px white, -1px -2px 1px white;
				color: $secondary-grey;
				font-size: 1.4rem;
			}
		}
	}

	.bar {
		border-top: 1px solid $border-grey; //#dadada;
		cursor: default;
		display: block;
		position: relative;
		// z-index: 3;
		padding: 0 0.875rem 1.25rem;
		background: $panel-background; //#fafafa;
		min-height: 2.3125rem;

		span:first-child {
			margin-top: 0.875rem;
		}

		.image-caption,
		.image-title {
			line-height: 1.2rem;
			display: block;
			font-size: 1rem;
			font-weight: 600;
			color: $primary-grey;
		}

		.image-caption {
			font-size: 0.875rem;
			font-weight: normal;
			color: $secondary-grey;
		}

		.bar-cell {
			display: block;
		}

		a.bar-cell {
			border-left: 1px solid $border-grey; //#dadada;
		}
	}


}
