@import "utils/variables";

.related-work-ref {
	display: flex;
	background: #fafdff;
	border: 1px solid #e3f2fc;

	.icon {
		box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.35);
		flex: 0 0 auto;
	}

	.meta {
		padding: .25rem 0.5rem;

		.title {
			font-size: 0.9375rem;
			font-weight: 600;
		}

		.byline {
			color: $primary-blue;
			font-size: .625rem;
			font-weight: 600;
			text-transform: uppercase;
		}

		.description {
			font-size: .75rem;
			margin-top: .2rem;
		}
	}
}
