@import "~@nti/style-common";

.nti-mobile-drawer-tab-content {
	.upcoming-calendar-events {
		.day-header {
			color: $secondary-grey;
			background: $quad-grey;
		}

		.calendar-body {
			padding-bottom: 0;
			border-radius: 0;
			max-height: none;
			min-height: 0;

			.calendar-day:last-child {
				border-bottom: 1px solid $quad-grey;
			}
		}

		.all-events-link {
			display: block;
			text-align: center;
			font-size: 0.875rem;
			font-weight: 600;
			padding: 1em;
			border-bottom: 1px solid $quad-grey;
		}
	}

	.calendar-display-error {
		font-size: 0.875rem;
		padding: 1rem;
	}
}
