@import "~@nti/style-common";

.nti-mobile-drawer-tab-content {
	.upcoming-calendar-events {
		.day-header {
			color: var(--secondary-grey);
			background: var(--quad-grey);
		}

		.notable-events {
			padding-bottom: 0;
			border-radius: 0;
			max-height: none;
			min-height: 100px; // allow room for loading spinner
			position: relative; // provide positioning context for loading spinner
			border-bottom: 1px solid var(--quad-grey);

			&.loading {
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}

		.all-events-link {
			display: block;
			text-align: center;
			font-size: 0.875rem;
			font-weight: 600;
			padding: 1em;
			border-bottom: 1px solid var(--quad-grey);
		}
	}

	.calendar-display-error {
		font-size: 0.875rem;
		padding: 1rem;
	}
}
