@import "~@nti/style-common";

.nti-mobile-drawer-tab-panel {
	.nti-mobile-drawer-tabs {
		display: flex;
		min-height: 42px;
		border-bottom: 1px solid var(--border-grey-light);

		> * {
			flex: 1 1 33.333%;

			&.active {
				box-shadow: inset 0 -2px 0 var(--primary-blue);
			}
		}

		.tab-label {
			cursor: pointer;

			&.contacts .nti-mobile-drawer-tab-icon {
				overflow: hidden;
				text-indent: -9999px;
				height: 100%;
				background: url('./assets/contacts.svg') center / 28px 28px no-repeat;
			}

			&.calendar {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background: none;
			}

			&.active .nti-mobile-drawer-tab-icon {
				filter: url('#active-tab-filter');

				// NTI-7213 - on iOS the filter causes the icon to intermittently disappear.
				// Forcing hardware acceleration with a 3d transform seems to fix it.
				transform: translate3d(0, 0, 0);
			}

			@at-root #active-tab-filter feFlood {
				flood-color: var(--primary-blue);
			}
		}
	}

	.nti-mobile-drawer-tab-content {
		background: white;

		h3 {
			color: var(--primary-grey);
			font-family: var(--body-font-family);
			font-size: 0.875rem;
			line-height: 1;
			font-weight: 600;
			padding: 1em;
			margin: 0;
			background: white;
			border-bottom: 1px solid var(--border-grey-light);
		}
	}
}
