@import "~@nti/style-common";

.nti-mobile-drawer-tab-panel {
	.nti-mobile-drawer-tabs {
		display: flex;
		min-height: 42px;
		border-bottom: 1px solid $border-grey-light;

		> * {
			flex: 1 1 33.333%;

			&.active {
				box-shadow: inset 0 -2px 0 $primary-blue;
			}
		}

		.tab-label {
			overflow: hidden;
			text-indent: -9999px;
			background: radial-gradient($tertiary-grey 0, $tertiary-grey 50%, transparent 55%) center / 28px 28px no-repeat;
			cursor: pointer;

			@each $tab in notifications, /*calendar,*/ contacts {
				&.#{$tab} {
					background-image: url('./assets/#{$tab}.svg');
				}
			}

			&.calendar {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background: none;
			}
		}
	}

	.nti-mobile-drawer-tab-content {
		background: white;

		h3 {
			color: $primary-grey;
			font-family: "Open Sans", sans-serif;
			font-size: 0.875rem;
			line-height: 1;
			font-weight: 600;
			padding: 1em;
			margin: 0;
			background: white;
			border-bottom: 1px solid $border-grey-light;
		}
	}
}
