.gutter {
	position: absolute;
	top: 0;
	right: 0;
	width: 1rem;
	z-index: 9;
	//Degugging:
	/*bottom: 0;*/
	/*border-left: 1px dashed grey;*/
	//Debug End

	.bin {
		position: absolute;
		left: 0;
		color: $primary-blue;
		background: rgba(255,255,255,0.7);
		font-size: 0.75rem;
		padding: 0.4rem 4rem 0.4rem 0.5rem;
		border-radius: 3px;
		transform: translate3d(-0.65rem, -0.35rem, 0);
		//Debugging:
		/*border: 1px solid;*/

		&.active {
			background: #3fb3f6;
			color: #fff !important;
			font-weight: bolder;
			box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.4);
		}
	}
}
