@import "components/head";

.profile {
	min-height: 100vh;
}

.profile-wrapper {
	& > * {
		max-width: 800px;
		margin-left: auto;
		margin-right: auto; 
	}
}

.profile-top-controls {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	color: $tertiary-grey;
	& > ul {
		list-style-type: none;
		margin: 0;
		white-space: nowrap;
	}
	li {
		display: inline-block;
	}
}

.profile-top-controls-breadcrumb {
	font-size: .6875rem;
}
