.dialog.window {
	padding-top: 30px;
	width: 400px; //prefered width
	max-width: 95vw;
	@media screen and (min-width: 400px) {
		max-width: 70vw;
	}
	overflow: hidden;
	position: absolute;
	top: 30%;
	left: 50%;
	@include transform(translate3d(-50%,0,0));
	background: white;


	.close {
		position: absolute !important;
		z-index: 1;
		top: 0;
		right: 0;
		display: block;
		width: 2rem;
		height: 2rem;
		overflow: hidden;
		text-indent: -100px;
		opacity: 0.6;

		&:hover {
			opacity: 1;
		}

		&::after {
			@extend .x-close;
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background: { position: center center; repeat: no-repeat;}
		}
	}


	.icon {
		@extend .icon-modal-red-sign;
		position: absolute;
		width: 60px;
		height: 60px;
		top: 1.375rem;
		left: 1.0625rem;

		background: {
			position: center center;
			repeat: no-repeat;
		}

	}


	.content-area {
		min-height: 47px;
		padding: 0 0.625rem 0 80px;
		margin: 0 10px 30px 10px;

		color: $primary-grey;

		line-height: 1.3;
		font: {
			style: normal;
			weight: 300;
			size: 1rem;
			family: $body-font-family;
		}

		h1 {
			font-family: $body-font-family;
			font-size: 1.4em;
			margin-bottom: 5px;

			@media screen and (min-width: 400px) {
				font-size: 1.5em;
			}
		}

		p {
			font-size: 0.9em;
		}
	}


	.buttons {
		@extend %dialog-buttons;
	}

}


.modal .dialog.window {
/*
	&:not(.showing) {
		.alert-container {
			//@include animate(fadeOutDown, $duration: 0.35s, $delay: 0);
		}
	}

	&.showing {
		.alert-container {
			//@include animate(fadeInUp, $duration: 0.35s);
		}

		&::after {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
*/
}
