@import "~@nti/style-common";
@import "utils/placeholders";

fieldset.credit-card-form {
	position: relative;

	.nti-credit-card-form {
		@extend %form-fieldset;

		input {
			box-shadow: inset 4px 0 0 0 #ccc;
			-webkit-font-smoothing: auto;
		}

		.card-input {
			.card-number, .card-expiry, .card-cvc {
				background: white;
				border-radius: 0;
				border-color: #ccc;
				box-shadow: inset 4px 0 0 0 #ccc;
			}
		}

		.ElementsApp, .ElementsApp .InputElement {
			color: rgba(0, 0, 0, 0.75);
			font-style: normal;
			font-weight: 100;
		}
	}

	&[data-name-error] .name-input,
	&[data-number-error] .card-input .card-number,
	&[data-expiry-error] .card-input .card-expiry,
	&[data-cvc-error] .card-input .card-cvc {
		border: 1px solid var(--primary-red);
		box-shadow: inset 4px 0 0 0 var(--primary-red);
	}

	.error-message {
		position: absolute;
		bottom: 0;
		left: 0.5rem;
		z-index: 10;
		background: var(--primary-red);
		font-size: 0.8rem;
		color: var(--secondary-red);
		border: 1px solid var(--secondary-red);
		padding: 0 0.25rem;
		display: block;
		margin: 0;
	}
}
