@import "~@nti/style-common";
@import "utils/placeholders";


fieldset.credit-card-form {
	.nti-credit-card-form {
		@extend %form-fieldset;

		input {
			box-shadow: inset 4px 0 0 0 #ccc;
			-webkit-font-smoothing: auto;
		}

		.card-input {
			.card-number, .card-expiry, .card-cvc {
				background: white;
				border-radius: 0px;
				border-color: #ccc;
				box-shadow: inset 4px 0 0 0 #ccc;
			}
		}

		.ElementsApp, .ElementsApp .InputElement {
			color: rgba(0, 0, 0, 0.75);
			font-style: normal;
			font-weight: 100;
		}
	}
}

