.distribution-list-detail {
	display: flex;
	flex-direction: column;

	ul {
		list-style: none;
		margin: 0;
	}
	.add-people {
		background: white;
		color: $primary-blue;
		padding: 1rem;
		span {
			margin-left: .25em; // space between icon and text
		}
	}
	.list-content {
		background: white;
		padding: 0 1rem;
		&.empty {
			padding: 1rem;
		}
		.selectable-entity {
			transition: background-color .25s ease-out;
			&.unselected {
				background: #fff2cb;
				box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
				.username {
					position: relative;
					&::after {
						content: '';
						height: 2px;
						background: rgba(0,0,0,.4);
						position: absolute;
						top: 50%;
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
	ul.contact-list {
		padding: .5rem;
	}

	.buttons {
		text-align: right;
		background: $quad-grey;
		button {
			margin: 0;
		}
	}

}
