.contacts-list {
	.meta {
		font-size: .6875em;
		font-weight: 700;
		color: $tertiary-grey;
	}
	.delete {
		position: absolute;
		top: 50%;
		right: .5em;
		width: 2em;
		height: 2em;
		transform: translateY(-50%);
		font-family: 'icomoon';
		color: $tertiary-grey;
		line-height: 1;
		&::after {
			content: 'X';
			transform: translateY(-50%);
			top: 50%;
			font-size: 2rem;
		}
	}
}
