.distribution-list-detail {
	display: flex;
	flex-direction: column;

	ul {
		list-style: none;
		margin: 0;
	}
	.add-people {
		background: white;
		color: $primary-blue;
		padding: 1rem;
		span {
			margin-left: .25em; // space between icon and text
		}
	}
	.list-content {
		background: white;
		padding: 0 1rem;
		&.empty {
			padding: 1rem;
		}
	}
	ul.contact-list {
		padding: .5rem;
	}

	.buttons {
		text-align: right;
		background: $quad-grey;
		button {
			margin: 0;
		}
	}

}
