.item-detail-header {
	position: relative;
	background: $primary-gray;
	color: white;
	padding: 1rem;
	min-height: 9.5rem;
	h1, h2, h3, h4, h5, h6, input, input:focus {
		color: white;
		font-size: 1.5rem;
		font-weight: 600;
		background: transparent;
		border: none;
		border-width: 0;
		box-shadow: none;
		font-family: 'Open Sans Condensed';
		padding: 0;
	}
	.rename.controls {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		text-align: right;
		background: rgba(255, 255, 255, 0.2);
		button {
			margin: 0;
		}
	}
}
