.user-search {
	.input-list {
		// padding-left: 1rem;
		background: white;
		display: flex;
		flex-wrap: wrap;
		.input-field {
			flex: 1 1 auto;
		}
		.selected-item {
			background: $primary-blue;
			font-size: .6875rem;
			margin-right:.25em;
			color: white;
			line-height: 0;
			align-self: center;
			padding: 1em;
			border-radius: 9000px;
			margin: .25rem;
			font-weight: 700;
		}
		.search-input {
			border: none !important;
			background: transparent;
			margin: 0;
			flex: 1 1 auto;
		}
	}
	.output-list {
		h1 {
			background: $quad-grey;
		    font-size: .75rem;
		    font-family: 'Open Sans';
		    font-weight: 700;
		    text-transform: uppercase;
		    padding: 0.5rem;
		    line-height: 1;
		    margin: 0;
		}
		.no-results {
			text-align: center;
			color: rgba(0,0,0,.25);
			font-size: .75rem;
			padding: 1rem;
		}
	}

	.button-spacer {
		min-height: 3rem;
	}

	.buttons {
		position: fixed;
		bottom: 0; left: 0; right: 0;

		border: 1px solid $tertiary-grey;
		border-width: 1px 0 0 0;

		text-align: right;
		background: $quad-grey;

		button {
			margin: 0;
			text-transform: none;

			letter-spacing: normal;
			padding: 0.75rem 1rem 0.8625rem;
			margin: 0;
			font-size: 0.75rem;
			font-weight: 600;

			&.secondary {
				font-weight: 400;
				text-decoration: underline;
				background: transparent; // why isn't this consistent with treatment elsewhere, like the editor?
			}
		}
	}
}

.add-people {
	background: white;
	color: $primary-blue;
	padding: 0;
	margin: 0 0 .5rem .625rem;
	span {
		margin-left: .25em; // space between icon and text
	}
}
