@import "~@nti/style-common";
@import "utils/placeholders";

.author-info {
	position: relative;

	.charms {
		position: relative;
		float: right;
	}

	.avatar {
		position: absolute;
		// top: 0; //In the cononical location "top: 0" looks bad.
		top: 1rem;
		left: 0;
		width: 3.75rem;
		height: 3.75rem;
		border-radius: 6px;
	}

	.meta {
		margin-left: 4.375rem;
		font-size: 0.875rem;
	}

	time {
		color: var(--tertiary-grey);
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.625rem;
	}

	.reply-name-wrapper {
		position: relative;

		.activity-item & {
			font-size: 0.75rem;
		}

		.username + time {
			margin-left: 0.5em;
		}
	}

	.name-wrapper {
		position: relative;

		.activity-item & {
			font-size: 0.75rem;

			& > .username::after {
				@extend %middot;
			}
		}

		time::after {
			@extend %middot;
		}

		.tinyloader {
			display: inline-block;
			vertical-align: bottom;
		}
	}

	address { display: inline; }

	a[rel=author] {
		margin-right: 0.3125rem;
		display: inline-block;
		max-width: 12.5rem;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		vertical-align: bottom;
	}
}
