@import "~@nti/style-common";

.flyout.discussion-item-action-flyout {
	z-index: 20;

	.discussion-item-actions-options {
		border: 1px solid $border-grey;
		background: #fff;
		list-style: none;
		margin: 0;
		padding: 0;
		min-width: 7rem;
	}
}
