@import "~@nti/style-common";
@import "utils/placeholders";

.discussions {
	@extend %hardware-render;
	overflow: hidden;
	background: var(--panel-background);
	border: {
		style: solid;
		color: var(--border-grey)-alt;
		width: 0;//1px 0 0 1px;
	}

	.content-view & {
		background: #fff;
	}

	.list {
		@extend %touch-scroll;
		border: {
			style: solid;
			color: var(--border-grey)-alt;
			width: 0;//1px 0 0 0;
		}

		// max-height: calc(100% - 3.75rem);
		max-height: 100%;
		overflow: {
			x: hidden;
			y: auto;
		}
	}
}
