@import '~@nti/style-common';

.note-editor-frame {
	background: var(--quad-grey);
	border: 1px solid var(--tertiary-grey);
	border-radius: 5px;
	margin: 0.375rem;
	flex: 1 1 auto;
	max-height: 100%;

	::placeholder {
		color: #818181;
		font-size: 0.875rem;
		font-style: italic;
		font-weight: 400;
	}

	.share-with-entry ::placeholder {
		padding: 0 0.375rem;
	}

	&.busy::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0, 0, 0, 0.1);
		z-index: 1;
	}

	&.editor {
		&,
		& > form,
		& > form > .modeled-content-editor {
			display: flex;
			flex-direction: column;
		}

		& > form {
			flex: 1 1 auto;

			& > div {
				flex: 0 0 auto;
				border-bottom: 1px solid #d8d8d8;
				margin: 0 0.625rem;
			}

			& > .modeled-content-editor {
				flex: 1 1 auto;
				position: relative;
				margin: 0;
				border: 0;
				background: transparent;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
				// // overflow: hidden;

				.toolbar {
					&:empty {
						display: none;
					}

					button,
					.button {
						height: 3.0625rem;
						line-height: initial;
					}
				}

				.save {
					border-bottom-right-radius: 4px;
					box-shadow: 1px 1px 0 0 var(--primary-blue);
					border: 1px solid var(--primary-blue);

					&.disabled {
						border-color: var(--tertiary-grey);
						box-shadow: 1px 1px 0 0 var(--tertiary-grey);
					}

					font-size: 0.8125rem;
					font-weight: 700;
					font-family: var(--body-font-family);
					padding: 0.5625rem 1rem;
					text-indent: 0;
					margin: 0;

					i {
						font-size: 24px !important;
						position: relative;
						left: -0.5px; //fix blur on 1x screens.
					}
				}

				.DraftEditor-root {
					padding-top: 0.625rem;
					padding-left: 1rem;
					padding-right: 1rem;

					/* overflow: auto;
					position: absolute;
					top: 0; left: 0; right: 0;
					bottom: 3.125rem; */
					flex: 1 1 auto;
				}

				.south {
					flex: 0 0 auto;
					// position: absolute;
					// bottom: 0; left: 0; right: 0;
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
					padding-left: 0.5rem;

					button:first-child {
						border-bottom-left-radius: 4px;
					}
				}
			}

			.title {
				& > input {
					margin: 0;
					padding: 0 0.375rem;
					border: 0;
					background: transparent;
				}
			}
		}
	}

	.modeled-content-editor [contenteditable]:focus {
		outline: 0;
		box-shadow: none;
		background: transparent;
	}
}

.note-editor {
	&[class*='appear-active'],
	&[class*='enter-active'],
	&[class*='leave-active'] {
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-name: toolbarModalIn;
	}

	&[class*='leave-active']:not(.saving) {
		animation-duration: 0.6s;
		animation-direction: reverse;
	}

	&[class*='leave-active'].saving {
		animation-duration: 0.6s;
		animation-name: zoomOutUp;
	}
}

@keyframes toolbarModalIn {
	0% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1);
	}
	5.51% {
		transform: matrix3d(
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			47.678,
			0,
			1
		);
	}
	11.01% {
		transform: matrix3d(
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			11.845,
			0,
			1
		);
	}
	16.52% {
		transform: matrix3d(
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			-4.734,
			0,
			1
		);
	}
	21.92% {
		transform: matrix3d(
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			-8.497,
			0,
			1
		);
	}
	36.24% {
		transform: matrix3d(
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			0,
			0,
			1,
			0,
			0,
			-1.841,
			0,
			1
		);
	}
	50.55% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.502, 0, 1);
	}
	79.08% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.03, 0, 1);
	}
	100% {
		transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
	}
}

@keyframes zoomOutUp {
	40% {
		opacity: 1;
		transform: scale3d(0.875, 0.875, 0.875) translate3d(0, 1rem, 0);
		animation-timing-function: linear;
		// animation-timing-function: cubic-bezier(0.000, 1.005, 0.130, 1.000);
		// animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
	}

	100% {
		opacity: 0;
		transform: scale3d(0.75, 0.75, 0.75) translate3d(0, -500%, 0);
		transform-origin: center bottom;
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}
