@import '~@nti/style-common';
@import 'utils/placeholders';

.discussion-reply {
	box-shadow: inset 0 1px 0 0 #fff;
	border-top: 1px solid #f2f2f2;
	padding: 1rem 0 0.5rem 0;
	position: relative;

	.charms {
		top: -1rem;
	}

	.discussion-reply {
		.placeholder,
		.note-body {
			margin-left: 2rem;
		}
	}

	.placeholder,
	.note-body {
		margin-left: 1rem;
	}

	.placeholder {
		color: var(--tertiary-grey);
		padding-bottom: 1rem;
		font: {
			size: 0.875rem;
			style: italic;
		}
	}

	.note-body {
		position: relative;

		&::before {
			@extend %icon-font;

			content: $icon-reply;
			position: absolute;
			top: 0.25rem;
			left: -0.625rem;
			font-size: 10px;
			color: var(--secondary-grey);
			transform: rotateX(180deg) rotateZ(-90deg);
		}
	}

	.author-info {
		.avatar {
			margin: 0 0 0 4px;
			border-radius: 2px;
			width: 2rem;
			height: 2rem;
		}

		.username {
			color: var(--primary-blue);
		}
	}

	.modeled-content,
	.meta {
		margin-left: 3rem;
	}

	.meta {
		margin-top: 0.3125rem;
	}

	.footer {
		position: relative;

		time {
			text-transform: uppercase;
			vertical-align: middle;
			color: var(--tertiary-grey);
			float: right;
			font: {
				size: 0.625rem;
				style: italic;
			}
		}

		.comment-link {
			/* float: right; */

			/* clear: right; */
			font-size: 0.625rem;
			text-transform: uppercase;
			position: absolute;
			bottom: 0.5rem;
			right: 0;
			display: none;
		}
	}

	.modeled-content {
		clear: both;
		// @include clearfix;
	}
}
