%attributed-content-item {
	$s: 35px;
	$m: $s + 10px;

	border: 0 solid #f0f0f0;
	border-bottom-width: 1px;
	position: relative;
	padding: 1rem 0.75rem 1.375rem;

	.avatar {
		float: left;
		width: $s;
		height: $s;
		border-radius: 2px;
		cursor: pointer;

		background: {
			size: cover;
			position: center center;
			repeat: no-repeat;
		}
	}

	.wrap {
		font-size: 0.875rem;
		line-height: 2;
		color: $secondary-grey;
		margin: 0 0 0 $m;

		.meta > * { margin-right: 0.5em; }

		.name {
			color: $primary-blue;
			cursor: pointer;
		}

		time {
			color: $tertiary-grey;
		}

		.message {
			//@include note-body;


			time {
				display: block;
				font-size: 0.6875rem;
				color: $tertiary-grey;
			}
		}

		.footer {
			a.link {
				color: $primary-blue;
				cursor: pointer;
				&.delete {
					color: $primary-red;
				}
			}
			a {
				display: inline-block;
				&::after {
					color: $tertiary-grey;
					font: normal 500 12px/20px $body-font-family;
					text-decoration: none !important;
					position: static;
					content: '\00B7';
					vertical-align: baseline;
					display: inline;
					padding: 0 0.5em;
					background: none;
				}
				&:last-of-type::after {
					content: '';
					display: none;
				}
			}
		}
	}
}
