.calendar-card {
	$color: red;
	$p: .0625rem;
	display: inline-block;
	pointer-events: none;
	cursor: default;
	opacity: 0.3;
	min-width: 1.5625rem;
	text-transform: uppercase;
	border-radius: 2px;
	box-shadow: 0 0 0 $p $color, inset 0 0 0 $p $color;
	text-align: center;

	.month, .day {
		display: block;
		border-radius: 0;
	}

	.month {
		padding-bottom: $p;
		background: $color;
		color: white;
		font: normal 700 0.6em/1.1 $body-font-family;
	}

	.day {
		color: black;
		font: normal 500 0.7rem/1.3 $body-font-family;
	}
}
