
.filters {
	text-align:center;
	list-style: none;
	margin: .75rem 0 0 0;
	font-size: .6875rem;
	li {
		float: none;
		display: inline-block;
	}
	a {
		background-color: white;
		color: $primary-color;
		padding-right:.5rem;
		padding-left:.5rem;
		padding-bottom: .75rem;
		margin-bottom: 1rem;
		display: block;
		.count {
			@include count-badge();
		}
	}
	.active {
		position:relative;
		$opacity: .1;
		$color: black;
		&:before { //underline
			content: '';
			border-bottom: 1px solid $color;
			position: absolute;
			width: 80%;
			margin-left:10%;
			bottom: 3px;
			opacity: $opacity;
			left: 0;
		}
		&:after { //arrow
			$arrowsize:1em;
			content:'';
			border:($arrowsize/2) solid transparent;
			position:absolute;
			bottom:4px;
			left:50%;
			margin-left:-($arrowsize/2);
			border-bottom-color:$color;
			opacity: $opacity;
		}
	}
}


.filter-bar {
	list-style: none;
	margin: 0 -5000px 1rem;
	padding-left: 5000px;
	background: #efefef;
    box-shadow: inset 0 0 0 1px #e3e3e3;
	font-size: .875rem;
	font-weight: 600;

	& > * {
		float: left;
		padding: .5rem 1rem;
		text-transform: uppercase;
		box-shadow: 1px 0 0 0 #e3e3e3;
		&.active {
			background: $primary-color;
			a {
				color: white;
			}
		}
		a {
			color: $secondary-grey;
		}
		.count {
			display: none;
		}
	}

	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

@media (max-width: 365px) {
	.filter-bar {
		font-size: .6875rem;
	}

	.button-group.filters {
		.button {
			.count {
				display: none; // hide the count to prevent wrapping.
			}
		}
	}

}
