
.grid-container {
	margin: 0 0.625rem;
}

.cell {
	display: inline-block;
}

.catalog {
	max-width: 500px;
	margin: 0 auto;

	@media screen and (min-width: 500px) {
		h3 {
			margin-left: -0.625rem; // headings flush with the items
		}
	}

	.grid-container {
		margin-bottom: .625rem;
	}
}

.catalog-item,
.thumbnail-grid-item {
	padding-bottom: 0 !important;

	a{
		display:block;
		padding: 0.625rem;
		box-shadow: inset 0 -1px 0 0 #eaeaea;
		overflow: hidden;
	}

	.thumbnail {
		float: right;
		width: 33%;

		background: {
			size: cover;
			position: center center;
			repeat: no-repeat;
		}

		&::before {
			content: '';
			display: block;
			padding-top: 70%;
		}

		&.resolving {
			position: relative;
			@extend %inline-loader;

			&::before {
				position: static !important;
				background: #fff !important;
			}
		}
	}

	h3 {
		margin-right: 35%;
	}
}


li.catalog-item {
	position: relative;
	border-top: 1px solid #eaeaea;
	padding: 0;

	.thumbnail {
		width: 25%;
		max-width: 110px;
		float: none;
		&::after {
			padding-top: 60%;
		}
	}

	.action {
		float: right;
		padding: 0.25rem 0.5rem;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.75rem;
		border-radius: 3px;
		margin: 0 0.2rem;
		position: absolute;
		top: 50%; right: 0;
		transform: translateY(-50%);
		background: white;

		&.add {
			border: 1px solid $primary-blue;
			color: $primary-blue;
		}

		&.drop {
			color: $primary-red;
			border: 1px solid $primary-red;
		}
	}

	a {
		padding: 0;
		position: relative;
		box-shadow: none;
	}

	& > a {
		display: flex;
		.thumbnail, label {
			position: relative;
			display: inline-block;
			overflow: hidden;
		}

		label{
			flex: 1 1 auto;
		}
		.thumbnail {
			flex: 0 0 auto;
		}
	}

	label {
		padding: 0.625rem 4rem 0.625rem 0.625rem;
	}

	h3, h5 {
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	h3 {
		font-size: 1.2rem;
	}

	h5 {
		display: inline;
		font-size: 0.75rem;
		font-weight: 600;
		text-transform: uppercase;
		color: var(--tertiary-grey);

		& + h5 {
			@extend %middot-before;

			// color: var(--tertiary-grey);
			// font-size: 0.55rem;
			// text-transform: uppercase;
		}
	}
}


%inline-loader {
	* {
		opacity: 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0; left: 0; right: 0; bottom: 0;
		background: rgba(240, 240, 240, 0.1);
		z-index: 10;
	}

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;

		width: 40px;
		height: 40px;
		margin: -20px 0 0 -20px;
		z-index: 12;

		animation: rotation .9s infinite linear;

		// border: 1px solid rgba(142,183,55,.15);
		// border-top-color: rgba(142,183,55,.8);
		border: 1px solid rgba(63,179,79,.15);
		border-top-color: rgba(63,179,79,.8);
		border-radius:100%;
	}
}
