
.like {
	position: relative;
	display: inline-block;
	margin: 0.5rem;
	padding: 0 0 0 1.25rem;
	height: 1rem;
	width: 1.875rem;
	cursor: pointer;
	vertical-align: top;

	white-space: nowrap;
	text-overflow: clip;
	line-height: 16px;
	font: {
		size: 0.625rem;
		style: italic;
		weight: 600;
	}

	&::after {
		@extend %icon-like;
		content: '';
		overflow: hidden;
		position: absolute;
		height: 13px;
		width: 14px;
		top: 0.0625rem;
		left: 0.1875rem;
	}

	&.active::after {
		@extend %icon-like-active;
	}
}
