figure {
	%isPanel {
		margin: 1rem 2rem;
	}

	&.info {
		@extend %isPanel;

		@include panel($bg: blue); //TODO: restyle without foundation.

		background: rgba(var(--primary-blue), 0.9);
	}

	&.caution {
		@extend %isPanel;

		@include panel($bg: red); //TODO: restyle without foundation.

		background: rgba(var(--primary-red), 0.9); //TODO: restyle without foundation.
	}
}

.empty-list {
	&[class*="library-"] {
		background: none;
		border: none;
		font-size: 2rem;
	}
}
