.select-box {
	position: relative;
	z-index: 999;
	&.open > ul {
		background: white;
	}
	& > ul {
		margin: 0;
		list-style: none;
		position: absolute;
		li:first-child {
			position: relative;
			padding-right: 2em;
			&::after {
				@extend %chevron-down;
				position: absolute;
				top: 50%;
				right: .5em;
				font-size: 1em;
				transform: translate3d(0,-50%,0);
				color: $tertiary-grey;
			}
		}
	}
}
