body.nav-menu-open {
	video {
		// video elements interfere with the titlebar menu interaction.
		// get videos out of the way when the menu is open.
		visibility: hidden !important;
	}
}

//Supposedly hides the iOS default playbutton.
video::-webkit-media-controls-start-playback-button {
	display: none !important;
 	appearance: none;
}
