.gift-success {
	$pad: 0.9375rem;
	margin: 0.5rem 0rem;

	.panel {
		background-color: white;
		border-radius: 3px;
	}

	.actions {
		.button {
			display: block;
		}
	}

	.pricing-info .info{
		padding: 1rem;
	}

	h3{
		color: $secondary-green;
		font-size: 1.5em;
		font-family: $body-font-family;
		margin-bottom: 10px;
		position: relative;
		padding-left: 35px;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 28px;
			height: 28px;
			background: transparent url('../images/icons/assignment_ontime_small.png') center center;
			background-size: contain;
		}
	}

	.prompt,.gift {
		line-height: 1.3em;
		font-weight: 300;

		strong {
			font-weight: 600;
			color: $primary-grey;
		}

		a {
			font-weight: 400;
		}
	}

	.gift {
		margin-top: 1em;
	}

	.alert {
		font-weight: 500;

		&:empty {
			display: none;
		}
	}

	.token {
		overflow: hidden;
		margin: 1em 0 0.5em;

		.label {
			float: left;
			font-weight: 600;
			line-height: 30px;
			margin-right: 0.5em;
			background: none;
			color: $primary-grey;
			font-size: 1em;
			padding: 0;
		}

		.value {
			float: left;
			width: 140px;
			height: 30px;
			margin-bottom: 0;
			padding: 0 0.5rem;

			&:focus {
				background: none;
				box-shadow: none;
			}
		}
	}

	.support {
		margin-top: 1em;
		font-weight: 300;

		a {
			font-weight: 400;
		}
	}
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
	.gift-success{
		margin: 1rem 0rem;

		h3 {
			padding-left: 0;

			&::before {
				left: -35px;
			}
		}

		.panel {
			background-color: white;
			border-radius: 3px;
			padding-left: 3rem;
		}
	}
}
