.gift.enrollment {
	$pad: 0.9375rem;
	margin: 0.5rem 1rem;
	h1, h2, h3, h4, h5 {
		color: $tertiary-grey;
		font-family: $body-font-family;
	}

	h2 {
		font-size: 1.7rem;
		letter-spacing: -0.03rem;
	}

	legend {
		color: $primary-grey;
		font-weight: 600;
	}

	fieldset {
		position: relative;
		border: 0;
		padding: 1rem 0 0 0;
		margin: 0 0 2rem;

		input {
			margin-bottom: 0.5rem !important;
		}

		legend {
			font-size: 1rem;
			color: $primary-grey;
		}


		div.from {width: 42.32%;}
		div.fromLabel {
			margin: -1rem 0 0.5rem;

			label {
				color: $tertiary-grey;
				font-style: italic;
			}
		}

		div.number { float: left; width: 55%; }
		div.exp_,
		div.cvc {
			float: left;
			margin-left: 2%;
			width: 23%;
		}

		div.cvc {
			width: 18%;
		}

	}

	.agreement {
		background: $quad-grey;
		padding: 0.5rem $pad;
		margin: 0 (-$pad) 2rem;

		label {
			font-weight: 600;
			font-size: 0.9rem;
		}

		a {
			color: $primary-blue;
		}
	}

	.button-row {
		margin: 0 (-$pad);
		text-align: right;
		a {
			padding: 0.7rem 2rem 0.7625rem;
			color: $secondary-grey;
			font-size: 0.8rem;
		}

		button {
			background: $secondary-green;
			text-transform: none;
			font-style: italic;
			font-weight: 700;
			letter-spacing: 0em;
			padding-top: 0.7rem;
			padding-bottom: 0.7625rem;

			&.disabled {
				background: $secondary-grey;
			}
		}
	}
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
	.gift.enrollment {
		margin: 3rem 4rem;

		fieldset {
			&.payment-fields {
				max-width: 60%;
			}

			div.fromLabel {
				left: 42.32%;
				right: 0;
				position: absolute;
				padding: 0.6rem 0.8rem;
				margin: 0;
			}
		}
	}
}
