.payment-confirm  {
	$pad: 0.9375rem;
	margin: 0.5rem 1rem;

	.panel {
		background-color: white;
	}

	.panel-button {
		margin: 0;
		padding: 0;
	}

	h3 {
		font-size: 1.7em;
		line-height: 2em;
		font-weight: 400;
		color: $tertiary-grey;
		font-family: $body-font-family;
	}

	p {
		margin: 0;
		font-weight: 300;
		line-height: 1.5em;
	}

	.row {
		padding: 0;
	}

	.subscribe {
		background: $quad-grey;
		padding: 0 $pad 0.5rem;
		margin: 1rem (-$pad) 2rem;

		label {
			font-weight: 600;
			font-size: 0.9rem;
		}

		a {
			color: $primary-blue;
		}

		p {
			padding-left: 24px;
			line-height: 1.3em;
			font-size: 0.9em;
		}
	}


	fieldset {
		border: none;
		padding: 0;

		.title {
			overflow: hidden;
			font-size: 1.3em;
			line-height: 1.5em;
			font-weight: 400;
			color: $tertiary-grey;

			span { float: left; }

			a {
				position: relative;
				float: left;
				padding-left: 9px;
				top: -6px;
				color: #3fb3f6;
				cursor: pointer;
				text-transform: uppercase;
				font-size: 0.55em;
			}
		}

		.field {
			font-size: 0.9em;
		}

		.label {
			font-weight: 600;
			margin-right: 0.5em;
			background: none;
			color: $primary-grey;
			font-size: 1em;
			padding: 0;
		}

		.city {
			span {
				margin-right: 0.3em;

				&:empty {
					display: none;
				}
			}
		}
	}
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) {
	.payment-confirm {
		margin: 1rem 1rem;
	}
}
