.payment-confirm  {
	.panel {
		background-color: white;
	}

	h3 {
		font-size: 1.7em;
		line-height: 2em;
		font-weight: 400;
		color: $tertiary-grey;
		font-family: $body-font-family;
	}

	p {
		margin: 0;
		font-weight: 300;
		line-height: 1.5em;
	}


	fieldset {
		border: none;
		padding: 0;
	
		.title {
			overflow: hidden;
			font-size: 1.3em;
			line-height: 1.5em;
			font-weight: 400;
			color: $tertiary-grey;

			span { float: left; }

			a {
				position: relative;
				float: left;
				padding-left: 9px;
				top: -6px;
				color: #3fb3f6;
				cursor: pointer;
				text-transform: uppercase;
				font-size: 0.55em;
			}
		}

		.field {
			font-size: 0.9em;
		}

		.label {
			font-weight: 600;
			margin-right: 0.5em;
			background: none;
			color: $primary-grey;
			font-size: 1em;
			padding: 0;
		}

		.city {
			span {
				margin-right: 0.3em;

				&:empty {
					display: none;
				}
			}
		}
	}
}