.store-enrollment {
	padding: 1.5rem 0;
	.title {
		float: left;
		line-height: .4;
	}
	.price {
		float: right;
		color: $secondary-green;
	}
	.description {
		clear: both;
		margin-bottom: 0;
	}
	.actions {
		margin-top: 2rem;
		background: $secondary-green;
		text-align: center;
		a {
			color: white;
			text-decoration: none;
			display: block;
			padding: .5rem 0;
		}
	}
}

.gift-options-wrapper {
	.gift-options {
		$border-color: rgba(0,0,0,.1);
		list-style-type: none;
		margin: 0;
		box-shadow: 0 0 0 1px $border-color;
		& > * {
			padding: .625rem 1rem;
			position: relative;
			&:last-child {
				border-top: 1px solid $border-color;
			}
			&:after {
				@extend %chevron-right;
				color: $tertiary-grey;
				position: absolute;
				right: .625rem;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}
