.assignments-activity {
	padding: 0 0.25rem;
	font-size: 0.75rem;

	@media (min-width: 600px) {
		font-size: 0.875rem;
	}

	a.more {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.625rem;
		line-height: 3;
	}
}
