@import '~@nti/style-common';

.assignments-activity {
	.item {
		padding: 0.75em 0 0.75em 1em;

		& > a[href] {
			color: inherit;
		}

		&.unread {
			position: relative;
			font-weight: 600;

			&::before {
				content: '•';
				color: var(--primary-blue);
				position: absolute;
				left: 0.25em;
			}
		}

		& > * {
			padding-right: 0.25rem;
		}

		address {
			display: inline;

			a[rel='author'] {
				color: inherit;
			}
		}

		time {
			float: right;
			color: var(--tertiary-grey);
		}

		.assignment-name {
			color: var(--primary-blue);
		}

		&::after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
