@import "~@nti/style-common";

.assignments-page-frame {
	max-width: 1024px;
	min-height: 100vh;
	margin: auto;
	background: #fff;

	> .content-area {
		background: #fff;

		@include clearfix;
	}
}


@media (min-width: 769px) {
	.assignments-page-frame {
		background: none;
		margin-top: 2rem;
		display: flex;

		> .content-area {
			flex: 1 1 auto;
			position: relative;
			border: 1px solid var(--border-grey-light);
		}

		.assignments-nav {
			flex: 0 0 250px;
			z-index: 999;
			box-shadow: inset 0 0 0 1px var(--border-grey-light);
		}
	}
}
