@import "~@nti/style-common";
$alt-grey: darken($panel-background, 3.9%); // #f1f1f1

.search-sort-bar {
	display: flex;
	align-items: center;
	height: 3.125rem;
	background: $panel-background;
	border-color: $alt-grey;
	border-style: solid;
	border-width: 1px 0;

	& > * {
		flex: 1 1 50%;
	}


	input.search {
		margin: 0;
		box-shadow: inset 1px 0 0 0 $alt-grey !important;
		background: none;
		border: none !important;
		padding: .40625rem .75rem;
	}
}
