@import "~@nti/style-common";

.assignments-nav {
	padding: 0;
	margin: 0;

	ul {
		margin: 0;
		padding-top: .75rem;
		text-align:center;
		list-style: none;
		font-size: .6875rem;
		
		li {
			float: none;
			display: inline-block;
		}
		
		a {
			background-color: white;
			color: $primary-blue;
			padding-right:.5rem;
			padding-left:.5rem;
			padding-bottom: .75rem;
			margin-bottom: 1rem;
			display: block;
			.count {
				@include count-badge();
			}
		}
		
		.active {
			position:relative;
			$opacity: .1;
			$color: black;
			&:before { //underline
				content: '';
				border-bottom: 1px solid $color;
				position: absolute;
				width: 80%;
				margin-left:10%;
				bottom: 3px;
				opacity: $opacity;
				left: 0;
			}
			&:after { //arrow
				$arrowsize:1em;
				content:'';
				border:($arrowsize/2) solid transparent;
				position:absolute;
				bottom:4px;
				left:50%;
				margin-left:-($arrowsize/2);
				border-bottom-color:$color;
				opacity: $opacity;
			}
		}

		@media (max-width: 365px) {
			.button-group.filters {
				.button {
					.count {
						display: none; // hide the count to prevent wrapping.
					}
				}
			}
		}
	}


	.list-header-component { display: none; }
}

@media (min-width: 769px) {
	.assignments-nav {
		background: $quad-grey;
		margin: 0 .3125rem 0 0;

		position: sticky;
		top: 0;

		.list-header-component { display: block; }

		ul {
			box-shadow: inset -1px 0 0 #efefef;
			font-size: .875rem;
			text-align: left;

			& > li {
				display: block;
				a {
					padding: .625em 1em;
					color: var(--secondary-grey);
					margin: 0;
					background: none;
				}
			}

			.active {
				background: $primary-blue;
				box-shadow: inset 3px 0 0 0 darken($primary-blue, 20%);
				color: white;
				font-weight: 700;
				&::before {
					content: none;
				}
				&::after {
					content: none;
				}
			}
		}

	}
}
