@import "~@nti/style-common";

.compact {
	margin: 0 auto;
	background: transparent;

	.stream-infinite-scroll {
		padding: 0 rem-calc(10px);
	}

	.stream-bookmark .heading, .stream-highlight .heading {
		line-height: rem-calc(24px);
		padding: 5px 20px;
	}

	.stream-bookmark {
		.bookmark-content {
			padding: 20px 10px;

			.bookmark-context {
				overflow: hidden;
			}
		}
	}
}
