@import "~@nti/style-common";

.add-comment {
	background: #dcdcdc;
	border-radius: 0 0 3px 3px;
	overflow: hidden;
	position: relative;
	margin: -0.625rem;
	margin-top: 0;

	.placeholder {
		display: block;
		margin: 0.375rem;
		padding: 0.125rem 0.625rem;
		background: #fff;
		color: var(--tertiary-grey);
		font-style: italic;
		border-radius: 3px;
	}
}
