.activity-buckets .outline-node {
	background-color: transparent;
	color: white;
	background-image: linear-gradient(125deg, #53baf6, rgba(76, 143, 219, 0.6));
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5), inset 0 -43px 0 0 rgba(24, 82, 116, 0.5);

	.path {
		color: #bbe5fd;
	}

	.footer {
		color: #7accf7;
	}
}
