@import '~@nti/style-common';
@import 'utils/placeholders';

.header.assessment.common {
	color: var(--primary-grey);
	position: relative;
	padding: 0;
	padding-left: 50px;
	padding-left: calc(0.625rem + 40px);
	min-height: calc(2rem + 40px);
	background: var(--panel-background);
	border: 0 solid #ddd;
	border-width: 1px 0;
	display: flex;

	// top: -1.25rem;

	&::after {
		content: '';
		box-shadow: 0 -5px 15px 5px rgba(0, 0, 0, 0.2);
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100px;
		clip: rect(100px, auto, 150px, auto);
		background: #ddd;
		border-radius: 40em / 10px;
	}

	&::before {
		@extend %icon-assignment-due;

		content: '';
		width: 40px;
		height: 40px;
		position: absolute;
		top: 1rem;
		left: 0.625rem;
	}

	&.ontime::before {
		@extend %icon-assignment-ontime;
	}

	&.late::before {
		@extend %icon-assignment-late;
	}

	h4,
	h5,
	h6 {
		font-family: var(--body-font-family);
	}

	h4 {
		font-size: 0.875rem;
		font-weight: 700;
		word-break: break-word;
	}

	h6 {
		color: var(--secondary-grey);
		font-size: 0.625rem;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.6;
	}

	.meta,
	.grade-container {
		margin: 0.625rem 0;
		padding: 0 0.625rem;
	}

	.meta {
		flex: 1 1 auto;
	}
	.grade-container {
		flex: 0 0 auto;
	}

	.grade {
		font-size: 0.875rem;
		font-weight: 600;
		color: var(--secondary-grey);
	}

	.late {
		color: var(--primary-red);
	}
}

.assignment-navigation-bar-status-assignment {
	border-top: 1px solid var(--border-grey-light);
}
