@import '~@nti/style-common';
@import 'utils/placeholders';

.header.assessment.common.survey {
	display: block;
	padding-right: 0.625rem;

	&::before {
		@extend %icon-survey;

		background: none;
		font-size: 40px;
	}

	&.submitted::before {
		color: var(--secondary-green);
		content: '\221a';
		border: 0;
		border-radius: 40px;
		box-shadow: 0 0 0 1px var(--secondary-green);
		display: inline-block;
		margin: 1px; // ensure room for the box shadow
	}

	.links {
		font-size: 0.8rem;
		text-align: right;

		span.icon-report {
			margin-right: 0.5em;
		}

		a:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}
