@import "~@nti/style-common";
@import "utils/placeholders";

.question-part {
	&::after {
		clear: both;
		content: '';
		display: block;
		line-height: 0;
		margin: 0;
		padding: 0;
	}

	.part-content:not(:empty) {
		margin: 1rem 0;
	}

	.part-content:empty + div {
		margin-top: 1rem;
	}

	.part-help {
		min-height: 2rem;
		position: relative;

		a.close {
			position: absolute !important;
			z-index: 1;
			top: 0;
			right: 0;
			display: block;
			width: 1.5rem;
			height: 1.5rem;
			overflow: hidden;
			text-indent: -100px;

			&::after {
				@extend %x-close;

				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: {
					position: center center;
					repeat: no-repeat;
				}
			}
		}

		& > .solutions {
			border: 1px solid var(--border-grey);
			padding: 0.4rem;
			margin: 0;
			background: var(--panel-background);
		}
	}

	.question-submission {
		// float: right;
		position: relative;

		.error {
			bottom: -1rem;
		}

		& + .button-box {
			float: right;
			line-height: normal;
			padding: 0.6rem 1rem 0.8625rem;
			margin: 0;
		}
	}

	.button-box {
		margin: 0 1rem 0.5rem;
	}

	a.help-link {
		font-size: 0.875rem;
		color: var(--secondary-grey);
	}

	.form-input.administrative {
		@extend %interaction-disabled;
	}
}
