@import "~@nti/style-common";

.set-submission {
	font-size: 0.6875rem;
	font-style: italic;
	display: flex;

	&.complete {
		.status-line{color: var(--primary-green);}
	}

	.status-line {
		padding-left: 0.75rem;
		color: var(--primary-red);
		font-weight: 300;
		align-self: center;
		order: 1;
		flex: 1 1 auto;
	}

	.button.reset {
		background: none;
		border-width: 0;
		color: var(--primary-grey);
		font-weight: 300;
		text-decoration: underline;
		text-transform: none;
		order: 2;
	}

	.button {
		flex: 0 0 auto;
		align-self: center;
		order: 3;
		letter-spacing: normal;
		padding: 0.75rem 1rem 0.8625rem;
		margin: 0;
		font-size: 0.75rem;
		font-weight: 600;
		background: var(--primary-blue);
		border-color: var(--border-blue);
		color: #fff;

		&.disabled {
			opacity: 1;
			background: var(--disabled-button-background);
			border-color: var(--disabled-button-border);
			color: var(--disabled-button-color);
		}
	}
}
