@import "components/notice";
@import "components/pricing-info";
@import "components/gift-info";
@import "components/gift-success";
@import "components/gift-form";
@import "components/payment-confirm";

.enrollment-panels {
	@include grid-column(12);
	& > * {
		.panel-button {
			@include grid-row();
			padding: 1rem;
			margin: 1rem 0;
		}
	}
}

iframe.thankyou {
	position: absolute;
	top: 0; left: 0;
	width: 1px; height: 1px;
	z-index: -1;
	opacity: 0;
}
