$icon-gear-menu: "\e900";
$icon-report: "\e800";
$icon-alert: "\f101";
$icon-share: "\e602";
$icon-add-image: "\e603";
$icon-discuss: "\e604";
$icon-bold-x: "\58";
$icon-light-x: "\78";
$icon-check: "\221a";
$icon-user-list: "\e609";
$icon-education: "\e60a";
$icon-location: "\e60b";
$icon-briefcase: "\e60c";
$icon-chevron-down: "\76";
$icon-chevron-left: "\3c";
$icon-chevron-right: "\3e";
$icon-chevron-up: "\5e";
$icon-info: "\69";
$icon-poll: "\e605";
$icon-survey: "\e606";
$icon-remove-user: "\e608";
$icon-add-user: "\e601";
$icon-trash: "\e60d";
$icon-edit: "\e60e";
$icon-more-options: "\e60f";
$icon-flag: "\e610";
$icon-reply: "\e611";
$icon-search: "\e801";
