@import "links";

.hidden {
	display: none;
}

.faded {
	opacity: 0.2;
}

.kill-transitions {
	transition: none !important;
}

.disabled {
	opacity: 0.4;
}

//iOS8 fails to fully transition from light to dark on body when the content
//of the page is not full or overflowing. So we're not going to transition
//this value. :(
//
//transition: background 0.4s ease-out 0.01s;
.darkmode {
	background: #333 !important;
}

.scroll-lock {
	&, & > body {
		// height: 100%;
		max-height: 100vh;
		overflow: hidden !important;
		position: relative; //NTI-6270
	}
}

.animate {
	transition: all 0.3s ease-out;
}

.button-row {
	text-align: right;
}

.coordinate-root {
	position: relative;
}

.error[data-error-message]::after {
	content: attr(data-error-message);
	position: absolute;
	top: 0;
	left: 1.5rem;
	max-width: 86%;
	background: var(--primary-red);
	color: $secondary-red;
	display: block;
	padding: 0.25rem;
	border: 1px solid $secondary-red;
	font-size: 0.75rem;
	font-weight: 600;
	font-style: italic;
}
