@import "whiteboard-icon";

.modeled.editor {
	border: 1px solid $border-grey;
	background: #fff;
	position: relative;

	-webkit-overflow-scrolling: touch;
	overflow: {
		x: hidden;
		y: auto;
	}

	&.busy {
		@extend %inline-loader;
	}

	[contenteditable] {
		color: $primary-grey;
		min-height: 3rem;
		padding: 0.6rem;
		padding-bottom: 2.5rem;//on android, the selection handlebars get in the way of the bottom toolbar.
		line-height: normal;
		font: {
			size: 1rem;
			weight: normal;
			style: normal;
		}
		&:focus {
			outline: 1px solid $primary-blue;
			box-shadow: inset 0 0 5px -1px rgba(0,0,0, 0.3);
			background-color: rgba(245,245,245,0.2);
		}
	}

	$formats: bold,italic,underline;
	@each $format in $formats {
		button[data-format=#{$format}] {
			@extend %icon-editor-#{$format};
			.touch & {display: none;}
		}
		button[data-format=#{$format}]:active,
		button[data-format=#{$format}]:focus,
		&.format-#{$format} button[data-format=#{$format}] {
			@extend %icon-editor-#{$format}-active;
		}
	}

	.insert-whiteboard {
		@extend %icon-editor-image;
		&:active, &:focus {
			@extend %icon-editor-image-active;
		}

		input[type=file] {
			position: absolute;
			cursor: pointer;
			right: 0;
			bottom: 0;
			padding: 0;
			margin: 0;
			font-size: 2rem;
			border: 0;
			background-color: red; //for debugging
			opacity: 0;
		}
	}

	.right-south {
		position: relative;
		float: right;


		button {
			margin: 0;
			padding: 0 1.25rem;
			text-transform: none;

			letter-spacing: normal;
			line-height: 2.4rem;
			height: 2.4rem;
			vertical-align: middle;
			text-align: center;

			&.save {
				font-weight: 600;
				font-size: 0.9rem;
				min-width: 90px;
				background: $primary-blue;
				border: 1px solid $border-blue;
				color: white;

				html:not(.touch) &:hover {
					opacity: 0.9;
				}

				&.disabled {
					&, &:hover {
						opacity: 0.5;
						background: $tertiary-grey;
						border-color: $border-grey;
					}
				}
			}

			&.cancel {
				font-weight: 400;
				font-size: 0.75rem;
				text-decoration: underline;
				background: none !important;
				border: 0;
				color: $primary-grey;
			}
		}
	}

	.toolbar {
		background: $panel-background;
		border: 0 solid $border-grey;

		&::after {
			content: '';
			display: table;
			clear: both;
		}

		&.south {
			border-top-width: 1px;
		}

		& > button, & > .button {
			color: $secondary-grey;
			font-weight: bold;
			margin: 0;
			padding: 0;
			width: 1.875rem;
			height: 2.375rem;
			vertical-align: bottom;

			background: {
				color: $panel-background;
				repeat: no-repeat;
				position: center center;
			}

			position: relative;
			text-indent: -1000px;
			overflow: hidden;

			&:active,
			&:focus {
				outline: none;
				background-color: darken($panel-background, 10%);
			}
		}
	}
}
