.body-divider {
	display: block;

	.whiteboard-container {
		display: inline-block;
		position: relative;
		overflow: hidden;
		cursor: pointer;

		padding: 0px;
		margin: 3px;
		margin-bottom: 8px;
		border: 1px solid $tertiary-grey;
		box-shadow: 2px 3px 1px 0 rgba(0,0,0,0.13);

		.whiteboard-wrapper {
			position: relative;
			overflow: hidden;

			.overlay {
				display: none;
				position: absolute;
				top: 0; left: 0; bottom: 35px; right: 0;
				box-shadow: inset 0 0 0 5px white;
				background: rgba(63, 179, 246, 0.05);
				// @include animate(pulseIn,0.5s);
			}
		}

		// .editor-active &,
		// &:hover {
		// 	.whiteboard-wrapper {
		// 		.overlay {
		// 			display: block;
		// 		}
		// 	}
		// }

		img.whiteboard-thumbnail {
			width: 100%;
			height: auto;

			.x-chat-log-entry &,
			.x-chat-log-entry-pinnded & {
				width: 90%;
			}
		}

	}
}
