@import "~@nti/style-common";

.button.library-add {
	padding: 0.3125rem 1rem;
	border-radius: 5px;
	background: var(--secondary-green);
	font-size: 0.75rem;
	font-weight: 700;
	text-transform: none;
	margin: 0;
	color: white;
}
