@import '~@nti/style-common';

.library-branding-container {
	max-width: 150px;
	overflow: hidden;
	height: 45px;
}

.library-branding-asset {
	max-height: 45px;
	width: auto;
	display: block;
}

nav.nav-bar.searchable-library {
	margin-bottom: 10px;

	.branding {
		max-width: 75%;
	}

	.launch-search {
		color: white;
	}
}

.library-view {
	.button.library-add {
		margin: 0;
	}
}
