@import "~@nti/style-common";

.library-branding-container {
	max-width: 150px;
	overflow: hidden;
	height: 45px;
}

.library-branding-asset {
	max-height: 45px;
	width: auto;
	display: block;
}

nav.nav-bar.searchable-library {
	margin-bottom: 10px;

	.branding {
		max-width: 75%;
	}

	.launch-search {
		color: white;
	}
}

.library-view {
	.button.library-add {
		padding: 0.3125rem 1rem;
		border-radius: 5px;
		background: $secondary-green;
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: none;
		margin: 0;
		color: white;
	}
}

