@import "~@nti/style-common";

nav.nav-bar.searchable-library {
	margin-bottom: 10px;

	.branding {
		max-width: 75%;
	}

	.launch-search {
		color: white;
	}

	.search-container {
		background-color: #525252;

		input {
			background-color: #494949;
			color: white;
		}

		.icon-bold-x {
			color: white;
		}
	}
}

.library-view {
	.button.library-add {
		padding: 0.3125rem 1rem;
		border-radius: 5px;
		background: $secondary-green;
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: none;
		margin: 0;
		color: white;
	}
}

