@import "~@nti/style-common";

.library-section-title-old {
	flex: 1 1 auto;
	color: var(--tertiary-grey);
	font: normal normal 1.25rem var(--body-font-family);
	margin: 0;
}

a.library-section-title-old {
	&, &:active, &:focus, &:hover, &:visited {
		color: #fff;
	}

	flex: 0 0 auto;
	font-size: 1rem;
	display: inline-block;
	position: relative;

	&::after {
		@extend %chevron-right;

		position: absolute;
		font-size: inherit;
		right: -1.1rem;
		top: 50%;
		color: white;
		transform: translateY(-50%);
	}
}
