@import "~@nti/style-common";

.library-section-title {
	flex: 1 1 auto;
	color: $tertiary-grey;
	font: normal normal 1.25rem $body-font-family;
	margin: 0;
}

a.library-section-title {
	&, &:active, &:focus, &:hover, &:visited {
		color: #fff;
	}
	flex: 0 0 auto;
	font-size: 1rem;
	display: inline-block;
	position: relative;

	&::after {
		@extend %chevron-right;
		position: absolute;
		font-size: inherit;
		right: -1.1rem;
		top: 50%;
		color: white;
		transform: translateY(-50%);
	}
}
