@import "components/annotations";
@import "components/breadcrumb";
@import "components/client-content-overrides";
@import "components/discussions";
@import "components/discussion-details";
@import "components/discussion-item-actions";
@import "components/gutter";
@import "components/glossaryentry";
@import "components/markupframe";
@import "components/media-rolls";
@import "components/note-editor";
@import "components/table-of-contents";
@import "components/view";

widget:empty {
	display: inline-block;
	padding: 3rem;
	border: 1px solid $panel-border-color;
	background: $panel-background;
	position: relative;
	text-align: center;
	color: white;
	&:after {
		content: 'Coming soon to mobile';
		color: $panel-border-color;
	}
}


widget[data-type$="vnd.nextthought.canvas"] {
	background-color: white;
	border: none;
	display: block;
	padding: 1rem;

	&::after {
		content: '';
		display: block;
		width: 239px;
		/*height: 239px; */
		padding-bottom: 100%;
		max-width: 100%;

		background-repeat: no-repeat;
		@extend %icon-broken-whiteboard;
	}
}
