// @mixin blur-effect() {
// 	//filter: blur(add = 0, direction = 0, strength = 10);//IE
// 	//filter: url(#blur-effect);//moz
// 	filter: blur(8px);
// }

// We use this to do clear floats
@mixin clearfix {
	&:before, &:after {
		clear: both;
		content: " ";
		display: table;
		margin: 0;
		overflow: hidden;
		padding: 0;
		position: relative;
	}
}


@mixin vertical-align {
	position: relative;
	top: 50%;
	transform: translate3d(0,-50%, 0);
}

@mixin viewports($rule, $factor) { // used by viewportWidth and viewportHeight, below.
	//iOS 7 fix:
	// iPad with portrait orientation.
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
		#{$rule}: #{768*$factor}px;
	}

	// iPad with landscape orientation.
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
		#{$rule}: #{1024*$factor}px;
	}

	// iPhone 1-4 with portrait orientation.
	@media all and (device-width: 320px) and (device-height: 480px) and (orientation:portrait){
		#{$rule}: #{320*$factor}px;
	}

	// iPhone 1-4 with landscape orientation.
	@media all and (device-width: 320px) and (device-height: 480px) and (orientation:landscape){
		#{$rule}: #{480*$factor}px;
	}

	// iPhone5 with portrait orientation.
	@media all and (device-width: 320px) and (device-height: 568px) and (orientation:portrait){
		#{$rule}: #{320*$factor}px;
	}

	// iPhone5 with landscape orientation.
	@media all and (device-width: 320px) and (device-height: 568px) and (orientation:landscape){
		#{$rule}: #{568*$factor}px;
	}
	//iPhone 6's never had iOS7 on them.
}

@mixin viewportWidth($rule, $value) {
	$w: $value;
	#{$rule}: #{$w}vw;
	$factor: $w/100;
	@include viewports($rule, $factor)
}


@mixin viewportHeight($rule, $value) {
	$h: $value;
	#{$rule}: #{$h}vh;
	$factor: $h/100;
	@include viewports($rule, $factor)
}
