@mixin metadata() {
	background: rgba(0,0,0,0.2);
	border-radius:2px;
	color:white;
}


@mixin count-badge() {
	@include metadata();
	padding:.2em .5em;
	margin-left:.25em;
	display: inline-block;
	font-family: var(--body-font-family);
	font-weight: bold;
	margin-right:-.25em;
}

@mixin menu-click-mask {
	// click mask: intercept click events outside the menu
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.001);
	z-index: 2000;
}

@mixin menu-shadow {
	box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.3);
}

@mixin panel-menu {
	@include menu-shadow;
	$padding: .625rem;
	position: absolute;
	top: -(1.5rem + $padding);
	left: -$padding;
	list-style: none;
	margin: 0;
	padding: 0;
	background: white;
	z-index: 9999;
	border: 1px solid #dcdcdc;
	min-width: 200px;
	li {
		white-space: nowrap;
		color: var(--secondary-grey);
		text-transform: none;
		font-weight: 600;
		font-size: .9rem;
		padding: .25rem $padding;
		&.title {
			color: var(--tertiary-grey);
			text-transform: uppercase;
			font-size: .625rem;
			padding-top: .625rem;
			font-weight: 700;
		}
		&.search-item {
			background: var(--quad-grey);
			padding: .5rem $padding;
		}
		input {
			margin: 0;
			box-sizing: border-box;
		}
		&.selected {
			background: var(--primary-blue);
			color: white;
		}
	}
}
