
%profile-social-twitter { background-image: url(../images/icons/social/twitter.png); }
%profile-social-facebook { background-image: url(../images/icons/social/facebook.png); }
%profile-social-googleplus { background-image: url(../images/icons/social/google.png); }
%profile-social-linkedin { background-image: url(../images/icons/social/linkedin.png); }

%avatar-admin-badge { background-image: url(../images/icons/admin_badge.png); }

%circle-white-check {background-image: url(../images/icons/circle-check-white-20.png);}
%circle-white-check-large {background-image: url(../images/icons/circle-check-white-large.png);}
%circle-grey-x {background-image: url(../images/icons/circle-x-grey-16.png);}
%x-close {background-image: url(../images/icons/close.png);}
%x-light {background-image: url(../images/icons/light-x.png);}

%icon-assignment-due {background-image: url(../images/icons/assignment_due.png);}
%icon-assignment-due-small {background-image: url(../images/icons/assignment_due_small.png);}
%icon-assignment-late {background-image: url(../images/icons/assignment_late.png);}
%icon-assignment-late-small {background-image: url(../images/icons/assignment_late_small.png);}
%icon-assignment-ontime {background-image: url(../images/icons/assignment_ontime.png);}
%icon-assignment-ontime-small {background-image: url(../images/icons/assignment_ontime_small.png);}
%icon-assignment-timed {background-image: url(../images/icons/assignment-timed.png);}

%icon-gift {background-image: url(../images/icons/gift.png);}
%icon-modal-red-sign {background-image: url(../images/icons/modal-red-sign.png);}
%icon-play {background-image: url(../images/icons/play.png);}
%icon-transcript {background-image: url(../images/icons/play-transcript.png);}

%icon-close { background-image: url(../images/icons/close.png); }

%icon-editor-image {background-image: url(../images/icons/editor/image.png);}
%icon-editor-image-active {background-image: url(../images/icons/editor/image_active.png);}
%icon-editor-video {background-image: url(../images/icons/editor/video.png);}
%icon-editor-video-active {background-image: url(../images/icons/editor/video_active.png);}

%icon-editor-bold {background-image: url(../images/icons/editor/bold.png);}
%icon-editor-bold-active {background-image: url(../images/icons/editor/bold_active.png);}
%icon-editor-italic {background-image: url(../images/icons/editor/italic.png);}
%icon-editor-italic-active {background-image: url(../images/icons/editor/italic_active.png);}
%icon-editor-underline {background-image: url(../images/icons/editor/underline.png);}
%icon-editor-underline-active {background-image: url(../images/icons/editor/underline_active.png);}

%icon-editor-content-object {background-image: url(../images/icons/filetype-unknown.png);}
%icon-editor-content-video {background-image: url(../images/icons/filetype-video.png);}

%icon-edit-14 {background-image: url(../images/icons/editor/image-edit-14.png);}
%icon-search-18 {background-image: url(../images/icons/search-18.png);}

%icon-discussions {background-image: url(../images/icons/discussions.png); }

%icon-nav-contacts {background-image: url(../images/icons/nav-contacts.png);}
%icon-nav-contacts-active {background-image: url(../images/icons/nav-contacts_active.png);}
%icon-nav-contacts-hover {background-image: url(../images/icons/nav-contacts_hover.png);}

%icon-nav-forums {background-image: url(../images/icons/nav-forum.png);}
%icon-nav-forums-active {background-image: url(../images/icons/nav-forum_active.png);}
%icon-nav-forums-hover {background-image: url(../images/icons/nav-forum_hover.png);}

%icon-nav-library {background-image: url(../images/icons/nav-library.png);}
%icon-nav-library-active {background-image: url(../images/icons/nav-library_active.png);}
%icon-nav-library-hover {background-image: url(../images/icons/nav-library_hover.png);}
