@import "../fonts/icomoon/variables";

%scroll-style {
	html:not(.touch) &::-webkit-scrollbar {
		width: 8px;
		height: 8px;
		// &:window-inactive {
		// 	display: none;
		// }

		&-track {
			border-radius: 8px;
			background: rgba(255,255,255,0.1);
		}

		&-thumb {
			border-radius: 4px;
			background: rgba(0,0,0,0.2);
		}
	}
}


%svg-icon-mask {
	mask-size: 100% 100%;
	background-color: $secondary-grey;
}

%icon-font {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%chevron {
	font-family: 'icomoon';
	content: '<';
	color: $primary-blue;
	font-size: 1.5em;
	vertical-align: middle;
}

%chevron-left {
	@extend %chevron;
	position: relative;
	top: -1px;
}

%chevron-left-white {
	@extend %chevron-left;
	color: white;
}

%chevron-right {
	@extend %chevron;
	content: '>';
}

%chevron-right-white {
	@extend %chevron-right;
	color: white;
}

%chevron-up {
	@extend %chevron;
	content: '^';
}

%chevron-up-white {
	@extend %chevron-up;
	color: white;
}

%chevron-down {
	@extend %chevron;
	content: 'v';
}

%chevron-down-white {
	@extend %chevron-down;
	color: white;
}

%profile-education {
	@extend %svg-icon-mask;
	mask-image: url(../images/svg/profile-education.svg);

}
%profile-location {
	@extend %svg-icon-mask;
	mask-image: url(../images/svg/profile-location.svg);
}
%profile-professional {
	@extend %svg-icon-mask;
	mask-image: url(../images/svg/profile-professional.svg);
}

%profile-card-chat-icon { background-image: url(../images/icons/chat-32-blue.png); }
%profile-social-twitter { background-image: url(../images/icons/social/twitter.png); }
%profile-social-facebook { background-image: url(../images/icons/social/facebook.png); }
%profile-social-googleplus { background-image: url(../images/icons/social/google.png); }
%profile-social-linkedin { background-image: url(../images/icons/social/linkedin.png); }

%avatar-admin-badge { background-image: url(../images/icons/admin_badge.png); }

%checkbox-image {background-image: url(../images/icons/checkbox-14.png);}
%checkbox-image-active {background-image: url(../images/icons/checkbox-14_active.png);}
%checkbox-image-hover {background-image: url(../images/icons/checkbox-14_hover.png);}

%radiobox-image {background-image: url(../images/icons/radio-button-16.png);}
%radiobox-image-active {background-image: url(../images/icons/radio-button-16_active.png);}
%radiobox-image-hover {background-image: url(../images/icons/radio-button-16_hover.png);}

%circle-green-check {background-image: url(../images/icons/circle-check-green-18.png);}
%circle-white-check {background-image: url(../images/icons/circle-check-white-20.png);}
%circle-white-check-large {background-image: url(../images/icons/circle-check-white-large.png);}
%circle-red-x {background-image: url(../images/icons/circle-x-red-18.png);}
%circle-grey-x {background-image: url(../images/icons/circle-x-grey-16.png);}
%x-close {background-image: url(../images/icons/close.png);}
%x-light {background-image: url(../images/icons/light-x.png);}

%icon-favorite {background-image: url(../images/icons/favorite.png);}
%icon-favorite-active {background-image: url(../images/icons/favorite_active.png);}
%icon-like {background-image: url(../images/icons/like.png);}
%icon-like-active {background-image: url(../images/icons/like_active.png);}

%icon-assignment-due {background-image: url(../images/icons/assignment_due.png);}
%icon-assignment-due-small {background-image: url(../images/icons/assignment_due_small.png);}
%icon-assignment-late {background-image: url(../images/icons/assignment_late.png);}
%icon-assignment-late-small {background-image: url(../images/icons/assignment_late_small.png);}
%icon-assignment-ontime {background-image: url(../images/icons/assignment_ontime.png);}
%icon-assignment-ontime-small {background-image: url(../images/icons/assignment_ontime_small.png);}
%icon-assignment-timed {background-image: url(../images/icons/assignment-timed.png);}
%icon-external-link {background-image: url(../images/icons/extern-link.png);}
%icon-external-link-hover {background-image: url(../images/icons/extern-link_hover.png);}
%icon-gift {background-image: url(../images/icons/gift.png);}
%icon-modal-red-sign {background-image: url(../images/icons/modal-red-sign.png);}
%icon-play {background-image: url(../images/icons/play.png);}
%icon-transcript {background-image: url(../images/icons/play-transcript.png);}

%icon-close { background-image: url(../images/icons/close.png); }

%icon-editor-image {background-image: url(../images/icons/editor/image.png);}
%icon-editor-image-active {background-image: url(../images/icons/editor/image_active.png);}
%icon-editor-video {background-image: url(../images/icons/editor/video.png);}
%icon-editor-video-active {background-image: url(../images/icons/editor/video_active.png);}

%icon-editor-bold {background-image: url(../images/icons/editor/bold.png);}
%icon-editor-bold-active {background-image: url(../images/icons/editor/bold_active.png);}
%icon-editor-italic {background-image: url(../images/icons/editor/italic.png);}
%icon-editor-italic-active {background-image: url(../images/icons/editor/italic_active.png);}
%icon-editor-underline {background-image: url(../images/icons/editor/underline.png);}
%icon-editor-underline-active {background-image: url(../images/icons/editor/underline_active.png);}

%icon-editor-content-object {background-image: url(../images/icons/filetype-unknown.png);}
%icon-editor-content-video {background-image: url(../images/icons/filetype-video.png);}

%icon-edit-14 {background-image: url(../images/icons/editor/image-edit-14.png);}
%icon-search-18 {background-image: url(../images/icons/search-18.png);}

%icon-discussions {background-image: url(../images/icons/discussions.png); }

%icon-topic {background-image: url(../images/icons/topic.png); }
%icon-topic-blue {background-image: url(../images/icons/topic-blue.png); }
%icon-topic-active {background-image: url(../images/icons/topic_active.png); }

%icon-nav-contacts {background-image: url(../images/icons/nav-contacts.png);}
%icon-nav-contacts-active {background-image: url(../images/icons/nav-contacts_active.png);}
%icon-nav-contacts-hover {background-image: url(../images/icons/nav-contacts_hover.png);}

%icon-nav-forums {background-image: url(../images/icons/nav-forum.png);}
%icon-nav-forums-active {background-image: url(../images/icons/nav-forum_active.png);}
%icon-nav-forums-hover {background-image: url(../images/icons/nav-forum_hover.png);}

%icon-nav-library {background-image: url(../images/icons/nav-library.png);}
%icon-nav-library-active {background-image: url(../images/icons/nav-library_active.png);}
%icon-nav-library-hover {background-image: url(../images/icons/nav-library_hover.png);}

%middot-before {
	&::before {
		@extend %middot;
	}
}

%middot-after {
	&::after {
		@extend %middot;
	}
}

%middot {
	text-decoration: none;
	position: static;
	content: '\00B7';
	padding: 0 0.5em;
	background: none;
}

%hardware-render {
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

%touch-scroll {
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
