$header-font-family: 'Open Sans Condensed';
$body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$button-font-family: 'Open Sans';
$count-badge-font-family: 'Open Sans';
$input-font-family: $button-font-family;

$sidenav-font-family: 'Open Sans Condensed';

$button-disabled-opacity: 0.3;


//colors
$primary-grey: #494949;
$secondary-grey: #757474;
$secondary-grey-alt: #787878;
$tertiary-grey: #b8b8b8;
$tertiary-grey-alt: #d1d1d1;
$quad-grey: #f8f8f8;//f9f9f9

$cursor-default-value: $secondary-grey;
$input-disabled-cursor: $cursor-default-value;
$input-placeholder-font-color: rgba($tertiary-grey, 0.8);

$disabled-button-border: #d0d0d0;
$disabled-button-background: rgba(184,184,184,0.5);
$disabled-button-color: rgba(255,255,255,0.7);

$button-bg-color: $primary-color;
$button-bg-hover: $button-bg-color;
$secondary-button-bg-hover: $secondary-color;

$primary-red: #F35252;
$secondary-red: #750000;

$primary-blue: #3fb3f6;

$primary-green: #8eb737;
$secondary-green: #3fb34f;

$primary-orange: #fa8700;

$border-blue: #39a1dd;
$border-grey: #ccc;
$border-gray: $border-grey;
//$border-grey: #dbdbdb;
$border-grey-light: #ededed;
$border-red: #f35252;
$text-red: #f2713e;

$panel-background: #fbfbfb;


$highlight-colors: (
	// (name, menu color, hover) actual highlight will be computed from hover color.
	('yellow',#EDE619,#F9F6AF),
	('green',#4CE67F,#B7F5CC),
	('blue',#3FB3F6,#CFECFD)
);


$body-font-color: $primary-grey;
$header-font-color: $primary-grey;
$accordion-navigation-font-color: $primary-grey;
$keystroke-font-color: $primary-grey;
$pagination-li-font-color: $primary-grey;
$table-head-font-color: $primary-grey;
$table-row-font-color: $primary-grey;
$tabs-navigation-font-color: $primary-grey;
$anchor-font-color-hover: $primary-blue;


//assessment vars
$correct: #9AC73C;
$incorrect: #F35252;
$neutral: $primary-blue;
