@import "~nti-style-common";

.course-description {
	margin-bottom: .5rem;
}

.course-details {
	margin-bottom: 2rem;

	dl {
		box-shadow: 0 1px 0 #f1f1f1;
		padding: 1rem 0;
		margin: 0;
		dt {
			font-size: .625rem;
			text-transform: uppercase;
			font-weight: 600;
			color: $tertiary-grey;
			margin: 0;
			margin-bottom: .5rem;
		}
		dd {
			margin: 0;
		}
	}

	.cols {
		display:flex;
		flex-wrap: wrap;
		padding: 0;
		& > * {
			flex: 1 1 auto;
		}
	}
}
