
.course-detail-view {
	& > * {
		padding: 0 .9375rem;
	}

	.header {
		margin-bottom: 0.5rem;
		padding: 0;
	}

	.cell {
		margin-bottom: 0.5rem;
	}

	.footer {
		margin-bottom: 3rem;
	}

	.course-inline-editor.view-only {
		padding: 0;
		max-width: 100%;

		.course-info-editor-section {
			padding: 0 0.9375rem;

			.contents {
				padding-bottom: 20px;
				padding-top: 14px;

				.columned .field-info {
					margin-bottom: 10px;
				}

				.content-column {
					max-width: 100%;
				}
			}
		}

		.facilitator-info {
			padding-top: 0;
		}
	}
}
