.catalog-entry-title {
	.promo-image {
		margin: 0;
		padding: 0;
		padding-bottom: 56.34%;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #000;
	}
}
