.catalog-entry-title {
	.promo-image {
		margin: 0;
		padding: 0;
		padding-bottom: 56.34%;

		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #000;
	}

	.video-wrap {padding:0; .nti-video{ margin-bottom: 0;}}

	.title {
		background: rgba(0,0,0,0.8);
		padding: 0 .9375rem;

		.text {
			color: #fff;
			text-transform: uppercase;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;
		}
	}
}
