.calendar-main.nti-mobile-calendar {
	max-width: 100%;
	height: 100vh;
	overflow: auto;

	.calendar-body {
		.calendar-day {
			.day-events {
				.event-generic-meta, .assignment-main-container, .webinar-content {
					width: calc(100% - 50px);

					.assignment-meta, .webinar-meta {
						width: 100%;
					}
				}
			}
		}
	}
}

.modal-mask {
	dialog.modal-content {
		width: 100%;
		height: 100%;

		.save-cancel-layout {
			background-color: white;
		}

		.save-cancel-dialog {
			height: 100%;

			.event-view-dialog, .goto-webinar-registration {
				height: 100%;

				.save-cancel-content {
					height: 100%;

					.calendar-event-editor {
						height: 100%;
					}
				}
			}
		}
	}
}

// .nti-mobile-calendar {
// 	max-width: 480px;
// 	height: 100vh; // facilitates calendar body scrolling/pull-to-load-more
// 	margin: 0 auto;
// }
//
// .modal-content {
// 	.nti-mobile-calendar {
// 		width: 100%;
// 	}
// }
