.calendar-main.nti-mobile-calendar {
	max-width: 100%;
	height: calc(100vh - 42px); // leave room for header bar
	overflow: auto;

	.calendar-header {
		.controls {
			.calendar-back-button {
				position: absolute;
				left: 1rem;
			}
		}
	}

	.calendar-body {
		.calendar-day {
			.day-events {
				.event-generic-meta, .assignment-main-container, .webinar-content {
					width: calc(100% - 50px);

					.assignment-meta, .webinar-meta {
						width: 100%;
					}
				}
			}
		}
	}
}

.modal-mask {
	dialog.modal-content {
		width: 100%;
		height: 100%;

		.save-cancel-layout {
			background-color: white;
		}

		.save-cancel-dialog {
			height: 100%;

			.event-view-dialog, .goto-webinar-registration {
				height: 100%;

				.save-cancel-content {
					height: 100%;

					.calendar-event-editor {
						height: 100%;
					}
				}
			}
		}
	}
}

.save-cancel-dialog.event-view-dialog-dialog {
	background-color: white !important;
}
