@import "~@nti/style-common";

.application-highlight {
	// &.suppressed {
	//	// do nothing special when range is suppressed.
	// }

	& + li.part,
	& + li.exercise {
		&::before, &::after {
			z-index: 1;
			color: #076da7;
		}
	}

	&.plain {
		overflow: hidden;

		&, * {
			position: relative;
		}

		.math & {
			display: inline-block;
		}

		&.colored {
			&.yellow {
				background-color: var(--highlight-colors-yellow);
				box-shadow: 0 0 3px 0 var(--highlight-colors-yellow);

				&.highlight-mouse-over {
					background-color: var(--highlight-colors-yellow-hover);
				}
			}

			&.green {
				background-color: var(--highlight-colors-green);
				box-shadow: 0 0 3px 0 var(--highlight-colors-green);

				&.highlight-mouse-over {
					background-color: var(--highlight-colors-green-hover);
				}
			}

			&,
			&.blue {
				background-color: var(--highlight-colors-blue);
				box-shadow: 0 0 3px 0 var(--highlight-colors-blue);

				&.highlight-mouse-over {
					background-color: var(--highlight-colors-blue-hover);
				}
			}

			&.blackout.blackout {
				&, &::selection {
					background: var(--primary-grey);
					color: rgba(0, 0, 0, 0) !important;
					box-shadow: none;
				}

				img, a, a:link, a[href], * {
					visibility: hidden;
				}

				&.highlight-mouse-over {
					background: var(--primary-grey);
				}
			}
		}

		&:not(.colored) {
			&, .math {
				background: none;
				color: var(--primary-grey);
				border-bottom: 1px solid #9fd9fa;
			}

			& & {//the "& &" is intentional
				&, .math {
					border-bottom: none;
				}
			}
		}
	}
}
