.nti-mobile-right-overlay {
	display: flex;
	flex-direction: column;
	height: 100vh;

	& > * {
		flex: 0 0 auto;
	}

	.nti-mobile-drawer-tab-panel {
		flex: 0 1 auto;
		overflow: auto;
		display: flex;
		flex-direction: column;

		.nti-mobile-drawer-tabs {
			flex: 0 0 auto;
		}

		.nti-mobile-drawer-tab-content {
			flex: 1 1 auto;
			overflow: auto;
		}
	}
}

.modal-mask {
	dialog.modal-content {
		width: 100%;
		height: 100%;

		.save-cancel-layout {
			background-color: white;
		}

		.save-cancel-dialog {
			height: 100%;

			.event-view-dialog, .goto-webinar-registration {
				height: 100%;

				.save-cancel-content {
					height: 100%;

					.calendar-event-editor {
						height: 100%;
					}
				}
			}
		}
	}
}
