.contacts-nav {
	@extend %tabbed-nav;
}
.contacts-page {
	header {
		background: $primary-grey;
	}
	.search-field {
		position: relative;
		.icon {
			font-family: 'icomoon';
			position: absolute;
			top: .4em;
			right: .4em;
		}
		.clear-search-icon::after {
			content: 'x';
		}
		.search-icon::after {
			content: '\e600';
		}
	}

	.follow-widget {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: .5em;
		&::after {
			content: '\e608';
			font-size: 2rem;
			width: 2em;
			height: 2em;
			font-family: 'icomoon';
		}
		&.follow::after {
			content: '\e601';
		}
	}
}
