
@mixin highlight-tip {
	position: relative;
	top: 0;

	vertical-align: baseline;
	//vertical-align: initial;
	display: inline-block;
	width: 5px;
	width: 0px;
	overflow: hidden;
	//line-height: 23px;
	//height: 24px;
	text-align: center;
	padding: 0 0 0 4px;
}

@mixin highlight-colors($onParentSelector: true, $selector:'', $nibselector:null) {
	@each $item in $highlight-colors {
		$name: nth($item,1);
		$menu_color: nth($item,2);
		$hover_color: nth($item,3); // makeTransparentColor(nth($item,3));
		$highlight_color: lighten(nth($item,3), 4%); // makeTransparentColor(lighten(nth($item,3), 4%));

		$prefix: if($onParentSelector,'&','');

		$withColor: "#{$prefix}.#{$name} #{$selector}";
		$withOutColor: "#{$prefix} #{$selector}";

		$computedSelector: if($name=='blue', $withOutColor, $withColor);

		#{$computedSelector} {
			// color: $menu_color;
			background-color: $highlight_color;
			box-shadow: 0 0 0 3px $highlight_color;
			//transition: all 0.2s;

			&.highlight-mouse-over {
				background-color: $hover_color;
			}

			@if($nibselector) {
				#{$nibselector} {
					border-top-color: $highlight_color;
				}
			}
		}
	}
}

.math .application-highlight.plain {
	display: inline-block;
}

.application-highlight {
	&.suppressed {
		//do nothing special when range is suppressed.
	}

	& + li.part,
	& + li.exercise {
		&::before, &::after { z-index: 1; color: #076da7 }
	}

	// &.highlight-mouse-over {
	// 	& + li.part, & + li.exercise {
	// 		&::before, &::after { color: #ffffff; }
	// 	}
	// }

	&.plain {

		&, * {
			position: relative;
			z-index: 1;
		}

		// color: #076da7;
		// background-color: #e1f4fe;
		overflow: hidden;

		&:not(.shared-with-me) {
			@include highlight-colors();
			// clip-path: polygon(5px 4px, 50% 7%, 100% 16%, 98% 93%, 50% 86%, 0% 91%);
		}

		&.shared-with-me {
			&,.math {
				background: none;
				color: $primary-grey;
				border-bottom: 1px solid #9fd9fa;
			}


			// &.highlight-mouse-over {
			// 	&,.math {
			// 		color: #ffffff;
			// 		background-color: $primary-blue;
			// 	}
			// }

			.application-highlight.shared-with-me {
				&,.math {
					border-bottom: none;
				}
			}
		}

		// &.highlight-mouse-over{
		// 	&,a {
		// 		// color: #ffffff;
		// 		// background-color: $primary-blue;
		// 		.application-highlight {
		// 			background-color: transparent;
		// 		}
		// 	}
		//
		// 	&.counter {
		// 		background: transparent;
		// 	}
		// }

		&.redaction {
			&.redacted {
				display: none;
			}
			background: #efefef;
			color: $secondary-grey;
			border-bottom: 0px;
		}

		&.counter {
			color: $secondary-grey;
			font-weight: bold;

			background: transparent;

			@include highlight-tip;

			//this is adding a space between letters when the highlight ends in a word
			padding-left: 0;

			&.with-count {
				overflow: hidden;
				width: 30px;


				&.highlight-mouse-over{
					color: #ffffff;
				}

				span {
					display: block;
					text-align: center;
					margin-left: 5px;
					overflow: hidden;
					// white-space: nowrap;
					// text-overflow: ellipsis;
				}
			}
		}
	}
}



.add.annotation.toolbar {
	display: flex;
	align-items: center;

	.new-ugd {
		margin: 0 0.5rem;
		flex: 1 1 auto;
		text-indent: -1000px;
		overflow: hidden;
		position: relative;

		&:last-child {
			margin-right: 0;
		}

		&.highlight {
			flex: 0 1 auto;
			padding: 0;
			border-radius: 100%;
			width: 2rem;
			height: 2rem;
			border: 0;
			box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);

			&.yellow{background: #EDE619;}
			&.green{background: #4CE67F;}
			&.blue{background: #3FB3F6;}
		}

		&.note {
			font-size: 0.8125rem;
			font-weight: 700;
			padding: 0.5625rem 1rem;
			background: none;
			text-indent: 0;
			color: $primary-grey;
			text-transform: none;
			font-family: $body-font-family;
			letter-spacing: normal;
			flex: 0 0 auto;
			margin: 0;

			&::before {
				font-family: 'icomoon';
				font-size: 29px;
				font-weight: normal;
				vertical-align: middle;
				position: relative;
				left: -0.5px;//fix blur on 1x screens.
			}
		}

	}

	.spacer {
		flex: 2 2 auto;
		display: block;
		border-right: 1px solid #ccc;
		min-height: 2rem;
	}
}
