

@mixin highlight-colors($onParentSelector: true, $selector:'') {
	@each $item in $highlight-colors {
		$name: nth($item,1);
		$menu_color: nth($item,2);
		$hover_color: nth($item,3); // makeTransparentColor(nth($item,3));
		$highlight_color: lighten(nth($item,3), 4%); // makeTransparentColor(lighten(nth($item,3), 4%));

		$prefix: if($onParentSelector,'&','');

		$withColor: "#{$prefix}.#{$name} #{$selector}";
		$withOutColor: "#{$prefix} #{$selector}";

		$computedSelector: if($name=='blue', $withOutColor, $withColor);

		#{$computedSelector} {
			// color: $menu_color;
			background-color: $highlight_color;
			box-shadow: 0 0 0 3px $highlight_color;
			//transition: all 0.2s;

			&.highlight-mouse-over {
				background-color: $hover_color;
			}
		}
	}
}

.math .application-highlight.plain {
	display: inline-block;
}

.application-highlight {
	&.suppressed {
		//do nothing special when range is suppressed.
	}

	& + li.part,
	& + li.exercise {
		&::before, &::after { z-index: 1; color: #076da7 }
	}


	&.plain {

		&, * {
			position: relative;
			z-index: 1;
		}

		overflow: hidden;

		&:not(.shared-with-me) {
			@include highlight-colors();
		}

		&.shared-with-me {
			&,.math {
				background: none;
				color: $primary-grey;
				border-bottom: 1px solid #9fd9fa;
			}


			.application-highlight.shared-with-me {
				&,.math {
					border-bottom: none;
				}
			}
		}
	}
}



.add.annotation.toolbar {
	display: flex;
	align-items: center;
	padding-left: 0.5625rem;

	.ugd {
		margin: 0.594rem .3125rem;
		flex: 1 1 auto;
		text-indent: -1000px;
		overflow: hidden;
		position: relative;
		text-transform: none;
		letter-spacing: normal;
		outline: none;

		&:last-child {
			margin-right: 0;
		}

		&.delete {
			$stroke: #b2b2b2;
			flex: 0 1 auto;
			border: 0;
			padding: 0;
			width: 1.875rem;
			height: 1.875rem;
			background: transparent;
			border: 0.0625rem solid $stroke;
			border-radius: 100%;
			position: relative;

			&::after,
			&::before {
				content: '';
				position: absolute;
				width: 2px;
				height: 11px;
				background: $stroke;
				border-radius: 1px;
				top: 50%;
				left: 50%;
			}

			&::after {
				transform: translate3d(-50%, -50%, 0) rotate(45deg);
			}

			&::before {
				transform: translate3d(-50%, -50%, 0) rotate(-45deg);
			}
		}

		&.highlight {
			$color: rgba(0, 0, 0, 0.2);
			flex: 0 1 auto;
			padding: 0;
			border-radius: 100%;
			width: 1.875rem;
			height: 1.875rem;
			border: 0;
			box-shadow: inset 0 0 0 1px $color;

			&.yellow {background: #EDE619;}
			&.green {background: #4CE67F;}
			&.blue {background: #3FB3F6;}

			&::after {
				content: " " attr(data-color);
			}

			&.selected {
				box-shadow: inset 0 0 0 1px $color, 0 0 0 3px #e2e2e2, 0 0 0 4px #BFBFBF;

				&::before {
					content: '';
					display: block;
					width: 7px;
					height: 11px;
					border: solid rgba(0, 0, 0, 0.5);
					border-width: 0 3px 3px 0;
					position: absolute;
					overflow: hidden;
					left: 50%;
					top: 50%;
					transform: translate3d(-50%, 50%, 0) translate3d(0.5px,-13.5px,0) rotate(45deg) skewY(5deg);
					box-sizing: border-box;
					border-radius: 1px;
				}
			}
		}

		&.note {
			font-size: 0.8125rem;
			font-weight: 700;
			padding: 0.5625rem 1rem;
			background: none;
			text-indent: 0;
			color: $primary-grey;
			font-family: $body-font-family;
			flex: 0 0 auto;
			margin: 0;

			&::before {
				font-family: 'icomoon';
				font-size: 29px;
				font-weight: normal;
				vertical-align: middle;
				position: relative;
				left: -0.5px;//fix blur on 1x screens.
			}
		}

	}

	.spacer {
		flex: 2 2 auto;
		display: block;
		border-right: 1px solid #ccc;
		min-height: 2rem;
	}
}
