.content-view .breadcrumbs {
	min-height: 2rem;
	overflow: visible;
	//overflow: hidden;
	position: relative;
	white-space: nowrap;

	padding-left: 0.75rem;//1.1875rem;
	padding-right: 0.75rem;

	border-width: 1px 0;
	border-radius: 0;

	@include flexbox();

	.pager ~ li:last-of-type { margin-right: 3.3rem; }

	li {
		display: inline-block;
		overflow: hidden;
		@include flex(0 1 auto);
		@include ellipse;

		&:last-of-type {
			@include flex(1 1 auto);
		}
	}

	& > * { float: none; }
	& > *::before { margin: 0 0.35rem; }
	& > *:first-of-type::before {
		margin: 0;
		content: none;
	}

}

.forum .breadcrumbs {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .25em .75em;
	& > * {
		float: none;
		display: inline;
	}
}
