.glossary-entry {

	position: fixed;
	top: 0;
	left: 0;
	bottom: 100%;
	right: 100%;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.9);
	z-index: 9999;
	
	.def {
		top: 50%;
		position: relative;
		transform: translateY(-50%);
		background: white;
		padding: 2rem;
		box-shadow: 0 2px 4px rgba(128,128,128,.3);
		border-radius: 3px;
	}
	
}
