%transition-image {
	-webkit-transition: -webkit-transform .25s ease-out;
	transition: transform .25s ease-out;
}

.image-roll {
	margin: 2rem 0 2rem;
	background: $panel-background;
	border: 1px solid #f1f1f1;
	border-width: 1px 0;

	.page-contents & {
		margin-left: -0.75rem;//-1.1875rem;
		margin-right: -0.75rem;

		padding: 0.75rem;//1.1875rem;
	}



	a.zoom {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate3d(-50%,-50%,0));

		font-size: 1.5rem;
		color: rgba(255,255,255, 0.5);
		text-shadow: 0 0 4px rgba(0,0,0,0.5);
		padding: 20% 30%;
		opacity: 0.5;
	}

	label {
		font-weight: 600;
		// font-family: 'Open Sans';
		font-size: 1rem;
		padding: 0 0 0.5rem;
	}

	button {
		position: absolute;
		top: 2rem; bottom: 2rem;
		z-index: 10;
		margin: 0;
		padding: 0;
		border: 0;
		opacity: 0.75;
		background: {
			// color: initial;
			color: rgba(0,0,0,0.2);
			size: 3rem;
			repeat: no-repeat;
		}
		width: 3rem;
		height: auto;

		&:focus {
			outline: none;
			background-color: rgba(0,0,0,0.8);
		}

		&.prev {
			@extend %chevron-left-white;
			left: 0;
			border-radius: 0 0.6rem 0.6rem 0;
			background-position: -10px 50%;
		}

		&.next {
			@extend %chevron-right-white;
			right: 0;
			border-radius: 0.6rem 0 0 0.6rem;
			background-position: 10px 50%;
		}
	}

	.stage {
		overflow: hidden;
		padding-top: 66%;
		position: relative;

		-webkit-perspective: 100px;
		-moz-perspective: 100px;
		perspective: 100px;

		box-shadow: inset 0 0 3px black;
		background: #ccc;

		a.zoom, button {
			transition: opacity 0.5s;
		}

		&.touching {
			a.zoom, button {
				opacity: 0;
			}
		}
	}

	.image {
		@extend %hardware-render;
		position: absolute; top: 0; left: 0; bottom: 0;
		width: 100%;
		z-index: 1;

		background: {
			size: cover;
			repeat: no-repeat;
			position: center center;
		}

		& > img {
			position: absolute;
			opacity: 0;//for aria
		}

		&:empty {
			&::after {
				content: attr(data-empty-message);
				position: absolute;
				top: 50%;
				left: 50%;
				font: normal bold 10vw/1 $body-font-family;
				white-space: nowrap;
				@include transform(translate(-50%, -50%) rotate(20deg));
				color: rgba(204,204,204, 0.5);
			}
		}
	}


	.image {
		&.prev {
			z-index: 0;
		}

		&.next {
			z-index: 2;
			left: 100%;
		}
	}

	.stage.transitioning {

		.image {
			@extend %transition-image;
			-webkit-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}

		&.next {

			.image.next {
				-webkit-transform: translate3d(-100%,0,0) !important;
				transform: translate3d(-100%,0,0) !important;
			}

			.image.current,
			.image.prev {
				-webkit-transform: translate3d(0,0,-5px) !important;
				transform: translate3d(0,0,-5px) !important;
			}

		}

		&.prev {

			.image.prev,
			.image.next {
				-webkit-transform: translate3d(0,0,0) !important;
				transform: translate3d(0,0,0) !important;
			}

			.image.current {
				-webkit-transform: translate3d(100%,0,0) !important;
				transform: translate3d(100%,0,0) !important;
			}

			.image.prev {}

		}
	}

	ul {
		@extend %touch-scroll;
		display: block;
		white-space: nowrap;
		margin: 0;
		list-style-type: none;
		overflow: {
			x: auto;
			y: hidden;
		}

		box-shadow: 0 -1px 0 0 #fff; //top white line above border
		border-top: 1px solid $border-grey;

		li {
			width: 33.33%;
			display: inline-block;
			border: 0;
			vertical-align: top;
			background: {
				size: cover;
				repeat: no-repeat;
				position: center center;
			}

			.play {position: absolute; display: none;}

			&.active {
				a {
					box-shadow: inset 0 0 0 4px $primary-blue;
					background-color: rgba(0,0,0,0.5);
				}

				.play {
					display: block;
					font: normal 600 1.9rem/1 $body-font-family !important;
					color: #ffffff;
					background: rgba(0,0,0,0.7);
					padding: 0px 3px;
					border-radius: 90px;
					top: 50%;
					left: 50%;

					@include transform(translate3d(-50%, -50%, 0));
				}
			}

			a {
				display: block;
				padding-top: 56.25%;
			}
		}
	}
}
