.figure {
	.markupframe {
		display: block;
		.wrapper {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			.zoom {
				position: absolute;
				width: 2rem;
				height: 2rem;
				bottom: 0;
				right: 0;
				&.fi-magnifying-glass {
					text-shadow: 1px 2px 1px white, -1px -2px 1px white;
					color: $secondary-gray;
					font-size:1.4rem;
				}
			}
		}
	}
}
