
.markupframe {
	display: block;
	border: 1px solid $border-grey;//#dadada;

	&.bare {
		border: none;
	}

	.application-highlight & {
		margin-right: 1rem;
	}

	.wrapper {
		display: block;
		position: relative;

		.zoom {
			position: absolute;
			width: 2rem;
			height: 2rem;
			bottom: 0;
			right: 0;
			&.fi-magnifying-glass {
				text-shadow: 1px 2px 1px white, -1px -2px 1px white;
				color: $secondary-gray;
				font-size:1.4rem;
			}
		}
	}

	.bar {
		border-top: 1px solid $border-grey;//#dadada;
		cursor: default;
		display: block;
		position: relative;
		// z-index: 3;
		padding: 0 0.875rem 1.25rem;
		background: $panel-background;//#fafafa;
		min-height: 2.3125rem;

		span:first-child { margin-top: 0.875rem; }

		.image-caption,.image-title {
			line-height: 1.2rem;
			display: block;
			font-size: 1rem;
			font-weight: 600;
			color: $primary-grey;
		}

		.image-caption {
			font-size: 0.875rem;
			font-weight: normal;
			color: $secondary-grey;
		}

		.bar-cell {
			display: block;
		}

		a.bar-cell {
			border-left: 1px solid $border-grey;//#dadada;
			// & ~ .bar-cell {
			// 	margin-right: 45px;
			// }
		}



		/*a.mark {
			position: relative;
			width: 90px;
			height: 19px;
			line-height: 19px;
			font-size: 12px;
			font-weight: bold;
			color: $tertiary-grey-alt;
			padding-left: 24px;
			display: block;
			margin: 10px 0 -13px 0;

			&::after {
				content: ' ';
				overflow: hidden;
				position: absolute;
				top: 0; left: 3px;
				background: $icons no-repeat;
				@include sprite($icons,'add-comment-19x17',$dimensions:true);
			}

			&:hover {
				color: $secondary-grey-alt;
				&::after {
					@include sprite($icons,'add-comment-19x17_hover',$dimensions:true);
				}
			}
		}*/



		/*a.slide {
			display: none;
			width: 54px;
			background: $primary-blue;
			border-color: $border-blue;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;

			&::after{
				content: ' ';
				overflow: hidden;
				position: absolute;
				top: 44%;
				@include experimental-value(top, calc(50% - 9px));

				left: 17px;
				background: $icons no-repeat;
				@include sprite($icons,'presentation-view',$dimensions:true);
			}

			&:hover {
				&::after{
					@include sprite($icons,'presentation-view',$dimensions:true);
				}
			}
		}*/
	}
}
