
.content-view {
	position: relative;

	& > div > figure.loading {
		position: fixed;
	}

	.fixed-footer {
		&:not(.none) {
			min-height: 4rem;
		}

		& > .the-fixed {
			border: 1px solid $tertiary-grey;
			border-width: 1px 0 0 0;
			background: #f8f8f8;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;

			//Mask out the bleedthrough while animating in/out.
			&[class*=toast] {
				opacity: 0.01;

				&::before {
					content: '';
					background: #f8f8f8;
					position: absolute;
					bottom: -5px;
					left: 0;
					right: 0;
					height: 10px;
				}
			}
		}
	}

	nti-content *:not(input):not(textarea) {
		user-select: text;
	}
}
