%rounded-inset-border {
	margin: 0 0.5rem;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-width: 1px 1px 0 1px;
}


.content-view {
	position: relative;

	& > div > figure.loading {
		position: fixed;
	}

	.fixed-footer {
		&:not(.none) {
			min-height: 4rem;
		}

		&.annotation {
			.the-fixed {
				@extend %rounded-inset-border;
			}
		}

		& > .the-fixed {
			$background: #f8f8f8;
			border: 1px solid $tertiary-grey;
			border-width: 1px 0 0 0;
			background: $background;
			position: fixed;
			z-index: 100;
			bottom: 0;
			left: 0;
			right: 0;

			//Mask out the bleedthrough while animating in/out.
			&[class*=toast] {
				@extend %rounded-inset-border;
				&:not([class*=leave]) {
					opacity: 0.01;
				}

				&::before {
					content: '';
					background: $background;
					position: absolute;
					bottom: -10px;
					left: -1px;
					right: -1px;
					height: 20px;
					border: 1px solid $tertiary-grey;
					border-width: 0 1px;
				}
			}
		}
	}

	nti-content {
		user-select: text;

		widget {
			user-select: none;
		}
	}

	widget.selected > *:first-child::after {
		content: '';
		background: rgba($primary-blue, 0.15);
		position: absolute;
		top: -1rem;
		left: -1rem;
		right: -1rem;
		bottom: -1rem;
	}
}
