$arrow-color: $tertiary-grey;

@mixin arrow($direction:right, $size:.5rem) {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -$size/2;
		@include _direction($direction, $size);
		border: 2px solid transparent;
		border-top-color: $arrow-color;
		border-right-color: $arrow-color;
		width: $size;
		height: $size;
		border-radius: 2px;
}

//$_directions: (right: 45, left: -45);

@mixin _direction($direction, $size) {
	@if $direction == right {
		-webkit-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
		right: $size * 1.5;
	}
	@else if $direction == left {
		-webkit-transform: rotate3d(0,0,1,-135deg);
		transform: rotate3d(0,0,1,-135deg);
		left: $size * 1.5;
	}
	@else if $direction == up {
		-webkit-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
		right: $size * 1.5;
	}
	@else if $direction == down {
		-webkit-transform: rotate3d(0,0,1,135deg);
		transform: rotate3d(0,0,1,135deg);
		right: $size * 1.5;
	}
//	transform: rotate3d(0,0,1, map-get($_directions, $direction)deg);
}

.arrow-right {
	@include arrow(right);
}

.arrow-left {
	@include arrow(left);
}

.arrow-up {
	@include arrow(up);
}

.arrow-down {
	@include arrow(down);
}


.disclosure-triangle {
	$size: 1em;
	position: relative;
	padding-left: $size;
	&::before {
		content: '';
		width: 0;
		height: 0;
		border: $size/2 solid transparent;
		position: absolute;
		border-left-color: $arrow-color;
		left: 0;
		top: 50%;
		margin-top: -$size/2;
		-webkit-transform-origin-x: $size/8;
		transition-property: all;
		-webkit-transition-duration: 0.3s;
	}
	&.open::before {
		-webkit-transform: rotate3d(0, 0, 1, 90deg); 
	}
}
