a.breadcrumb {
	display: block;
}

.breadcrumb-list {
	-webkit-font-smoothing: auto;
	list-style-type: none;
	margin: 0 0.625rem;
	color: $tertiary-grey;
	text-transform: uppercase;
	font-size: 0.5rem;
	font-weight: 400;
	display: flex;
	flex-wrap: wrap;

	.crumb {
		position: relative;
		display: inline-flex;
		flex-wrap: nowrap;

		&:not(.last)::after {
			flex: 0 0 auto;
			content: '/';
			padding: 0 0.3em;
		}

		&, span {
			flex: 0 1 auto;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		// &.next-to-last{
		// 	padding-right: 0.5rem;
		// 	&::after {
		// 		position: absolute;
		// 		right: 0;
		// 		top: 0;
		// 	}
		// }

		&:first-child {
			flex: 0 1 auto;
		}

		&.last {
			flex: 0 0 100%;
			display: block;
			color: $primary-blue;
		}
	}
}
