.content-link.related-work-ref {
	$gap: 0.625rem;
	position: relative;
	overflow: hidden;
	display: block;
	background: #fafdff;
	border: 1px solid #e3f2fc;
	margin: $gap 0;
	padding: $gap;
	line-height: 1.5;

	.icon {
		position: relative;
		width: 100px;
		height: 125px;
		margin: -$gap $gap 0 (-$gap);
		float: left;
		background-size: cover;
		background-position: center center;
	}

	h5 {
		font-size: 1.6rem;
		margin: 0;
	}

	hr {
		margin: 0; border: 0;
	}

	.label {
		margin: 0;
		padding: 0;
		font-weight: bold;
		background: none;
		text-transform: uppercase;
		white-space: normal;
		text-align: left;
		color: $primary-color;
	}

	.comment-count {
		&:empty {display: none;}
		font: normal 600 .625rem/1.6 "Open Sans", sans-serif;
		color: $tertiary-grey;
		margin: $gap 0 0 0;

		&[href] {
			color: $primary-blue;
		}
	}

	.description {
		font-size: 0.8rem;
		color: #000;
	}

	&.external {
		.icon > div {
			@extend %icon-external-link-hover;
			top: 0; right: 0;
			position: absolute;
			content: '';
			width: 30px; height: 30px;
			display: inline-block;
		}
	}

	&.seen {
		.icon{
			&::after, &::before, {
				content: '';
				display: block;
				position: absolute;
				background: {
					color: rgba(0,0,0,0.5);
					position: center center;
					repeat: no-repeat;
				}
			}
			&::before {
				top: 0; right: 0;
				bottom: 0; left: 0;
			}
			&::after {
				$p: 50%;
				$s: 40px;
				$o: -20px;
				@extend %circle-white-check-large;
				top: $p; left: $p;
				width: $s;	height: $s;
				margin: {
					top: $o;
					left: $o;
				}
				background-color: rgba(0,0,0,0.6);
				border-radius: $s;
			}
		}
	}
}
