.content-link.related-work-ref {
	position: relative;
	overflow: hidden;
	display: block;
	background: #fafdff;
	border: 1px solid #e3f2fc;

	.icon {
		position: relative;
		width: 100px;
		height: 125px;
		margin: -4px 4px 0 -8px;
		float: left;
	}

	h5 {
		font-size: 1.6rem;
		margin: 0;
	}

	.label {
		margin: 0;
		color: $primary-color;
	}

	.description {
		font-size: 0.8rem;
		color: #000;
	}

	&.external {
		.icon::after {
			top: 0; right: 0;
			position: absolute;
			content: url('../images/icons/extern-link_hover.png');
		}
	}
}
