.button-group.filters {
	.button {
		background-color: white;
		color: $primary-color;
		.count {
			background: black;
			border-radius:2px;
			color:white;
			padding:.2em .5em;
			margin-left:.25em;
			display: inline-block;
			font-weight: bold;
			opacity:.2;
			margin-right:-.25em;
		}
	}
	.active {
		.button {
			position:relative;
			&:before { //underline
				content: '';
				border-bottom: 1px solid $primary-color;
				position: absolute;
				width: 70%;
				margin-left:15%;
				bottom: .5em;
				opacity: .1;
				left: 0;
			}
			&:after { //arrow
				$arrowsize:1em;
				content:'';
				border:($arrowsize/2) solid transparent;
				position:absolute;
				bottom:-($arrowsize/5);
				left:50%;
				margin-left:-($arrowsize/2);
				border-bottom-color:$primary-color;
			}
		}
	}
}
