figure.error {
	overflow: visible;
	position: absolute;
	/* margin-top: -3rem; */
	top: 0;//50%;
	left: 0; right: 0;

	.m {
		margin:0px auto;
		position:relative;
	}

	figcaption {
		top: 50%; left: 0; right: 0;
		line-height: 1rem;
		zoom: 0.7;

		color: #757575;
		font-size: 1rem;
		text-align: center;

		& > span:first-child {
			color: #B22222;
			font-size: 1.5rem;
			font-weight: bold;
			display: inline-block;
			margin-bottom: 1rem;
		}


		div {
			text-align: left;
			white-space: pre;
			word-wrap: break-word;
			word-break: break-word;
		}

	}

	.glyph {
		color: #B33333;
		font-size: 5rem;
		width: 5rem;
		text-align: center;
	}
}

widget error {
	display: block;
	margin: 2rem auto;
	padding: 1rem 1rem 1rem 4rem;
	max-width: 90%;
	min-width: 80vw;
	text-align: left;
	line-height: 1.5;
	background: $primary-red;
	border: 2px solid $secondary-red;
	border-radius: 3px;

	animation: fadeIn 0.5s ease-in 1s 1 normal both;

	& > span:first-of-type::before {
		position: absolute;
		left: -3.25rem;
		top: -0.75rem;

		display: block;
		content: "\f101";
		font: {
			family: "icomoon";
			style: normal;
			size: 3rem;
			weight: normal;
			variant: normal;
		}
		vertical-align: middle;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		text-decoration: none;
		// margin: 0 1rem 0 0;
	}

	&.unsupported-content {
		background: $panel-background;
		border-color: $border-grey;
	}
}
