input:not([type="checkbox"]):not([type="radio"]):not([type="hidden"]),
select,
textarea {
	outline: none;
	-webkit-appearance: none;
	border-style: solid;
	border-color: $border-grey;
	box-shadow: inset 0 0 0 0 $border-grey;

	&.required {
		box-shadow: inset 4px 0 0 0 $border-grey;
		&:focus {
			box-shadow: inset 4px 0 0 0 $border-blue !important;
		}
	}

	&.error {
		border-color: $border-red;
		box-shadow: inset 4px 0 0 0 $primary-red !important;
	}

	&:focus {
		border-color: $border-blue !important;
	}

	&[readonly] {
		background: none;
		color: $tertiary-grey;
	}
}

input.error,
textarea.error,
select.error {
	margin-bottom: 1rem;
}

.errors {
	small.error {
		border-radius: 2px;
	}
}

.helptext {
	font-size: .6875rem;
	color: $secondary-grey;
}

.radiogroup {
	margin-bottom: 1rem;
	label {
		input {
			margin-right: .5rem;
		}
	}
	&.required > p {
		box-shadow: inset 4px 0 0 0 $border-grey;
		padding-left: 1rem;
	}
	&.error {
		& > p {
			border-color: $border-red;
			box-shadow: inset 4px 0 0 0 $primary-red !important;
			padding-left: 1rem;
		}
		label {
			color: inherit;
		}
	}
}

%labelspan {
	//iOS tab bug fix.
	pointer-events: none;
	a {
		pointer-events: all;
	}

}
// css3unsupported is not a class we use, but the :not() isn't supported in IE8 ..we're using it as a feature test.
// so this block of style will not apply at all in IE8. (or android 2.x)
// so the system default checkbox will be left as is.
label:not(.css3unsupported) {
	$checkbox: 'input[type="checkbox"]';
	$radiobox: 'input[type="radio"]';

	&.radio {
		span {
			@extend %labelspan;
			background: $quad-grey;
			padding: 1rem;
			margin-bottom: .25rem;
			display: inline-block;
			width: 90%;
		}
	}

	& > #{$checkbox} {
		position: absolute !important;
		opacity: 0 !important;//Cannot "display:none" nor "visibilitiy:hidden" or you cannot access it with tab/keyboard.

		& + span {
			@extend %labelspan;
			line-height: 3;
			padding-left: 1.5rem;
			position: relative;

			&::before {
				content: '';
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				top: 0.1rem;
				left: 0;
				width: 18px;
				height: 18px;
			}

			&.htmlLabel { // the signature in the five-minute enrollment form wraps and we want consistent leading.
				line-height: inherit;
			}
		}


		& + span::before { @extend %checkbox-image; }
		&:checked + span::before { @extend %checkbox-image-active; }
	}

	//&:hover > #{$checkbox},
	& > #{$checkbox}:focus,
	& > #{$checkbox}:active {
		&:not(:checked):not(.disabled) + span::before { @extend %checkbox-image-hover; }
	}
}

.form-render {
	clear: both;
	.panel-button {
		padding: 2rem;
		background-color: $tertiary-grey;
		background-color: $quad-grey;
		margin: 1rem 0;
	}
}
