%icon-tabs {
	display: flex;
	margin: 0;
	list-style: none;
	position: relative;

	& > * {
		position: relative;
		display: inline-block;
		overflow: hidden;
		@include flex(1 1 auto);
		//@include flex(1 0 auto);

		// &.active {
		// 	@include flex(2 auto); // without this there's still a small sliver when horizontal.
		// }
	}
}


// fixes a problem in ios 7 when the last tab
// is active and its background doesn't extend
// all the way to the edge, so you end up seeing
// a sliver of the inactive tab background (black/gray)
// at the right edge of the bar.
.icon-bar {
	@extend %icon-tabs;

	& > * {
		// &:hover {
		// 	background:inherit;
		// }
		&.active {
			background: $primary-color;
		}
	}
}
