.pager {
	position: absolute;
	top: 0; right: 0;

	& > a {
		display: inline-block;
		position: relative;
		width: 2rem;
		height: 2rem;
		//background: rgba(0, 0, 0, 0.5);

		&::before {
			content: '\2039';
			position: absolute;
			display: block;
			font-size: 2.5rem;
			font-weight: 100;
			width: 100%;
			height: 100%;
			line-height: 0.6;

			text-align: center;
		}

		&:not([href]) {
			opacity: 0.2;
			color :gray;
		}

		&.prev::before {
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
		}

		&.next::before {
			transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
		}
	}
}
