.pager {
	white-space: nowrap;

	&, & > * {
		vertical-align: top;
		display: inline-block;
		white-space: nowrap;
		position: relative;
	}

	.counts {
		text-transform: none;
		font-style: italic;
		font-size: 0.6rem;
		padding-right: 0.2rem;

		max-width: 3rem;
		text-overflow: ellipsis;
		overflow: hidden;


		@media screen and (max-width: 349px){
			display: none;
		}
	}

	& > a {
		width: 2rem;
		height: 2.8125rem;

		&:not([href]) {
			opacity: 0.2;
		}

		&.prev::before {
			@extend %chevron-up;
			.dark & {
				@extend %chevron-up-white;
			}
		}

		&.next::before {
			@extend %chevron-down;
			.dark & {
				@extend %chevron-down-white;
			}
		}
	}
}

.bottompager {
	@include grid-row();
	list-style-type: none;
	display: inline-block;
	li {
		@include grid-column($columns: 4);
		float: none;
		display: inline-block;
		a {
			width: 100%;
			&:not([href]) {
				opacity: 0.2;
			}
		}
		&.counts {
			@include grid-column($columns: 4, $collapse: true);
			float: none;
			text-align: center;
			white-space: nowrap;
			font-size: .7rem;
		}
	}
}
