.panel-button {
	@include grid-row();
	margin-top: $panel-margin-bottom;
	&.error {
		.panel {
			border-color: $alert-color;
			background-color: lighten($alert-color,40%);
		}
	}
	.buttons {
		@extend %dialog-buttons;
	}
	.panel {
		margin-bottom:0;
	}
}
