figure {
	%isPanel {
		margin: 1rem 2rem;
	}

	&.info {
		@extend %isPanel;
		@include panel($bg: transparentize($primary-blue, 0.9));
	}

	&.caution {
		@extend %isPanel;
		@include panel($bg: transparentize($primary-red, 0.9));
	}
}


.notice {
	/*text-align: center;*/
	margin: 1rem;
	padding: 2rem 1rem;
	background: $panel-background;
	color: $secondary-grey;
	border: 1px solid $border-grey;
	border-radius: 2px;
	&.small {
		font-size:.7rem;
		padding:.25rem;
	}

	&.empty-list {
		text-align: center;
	}
}


.empty-list {
	&[class*="library-"] {
		background: none;
		border: none;

		font-size: 2rem;
	}
}
