
.user-session {
	cursor: pointer;
	display: block;
	position: relative;
	overflow: hidden;
	background: $panel-background;
	line-height: 1.2em;

	.avatar {
		width: 23%;
		height: 23%;
		float: left;
	}

	.arrow-tab {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 10%;
		// background: rgba(0,0,0,0.5);
	}

	.username {
		color: $primary-grey;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		position: relative;
		display: inline-block;
	}

	.meta, .actions {
		margin: 0.625rem;
		margin-left: 25%;
	}

	.meta {
		margin-top: 1rem;
	}

	.links {
		list-style: none;
		display: flex;
		clear: both;
		margin: 0;
		margin-bottom: -0.6875em;
		li {
			flex: 1 1 auto;
			text-align: center;
			background: $primary-blue;
			line-height: 3em;
			font-size: .875rem;
			box-shadow: 0 0 0 2px white;
			a {
				color: white;
			}
		}
	}
}
