body.nav-menu-open {
	video {
		// video elements interfere with the titlebar menu interaction.
		// get videos out of the way when the menu is open.
		visibility: hidden !important;
	}
}

.flex-video {
	.flex-video {
		position: absolute;
		top:0; left: 0; right: 0; bottom:0;
	}

	background: black;

	.error {
		color: lightgray;
		text-align:center;
		padding:1rem;
		position:absolute;
		width:100%;
		top:50%;
	}

	figure.error {
		margin: 0;
		top: 0;
	}
}


.video-wrapper {
	position: static !important;

	& > video {
		visibility: hidden;
	}
	&.loaded > video {
		visibility: visible;
	}

	a.tap-area {
		position: absolute;
		top: 0; left: 0; bottom: 0; right: 0;
		background-color: $panel-background;
		background-size: cover;
		background-position: center center;
		&.play:after {
			@extend %icon-play;
			content: '';
			position:absolute;
			background: {position: center center; repeat: no-repeat;}
			top:0;
			left:0;
			bottom:0;
			right:0;
		}
	}
}


.video-wrap {
	position: relative;
	cursor: pointer;
	text-align: center;
	background: {
		position: center center;
		repeat: no-repeat;
		size: cover;
	}

	.wrapper {
		@extend %video-play-button;
	}
}


.play-centered {
	@include vertical-align;
	position: absolute;
	display: block;
	width: 100%;

	&::before {
		@extend %icon-play;
		content: '';
		width: 43px;
		height: 43px;
		display: inline-block;

		display: inline-block;
		line-height: 0; padding: 2px;
		border-radius: 5em;
		background-color: rgba(0,0,0,0.8);
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15),//stroke
					0 0 3px 0 black;//shadow
	}
}

.grid-item > .flex-video {
	margin-bottom: 0;
}


.transcripted-video {
	background: #333;
	min-height: 100%;
	min-height: 100vh;
	min-height: -webkit-calc(100vh - 2.8125rem);
	min-height: -moz-calc(100vh - 2.8125rem);
	min-height: calc(100vh - 2.8125rem);

	.flex-video {margin-bottom: 0;}


	.transcript {
		margin: 0.625rem 0.625rem 0;

		color: #b8b8b8;
		position: relative;

		hr.break {
			border: 0;
		}

		.cues {
			position: relative;
			overflow: hidden;

			a {
				color: inherit;
				display: block;
				font-size: 0.9em;
				margin-bottom: 0.5rem;

				&.active {color: #fff;}
			}
		}
	}
}

%video-play-button {
	position: absolute;
	max-width: 90%;
	top: 50%;
	left: 50%;


	.buttons {
		display: block;
		position: relative;
		overflow: hidden;

		line-height: 0;

		top: -25px;
		left: -50%;

		border-radius: 5em;
		background-color: rgba(0,0,0,0.8);
		box-shadow: inset 0 0 0 1px rgba(255,255,255,0.15),//stroke
					0 0 3px 0 black;//shadow
	}


	.label {
		display: block;
		overflow: hidden;
		vertical-align: bottom;
		padding: 0 1em 0 0.5em;
		@include ellipse();
		color: #fff;
		font: normal 400 1.1rem/2.75em 'Open Sans Condensed';
		margin-left: 50px;
		background: none;
	}


	.play, .player {
		float: left;
		display: inline-block;
		border-radius: 50px;
		margin: 0.2em;
		&::before {
			position: relative;
			overflow: hidden;
		}
	}

	.play::before {
		@extend %icon-play;
		content: '';
		display: inline-block;
		width: 43px;
		height: 43px;
	}

	.player::before {
		@extend %icon-transcript;
		content: '';
		display: inline-block;
		width: 42px;
		height: 42px;
	}
}
