.zoomable {
	position:fixed !important;
	background: rgba(255,255,255,.95);
	z-index: 9999;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow:scroll;

	.zoomable-img {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
	}

	.zoomable-close {
		@extend %icon-close;
		position: absolute;
		top: .5rem;
		right: .5rem;
		background: {
			repeat: no-repeat;
			position: center;
			color: white;
		}
		padding: 0;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		box-shadow: 0px 3px 5px rgba(128,128,128,0.4);
	}
}
