.enrollment-status {
	.enrollment-status-none {
		padding: 0;
		box-shadow: none;
		.nti-course-enrollment-options .enrollment-container {
		    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
		}

		a {
			width: 100%;
		}
	}
}
