.enrollment-admission,
.enrollment-dropped,
.enrollment-failed,
.enrollment-success,
.enrollment-pending
{
	.button {
		margin: 1rem auto;
		position: relative;
		left: 50%;
		display: inline-block;
		transform: translateX(-50%);
	}
}
