@import '~@nti/style-common';
@import 'utils/placeholders';
@import 'utils/mixins';

.gradebook-page-controls {
	float: right;
	position: relative;
	width: 150px;
	background: white;
	padding: 0.5rem 0.6rem;
	font-size: 0.875rem;
	border: 1px solid #dcdcdc;
	border-radius: 3px;

	&.open::before {
		@include menu-click-mask;
	}

	.menu-label {
		&::after {
			@extend %chevron-down;

			color: var(--tertiary-grey);
			font-size: 1em;
			position: absolute;
			right: 0.6rem;
			top: 50%;
			transform: translateY(-45%);
		}
	}

	.page-menu {
		@include menu-shadow;

		list-style: none;
		position: absolute;
		left: 0;
		top: 100%;
		margin: 0;
		width: 100%;
		background: white;
		font-size: 0.875rem;
		z-index: 9999;
		border: 1px solid #dcdcdc;

		li {
			padding: 0.5rem 0.6rem;

			&.selected {
				background: var(--primary-blue);
				color: white;
			}
		}
	}
}
