@import "utils/variables";

.question-part .multiple-choice {
	border: 1px solid $tertiary-grey;
	margin: 0 0 1rem 0;

	.choice {
		display: block;
		position: relative;
		border: 0px solid $tertiary-grey;
		line-height: 2;
		min-height: 60px;

		&:not(:last-of-type) {
			border-bottom-width: 1px;
		}

		input {
			position: absolute !important;
			opacity: 0;//Cannot "display:none" nor "visibilitiy:hidden" or you cannot access it with tab/keyboard.

			& + div {
				$pad: 1rem;
				padding: $pad 0 $pad 50px;

				&::before {
					content: '';
					background-repeat: no-repeat;
					background-position: center;
					position: absolute;
					top: $pad + 0.3rem;
					left: 1rem;
					width: 18px;
					height: 18px;
				}
			}
		}


		input:checked + div { box-shadow: inset 4px 0 0 0 $neutral; }
		&.correct input:checked + div {	box-shadow: inset 4px 0 0 0 $correct; }
		&.incorrect input:checked + div { box-shadow: inset 4px 0 0 0 $incorrect; }


		input[type=radio] + div::before {
			background-image: url(./assets/radio-button-16.png);
		}
		input[type=radio]:checked + div::before {
			background-image: url(./assets/radio-button-16_active.png);
		}
		html:not(.touch) &:hover input[type=radio],
		input[type=radio]:focus,
		input[type=radio]:active {
			&:not(:checked):not(.disabled) + div::before {
				background-image: url(./assets/radio-button-16_hover.png);
			}
		}


		&.correct input[type]:checked + div::before { background-image: url(./assets/circle-check-green-18.png); }
		&.incorrect input[type]:checked + div::before { background-image: url(./assets/circle-x-red-18.png); }

		.numeral {
			position: relative;
			float: left;
			display: block;
			min-width: 1rem;
			margin-right: 0.2rem;
			font-weight: bold;
		}

		.choice-content {
			position: relative;
			overflow: hidden;
			display: block;
			padding-right: 0.5rem;
			p {
				font-size: inherit;
				line-height: inherit;
				margin-bottom: 1.25em;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

}

.multiple-choice.solutions {

	.solution {
		display: block;
		position: relative;
		line-height: 2;
		color: $correct;

		p:last-child {
			margin-bottom: 0;
		}
	}

	.numeral {
		margin-right: 0.5rem;
		font-weight: bold;
		float: left;
		line-height: 1.5;
	}
}
