.agreement-wrapper {
	$height: 10rem;
	position: relative;
	height: $height;
	margin-bottom: 1rem;
	.agreement {
		position: absolute;
		border: 1px solid $input-border-color;
		padding:.5rem;
		background:#f0f0f0;
		margin:0;
		left:0;
		overflow-y: scroll;
		width:100%;
		max-width: 100%;
		height: $height;
		-webkit-overflow-scrolling: touch;
		word-wrap: break-word;
		> * {
			font-size: .6rem;
		}
	}

}


input.error,
textarea.error,
select.error {
  margin-bottom: 1rem;
  border-left:2px solid $alert-color;
}