.profile-update-container {
	.label {
		background: none;
		text-align: inherit;
		padding: 0;
	}

	.nti-profile-update {
		width: 100%;
		max-width: 100%;
	}

	.profile-update-label:not(.first) .nti-select-input .options {
		max-height: none;
		overflow: visible;
	}

	.profile-update-sallt-profile-field-group {
		//the only client that has this is OPSRC, so just
		//hard code this for now. In the future we might
		//need to check if its the last input in the list
		.nti-multi-select-input .nti-select-input.open {
			margin-bottom: 210px;
		}
	}
}
