.gradebook-assignment-header {
	background: $quad-grey;
	border-bottom: 1px solid #ddd;
	padding: 1rem 0;
	position: relative;
	z-index: 99; // so the shadow isn't clipped by the table that follows
	&::after {
		content: '';
		box-shadow: 0 -5px 15px 5px rgba(0,0,0,0.2);
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100px;
		clip: rect(100px, auto, 150px, auto);
		background: #dddddd;
		border-radius: 40em / 10px;
	}
	.filter-menu {
		$fontsize: .625rem;
		min-height: $fontsize;
		list-style: none;
		margin: 0;
		ul {
			font-size: $fontsize;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
}

.gradebook {
	width: 100%;
	display: table;
	.gradebook-row {
		display: table-row;
		font-size: .875rem;
		& > * {
			display: table-cell;
			.avatar {
				width: 32px;
				height: 32px;
				vertical-align: middle;
				margin-right: .5em;
			}
		}
		&.headings {
			font-size: .625rem;
			color: $tertiary-grey;
			text-transform: uppercase;
			font-weight: 700;
		}
		.column-heading {
			padding: .5em 0;
			border-top: 1px solid $quad-grey;
			border-bottom: 1px solid $quad-grey;
			.heading {
				display: inline-block;
				overflow: hidden;
				vertical-align: middle;
			}
			&.sorted {
				$arrowsize: .5em; // sort arrow size
				position: relative;
				.sort-arrow {
					margin-left: .25em;
					&::after { // sort arrow
						content: '';
						width: 0;
						height: 0;
						border: $arrowsize solid transparent;
						position: absolute;
						top: 50%;
						// right: -$arrowsize/2;
					}
				}
				&.asc .sort-arrow::after {
					border-bottom-color: inherit;
					transform: translateY(-($arrowsize * 1.5));
				}
				&.desc .sort-arrow::after {
					border-top-color: inherit;
					transform: translateY(-($arrowsize * .5));
				}
			}
		}
		.col-completed {
			.heading {
				color: transparent;
				width: 1em;
				&::before {
					content: '√';
					font-family: 'icomoon';
					color: $tertiary-grey;
				}
			}
			.complete {
				position: relative;
				width: 1.5rem;
				overflow: hidden;
				time {
					text-indent: 999px;
					display: block;
				}
				&::before {
					content: '√';
					font-family: 'icomoon';
					font-size: 1.5rem;
					position: absolute;
					top: 50%;
					left: 0;
					transform: translate3d(0,-50%,0);
					color: rgba(0,0,0,.1);
				}
			}
		}
	}
}
