.assignments-view {
	ul {
		list-style:none;
		margin: 0;
	}
	.search-sort-bar {
		display: flex;
		background: $quad-grey;
		& > * {
			flex: 1 1 50%;
		}
		input {
			margin: 0;
		}
	}
	.assignments-list {
		padding: 1rem;
		h1, h2 {
			font-size: 1.5rem;
		}
	}

	.assignment-group {
		margin-bottom: 1.5rem;
		&.admin > h2 {
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			.column-heading {
				font-family: $body-font-family;
				font-size: .5rem;
		    	text-transform: uppercase;
		    	font-weight: 700;
				color: $tertiary-grey;
			}
		}
	}

	.assignment-item {
		display: block;
		color: inherit;
		position: relative;
		padding-left: 2rem;
		&::after {
			content: '√';
			font-family: 'icomoon';
			font-size: 1.5rem;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate3d(0,-50%,0);
			color: rgba(0,0,0,.1);
		}
		&.complete::after {
			color: $primary-green;
		}
	}
	.select-box {
		z-index: 999;
		ul {
			width: 100%;
			font-weight: 600;
			background: $quad-grey;
			li {
				line-height: 2.35rem;
				padding-left: 0.5rem;
			}
		}
		&.open {
			& > ul {
				box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.1);
			}
			.selected {
				background: $primary-blue;
				color: white;
				&::after {
					color: white;
				}
			}
		}
	}
}

.performance {
	margin: 1rem;
	font-size: .75rem;
	@media (min-width:600px) {
		font-size: 1rem;
	}
	$cellpadding: .5em;
	.performance-item,
	.performance-headings {
		display: table-row;
		& > * {
			display: table-cell;
			padding-bottom: 1em;
		}
		text-align: center;
		.assignment-title {
			text-align: left;
			padding-left: 0;
			font-weight: 600;
		}
		.sorted {
			font-weight: 700;
		}
	}
	.performance-headings {
		font-size: .5rem;
    	text-transform: uppercase;
    	font-weight: 700;
		color: $tertiary-grey;
		& > * {
			padding: $cellpadding ($cellpadding * 3) ;
		}
		.sorted {
			$bordersize: .5em;
			position: relative;
			font-weight: 900;
			$arrowcolor: $tertiary-grey;
			&::after {
				content: '';
				width: 0;
				height: 0;
				border: $bordersize solid transparent;
				position: absolute;
				margin-left: 0.25rem;
			}
			&.desc::after {
				bottom: ($bordersize + $cellpadding)/2;
				top: auto;
				border-top-color: $arrowcolor;;
			}
			&.asc::after {
				border-bottom-color: $arrowcolor;
				top: auto;
			}
		}
	}
}
