@import 'overview-group';
@import 'overview-discussion';
@import 'overview-questionset';
@import 'overview-survey';
@import 'overview-video-carousel';
@import 'overview-video';

%not-available {
	position: relative;
	&:after {
		$width: 192px;
		content: 'Not available.';
		position: absolute;
		width: $width;
		margin: 0 1rem;
		font-size: .7rem;
		color: white;
		background: rgba(0,0,0,.8);
		top: 50%;
		left: 50%;
		margin-left: -($width/2);
		margin-top: -.75em;
		text-align: center;
		border-radius: 2px;
		height: auto;
	}
}

.course-overview {
	padding: 0.25rem 0.5rem 0.375rem;
	&::after {
		content: ' ';
		display: table;
		margin: 1em;
	}

	.label {
		padding: 0;
		color: #747475;
		font-weight: bold;
		background: none;
		text-transform: uppercase;
	}

	h1 {
		font-size: 1.55rem;
		margin-top: -0.5rem;
	}
}
