@import "~@nti/style-common";
@import "utils/placeholders";

.library-collection-old {
	margin: 0 0 1rem 0.625rem;

	h5 {
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.625rem;
		font-family: var(--body-font-family);

		label {
			display: inline;
			color: var(--secondary-grey);
			margin: 0.5em;
			font-size: 1em;
			font-weight: inherit;
			line-height: inherit;
		}
	}

	ul {
		list-style-type: none;
	}

	& > ul {
		@extend %touch-scroll;
		display: block;
		white-space: nowrap;
		margin: -1rem 0 0.25rem -0.625rem;
		padding: 1rem 0 1rem 0.625rem;
		overflow: {
			x: auto;
			y: hidden;
		}

		& > li {
			display: inline-block;
			vertical-align: top;
			&:not(:first-of-type) {
				margin-left: 0.625rem;
			}
		}

		html:not(.touch) &::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			// &:window-inactive {
			// 	display: none;
			// }

			&-track {
				border-radius: 8px;
				background: rgba(255,255,255,0.1);
			}

			&-thumb {
				border-radius: 4px;
				background: rgba(0,0,0,0.2);
			}
		}
	}
}


// .library-view.single-section {
// 	.library-collection {
// 		.library-item {width: 75%;}
// 		& > h5 {display: none;}
// 		& > ul {
// 			overflow: visible;
//
// 			& > li{
// 				display: block;
// 				&:not(:first-of-type) {
// 					margin-top: 1rem;
// 					margin-left: 0;
// 				}
// 			}
// 		}
// 	}
// }
