@import "utils/variables";

.open-enrollment {
	.error {
		background: $primary-red;
		border-radius: .25rem;
		color: white;
		padding: 1rem;
		font-size: .875rem;
	}

	.drop-course {
		background-color: $primary-red;
	}
}
