@import 'utils/mixins';
@import 'utils/variables';

.assignments-page-frame {
	max-width: 1024px;
	min-height: 100vh;
	margin: auto;
	background: #fff;

	.assignments-nav {
		margin: 0;
		padding-top: .75rem;
	}

	> .content-area {
		background: #fff;

		@include clearfix;
	}
}


@media (min-width: 768px) {
	.assignments-page-frame {
		background: none;
		margin-top: 2rem;
		display: flex;

		> .content-area {
			flex: 1 1 auto;
			position: relative;
		}

		.assignments-nav {
			flex: 0 0 250px;
			z-index: 999;

			background: $quad-grey;
			box-shadow: inset -1px 0 0 #efefef;
			font-size: .875rem;
			text-align: left;
			margin: 0 .3125rem 0 0;


			& > li {
				display: block;
				a {
					padding: .625em 1em;
					color: $secondary-grey;
					margin: 0;
					background: none;
				}
			}
			.active {
				background: $primary-color;
				box-shadow: inset 3px 0 0 0 darken($primary-color, 20%);
				color: white;
				font-weight: 700;
				&::before {
					content: none;
				}
				&::after {
					content: none;
				}
			}
		}

		.assignment-gradebook-wrapper {
			max-width: inherit;
			width: 90%;
			margin: 0 1rem;
		}
	}
}
