//Stix fonts for mathjax renderings
@font-face {
    font-family: 'STIXGeneral';
    src: url('STIXGeneral-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('STIXGeneral-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('STIXGeneral-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('STIXGeneral-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('STIXIntegralsD-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('STIXIntegralsD-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('STIXIntegralsSm-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('STIXIntegralsSm-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('STIXIntegralsUp-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('STIXIntegralsUp-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('STIXIntegralsUpD-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('STIXIntegralsUpD-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('STIXIntegralsUpSm-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('STIXIntegralsUpSm-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('STIXNonUnicode-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('STIXNonUnicode-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('STIXNonUnicode-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('STIXNonUnicode-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFiveSym';
    src: url('STIXSizeFiveSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('STIXSizeFourSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('STIXSizeFourSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('STIXSizeOneSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('STIXSizeOneSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('STIXSizeThreeSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('STIXSizeThreeSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('STIXSizeTwoSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('STIXSizeTwoSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('STIXVariants-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('STIXVariants-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
