//Stix fonts for mathjax renderings
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('../lib/fonts/stix/STIXGeneral-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('../lib/fonts/stix/STIXIntegralsD-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('../lib/fonts/stix/STIXIntegralsD-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('../lib/fonts/stix/STIXIntegralsSm-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('../lib/fonts/stix/STIXIntegralsSm-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('../lib/fonts/stix/STIXIntegralsUp-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('../lib/fonts/stix/STIXIntegralsUp-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('../lib/fonts/stix/STIXIntegralsUpD-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('../lib/fonts/stix/STIXIntegralsUpD-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('../lib/fonts/stix/STIXIntegralsUpSm-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('../lib/fonts/stix/STIXIntegralsUpSm-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-BoldItalic.woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-Italic.woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('../lib/fonts/stix/STIXNonUnicode-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFiveSym';
    src: url('../lib/fonts/stix/STIXSizeFiveSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('../lib/fonts/stix/STIXSizeFourSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('../lib/fonts/stix/STIXSizeFourSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('../lib/fonts/stix/STIXSizeOneSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('../lib/fonts/stix/STIXSizeOneSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('../lib/fonts/stix/STIXSizeThreeSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('../lib/fonts/stix/STIXSizeThreeSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('../lib/fonts/stix/STIXSizeTwoSym-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('../lib/fonts/stix/STIXSizeTwoSym-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('../lib/fonts/stix/STIXVariants-Bold.woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('../lib/fonts/stix/STIXVariants-Regular.woff');
    font-weight: normal;
    font-style: normal;
}
