
@font-face {
    font-family: 'STIXGeneral';
    src: url('stixgeneral-bold-webfont.eot');
    src: url('stixgeneral-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixgeneral-bold-webfont.woff') format('woff'),
         url('stixgeneral-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('stixgeneral-bolditalic-webfont.eot');
    src: url('stixgeneral-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixgeneral-bolditalic-webfont.woff') format('woff'),
         url('stixgeneral-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('stixgeneral-italic-webfont.eot');
    src: url('stixgeneral-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixgeneral-italic-webfont.woff') format('woff'),
         url('stixgeneral-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXGeneral';
    src: url('stixgeneral-regular-webfont.eot');
    src: url('stixgeneral-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixgeneral-regular-webfont.woff') format('woff'),
         url('stixgeneral-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('stixintegralsd-bold-webfont.eot');
    src: url('stixintegralsd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsd-bold-webfont.woff') format('woff'),
         url('stixintegralsd-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsD';
    src: url('stixintegralsd-regular-webfont.eot');
    src: url('stixintegralsd-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsd-regular-webfont.woff') format('woff'),
         url('stixintegralsd-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('stixintegralssm-bold-webfont.eot');
    src: url('stixintegralssm-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralssm-bold-webfont.woff') format('woff'),
         url('stixintegralssm-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsSm';
    src: url('stixintegralssm-regular-webfont.eot');
    src: url('stixintegralssm-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralssm-regular-webfont.woff') format('woff'),
         url('stixintegralssm-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('stixintegralsup-bold-webfont.eot');
    src: url('stixintegralsup-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsup-bold-webfont.woff') format('woff'),
         url('stixintegralsup-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUp';
    src: url('stixintegralsup-regular-webfont.eot');
    src: url('stixintegralsup-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsup-regular-webfont.woff') format('woff'),
         url('stixintegralsup-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('stixintegralsupd-bold-webfont.eot');
    src: url('stixintegralsupd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsupd-bold-webfont.woff') format('woff'),
         url('stixintegralsupd-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpD';
    src: url('stixintegralsupd-regular-webfont.eot');
    src: url('stixintegralsupd-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsupd-regular-webfont.woff') format('woff'),
         url('stixintegralsupd-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('stixintegralsupsm-bold-webfont.eot');
    src: url('stixintegralsupsm-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsupsm-bold-webfont.woff') format('woff'),
         url('stixintegralsupsm-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXIntegralsUpSm';
    src: url('stixintegralsupsm-regular-webfont.eot');
    src: url('stixintegralsupsm-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixintegralsupsm-regular-webfont.woff') format('woff'),
         url('stixintegralsupsm-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('stixnonunicode-bold-webfont.eot');
    src: url('stixnonunicode-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixnonunicode-bold-webfont.woff') format('woff'),
         url('stixnonunicode-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('stixnonunicode-bolditalic-webfont.eot');
    src: url('stixnonunicode-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixnonunicode-bolditalic-webfont.woff') format('woff'),
         url('stixnonunicode-bolditalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('stixnonunicode-italic-webfont.eot');
    src: url('stixnonunicode-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixnonunicode-italic-webfont.woff') format('woff'),
         url('stixnonunicode-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'STIXNonUnicode';
    src: url('stixnonunicode-regular-webfont.eot');
    src: url('stixnonunicode-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixnonunicode-regular-webfont.woff') format('woff'),
         url('stixnonunicode-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFiveSym';
    src: url('stixsizefivesym-regular-webfont.eot');
    src: url('stixsizefivesym-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizefivesym-regular-webfont.woff') format('woff'),
         url('stixsizefivesym-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('stixsizefoursym-bold-webfont.eot');
    src: url('stixsizefoursym-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizefoursym-bold-webfont.woff') format('woff'),
         url('stixsizefoursym-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeFourSym';
    src: url('stixsizefoursym-regular-webfont.eot');
    src: url('stixsizefoursym-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizefoursym-regular-webfont.woff') format('woff'),
         url('stixsizefoursym-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('stixsizeonesym-bold-webfont.eot');
    src: url('stixsizeonesym-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizeonesym-bold-webfont.woff') format('woff'),
         url('stixsizeonesym-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeOneSym';
    src: url('stixsizeonesym-regular-webfont.eot');
    src: url('stixsizeonesym-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizeonesym-regular-webfont.woff') format('woff'),
         url('stixsizeonesym-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('stixsizethreesym-bold-webfont.eot');
    src: url('stixsizethreesym-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizethreesym-bold-webfont.woff') format('woff'),
         url('stixsizethreesym-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeThreeSym';
    src: url('stixsizethreesym-regular-webfont.eot');
    src: url('stixsizethreesym-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizethreesym-regular-webfont.woff') format('woff'),
         url('stixsizethreesym-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('stixsizetwosym-bold-webfont.eot');
    src: url('stixsizetwosym-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizetwosym-bold-webfont.woff') format('woff'),
         url('stixsizetwosym-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXSizeTwoSym';
    src: url('stixsizetwosym-regular-webfont.eot');
    src: url('stixsizetwosym-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixsizetwosym-regular-webfont.woff') format('woff'),
         url('stixsizetwosym-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('stixvariants-bold-webfont.eot');
    src: url('stixvariants-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixvariants-bold-webfont.woff') format('woff'),
         url('stixvariants-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'STIXVariants';
    src: url('stixvariants-regular-webfont.eot');
    src: url('stixvariants-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('stixvariants-regular-webfont.woff') format('woff'),
         url('stixvariants-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
