%coming-soon {
	display: inline-block;
	padding: 3rem;
	border: 1px solid $panel-border-color;
	background: $panel-background;
	position: relative;
	text-align: center;
	color: white;
	&:after {
		content: 'Coming soon to mobile';
		color: $panel-border-color;
	}
}

widget:empty {
	@extend %coming-soon;
}


widget[data-type$="vnd.nextthought.canvas"] {
	background-color: white;
	border: none;
	display: block;
	padding: 1rem;

	&::after {
		content: '';
		display: block;
		width: 239px;
		/*height: 239px; */
		padding-bottom: 100%;
		max-width: 100%;

		background-repeat: no-repeat;
		@extend %icon-broken-whiteboard;
	}
}
