
@mixin coming-soon {
	display: inline-block;
	padding: 3rem;
	border: 1px solid $panel-border-color;
	background: $panel-background;
	position: relative;
	text-align: center;
	color: white;
	&:after {
		content: 'Coming soon to mobile';
		color: $panel-border-color;
	}
}

widget {
	@include coming-soon();
}
