ul.off-canvas-list {
	font-family: $sidenav-font-family;
	li a {
		letter-spacing:0.05rem;
		white-space: nowrap;
		&.active {
			position:relative;
			background: $primary-color;
			color: #fff;
			&::after {
				content:'';
				width:0;
				height:0;
				position:absolute;
				top:0;
				right:-1.5em;
				border:1.5em solid $off-canvas-bg;
				border-left-color:transparent;
			}
		}
	}
	ul {
		list-style-type: none;
	}

	& > li > ul {
		margin-left: 0;
	}

	.moveDown {
		text-align:right;
	}
}
