ul.off-canvas-list {
	font-family: $sidenav-font-family;
	li a {
		letter-spacing:0.05rem;
		white-space: nowrap;
	}
	ul {
		list-style-type: none;
	}

	& > li > ul {
		margin-left: 0;
	}

	.moveDown {
		text-align:right;
	}
}
