
@mixin transition($prop) {
	@if str-index($prop, transform) {
		@error "This mixin cannot handle the specialcase of transform";
	}
	-webkit-transition: #{$prop};
	-o-transition: #{$prop};
	transition: #{$prop};
}

@mixin transform($prop) {
	-webkit-transform: #{$prop};
	-moz-transform: #{$prop};
	-ms-transform: #{$prop};
	-o-transform: #{$prop};
	transform: #{$prop};
}

@mixin reactTransition($name) {

	.#{$name}-enter {
		opacity: 0.01;
		@include transition('opacity .25s ease-in');
	}

	.#{$name}-enter.#{$name}-enter-active {
		opacity: 1;
	}

	.#{$name}-leave {
		opacity: 1;
		@include transition('opacity .25s ease-in');
	}

	.#{$name}-leave.#{$name}-leave-active {
		opacity: 0.01;
	}

	.#{$name} {
		@include transition('opacity .25s ease-in');
	}

}



@include reactTransition('button');
@include reactTransition('messages');
@include reactTransition('navdrawer');


.loginforms-enter {
	opacity: 0.01;
	-webkit-transition: -webkit-transform .25s ease-out, opacity .25s ease-out;
	transition: transform .25s ease-out, opacity .25s ease-out;
	width:100%;
	top: 0;
	position: absolute;
	@include transform(translate3d(0,-1rem,0));
}

.loginforms-enter.loginforms-enter-active {
	opacity: 1;
	@include transform(translate3d(0,0,0));
}

.loginforms-leave {
	opacity: 1;
	-webkit-transition: -webkit-transform .25s ease-out, opacity .25s ease-out;
	transition: transform .25s ease-out, opacity .25s ease-out;
	width:100%;
	top: 0;
	position: absolute;
	@include transform(translate3d(0,0,0));
}

.loginforms-leave.loginforms-leave-active {
	opacity: 0.01;
	@include transform(translate3d(0,1rem,0));
}

.loginforms {
	-webkit-transition: -webkit-transform .25s ease-out, opacity .25s ease-out;
	transition: transform .25s ease-out, opacity .25s ease-out;
}

.loginformswrapper {
	position: relative;
}
