@mixin reactTransition($name) {

	.#{$name}-enter {
		opacity: 0.01;
		transition: opacity .25s ease-in;
	}

	.#{$name}-enter.#{$name}-enter-active {
		opacity: 1;
	}

	.#{$name}-leave {
		opacity: 1;
		transition: opacity .25s ease-in;
	}

	.#{$name}-leave.#{$name}-leave-active {
		opacity: 0.01;
	}

	.#{$name} {
		transition: opacity .25s ease-in;
	}

}


@include reactTransition('button');
@include reactTransition('messages');


