$header-font-family: 'Open Sans Condensed';
$body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$button-font-family: 'Open Sans';
$count-badge-font-family: 'Open Sans';
$input-font-family: $button-font-family;

$sidenav-font-family: 'Open Sans Condensed';

$button-disabled-opacity: 0.3;


//colors
$primary-grey: #494949;
$secondary-grey: #757474;
$secondary-grey-alt: #787878;
$tertiary-grey: #b8b8b8;
$tertiary-grey-alt: #d1d1d1;
$quad-grey: #f8f8f8;//f9f9f9

$disabled-button-border: #d0d0d0;
$disabled-button-background: rgba(184,184,184,0.5);
$disabled-button-color: rgba(255,255,255,0.7);

$button-bg-color: $primary-color;
$button-bg-hover: $button-bg-color;
$secondary-button-bg-hover: $secondary-color;

$primary-red: #F35252;
$secondary-red: #750000;

$primary-blue: #3fb3f6;

$primary-green: #8eb737;
$secondary-green: #3fb34f;

$primary-orange: #fa8700;

$border-blue: #39a1dd;
$border-grey: #ccc;
$border-gray: $border-grey;
//$border-grey: #dbdbdb;
$border-grey-light: #ededed;
$border-red: #f35252;
$text-red: #f2713e;

$panel-background: #fbfbfb;


$highlight-colors: (
	// (name, menu color, hover) actual highlight will be computed from hover color.
	('yellow',#EDE619,#F9F6AF),
	('green',#4CE67F,#B7F5CC),
	('blue',#3FB3F6,#CFECFD)
);


$body-font-color: $primary-grey;
$header-font-color: $primary-grey;
$accordion-navigation-font-color: $primary-grey;
$keystroke-font-color: $primary-grey;
$pagination-li-font-color: $primary-grey;
$table-head-font-color: $primary-grey;
$table-row-font-color: $primary-grey;
$tabs-navigation-font-color: $primary-grey;

$anchor-font-color-hover: $primary-blue;

%title-bar-logo {
	background-image: url(../images/icons/logo.png);
}

%svg-icon-mask {
	mask-size: 100% 100%;
	background-color: $secondary-grey;
}

%chevron {
	font-family: 'icomoon';
	content: '<';
	color: $primary-blue;
	font-size: 1.5em;
	vertical-align: middle;
}

%chevron-left {
	@extend %chevron;
	position: relative;
	top: -1px;
}

%chevron-left-white {
	@extend %chevron-left;
	color: white;
}

%chevron-right {
	@extend %chevron;
	content: '>';
}

%chevron-right-white {
	@extend %chevron-right;
	color: white;
}

%chevron-up {
	@extend %chevron;
	content: '^';
}

%chevron-up-white {
	@extend %chevron-up;
	color: white;
}

%chevron-down {
	@extend %chevron;
	content: 'v';
}

%chevron-down-white {
	@extend %chevron-down;
	color: white;
}

%profile-education {
	@extend %svg-icon-mask;
	mask-image: url(../images/svg/profile-education.svg);

}
%profile-location {
	@extend %svg-icon-mask;
	mask-image: url(../images/svg/profile-location.svg);
}
%profile-professional {
	@extend %svg-icon-mask;
	mask-image: url(../images/svg/profile-professional.svg);
}

%profile-card-chat-icon { background-image: url(../images/icons/chat-32-blue.png); }
%profile-social-twitter { background-image: url(../images/icons/social/twitter.png); }
%profile-social-facebook { background-image: url(../images/icons/social/facebook.png); }
%profile-social-googleplus { background-image: url(../images/icons/social/google.png); }
%profile-social-linkedin { background-image: url(../images/icons/social/linkedin.png); }

%avatar-admin-badge { background-image: url(../images/icons/admin_badge.png); }

%checkbox-image {background-image: url(../images/icons/checkbox-14.png);}
%checkbox-image-active {background-image: url(../images/icons/checkbox-14_active.png);}
%checkbox-image-hover {background-image: url(../images/icons/checkbox-14_hover.png);}

%radiobox-image {background-image: url(../images/icons/radio-button-16.png);}
%radiobox-image-active {background-image: url(../images/icons/radio-button-16_active.png);}
%radiobox-image-hover {background-image: url(../images/icons/radio-button-16_hover.png);}

%circle-green-check {background-image: url(../images/icons/circle-check-green-18.png);}
%circle-white-check {background-image: url(../images/icons/circle-check-white-20.png);}
%circle-white-check-large {background-image: url(../images/icons/circle-check-white-large.png);}
%circle-red-x {background-image: url(../images/icons/circle-x-red-18.png);}
%circle-grey-x {background-image: url(../images/icons/circle-x-grey-16.png);}
%x-close {background-image: url(../images/icons/close.png);}
%x-light {background-image: url(../images/icons/light-x.png);}

%icon-favorite {background-image: url(../images/icons/favorite.png);}
%icon-favorite-active {background-image: url(../images/icons/favorite_active.png);}
%icon-like {background-image: url(../images/icons/like.png);}
%icon-like-active {background-image: url(../images/icons/like_active.png);}
%icon-reply-arrow {background-image: url(../images/icons/reply-arrow.png);}

%icon-assignment-due {background-image: url(../images/icons/assignment_due.png);}
%icon-assignment-late {background-image: url(../images/icons/assignment_late.png);}
%icon-assignment-ontime {background-image: url(../images/icons/assignment_ontime.png);}
%icon-assignment-ontime-small {background-image: url(../images/icons/assignment_ontime_small.png);}
%icon-assignment-timed {background-image: url(../images/icons/assignment-timed.png);}
%icon-external-link {background-image: url(../images/icons/extern-link.png);}
%icon-external-link-hover {background-image: url(../images/icons/extern-link_hover.png);}
%icon-gift {background-image: url(../images/icons/gift.png);}
%icon-modal-red-sign {background-image: url(../images/icons/modal-red-sign.png);}
%icon-play {background-image: url(../images/icons/play.png);}
%icon-transcript {background-image: url(../images/icons/play-transcript.png);}

%icon-broken-whiteboard {background-image: url(../images/icons/whiteboard_error_loading_image.png);}

%icon-close { background-image: url(../images/icons/close.png); }

%icon-editor-image {background-image: url(../images/icons/editor/image.png);}
%icon-editor-image-active {background-image: url(../images/icons/editor/image_active.png);}

%icon-editor-bold {background-image: url(../images/icons/editor/bold.png);}
%icon-editor-bold-active {background-image: url(../images/icons/editor/bold_active.png);}
%icon-editor-italic {background-image: url(../images/icons/editor/italic.png);}
%icon-editor-italic-active {background-image: url(../images/icons/editor/italic_active.png);}
%icon-editor-underline {background-image: url(../images/icons/editor/underline.png);}
%icon-editor-underline-active {background-image: url(../images/icons/editor/underline_active.png);}

%icon-edit-14 {background-image: url(../images/icons/editor/image-edit-14.png);}
%icon-search-18 {background-image: url(../images/icons/search-18.png);}

%icon-discussions {background-image: url(../images/icons/discussions.png); }

%icon-topic {background-image: url(../images/icons/topic.png); }
%icon-topic-blue {background-image: url(../images/icons/topic-blue.png); }
%icon-topic-active {background-image: url(../images/icons/topic_active.png); }

%icon-nav-contacts {background-image: url(../images/icons/nav-contacts.png);}
%icon-nav-contacts-active {background-image: url(../images/icons/nav-contacts_active.png);}
%icon-nav-contacts-hover {background-image: url(../images/icons/nav-contacts_hover.png);}

%icon-nav-forums {background-image: url(../images/icons/nav-forum.png);}
%icon-nav-forums-active {background-image: url(../images/icons/nav-forum_active.png);}
%icon-nav-forums-hover {background-image: url(../images/icons/nav-forum_hover.png);}

%icon-nav-library {background-image: url(../images/icons/nav-library.png);}
%icon-nav-library-active {background-image: url(../images/icons/nav-library_active.png);}
%icon-nav-library-hover {background-image: url(../images/icons/nav-library_hover.png);}

%icon-action-edit {background-image: url(../images/icons/actions/edit.png);}
%icon-action-flag {background-image: url(../images/icons/actions/flag.png);}
%icon-action-more-options {background-image: url(../images/icons/actions/more-options.png);}
%icon-action-reply {background-image: url(../images/icons/actions/reply.png);}
%icon-action-share {background-image: url(../images/icons/actions/share.png);}
%icon-action-delete {background-image: url(../images/icons/actions/trash-can.png);}


%middot-before {
	&::before {
		content: '\00B7';
		margin: 0.5em;
	}
}

%middot-after {
	&::after {
		content: '\00B7';
		margin: 0.5em;
	}
}

%middot {
	text-decoration: none;
	position: static;
	content: '\00B7';
	padding: 0 0.5em;
	background: none;
}

%hardware-render {
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}

%touch-scroll {
	backface-visibility: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}


.kill-transitions {
	transition: none !important;
}

.coordinate-root {
	position: relative;
}


// @mixin blur-effect() {
// 	//filter: blur(add = 0, direction = 0, strength = 10);//IE
// 	//filter: url(#blur-effect);//moz
// 	filter: blur(8px);
// }


@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: translate3d(0,-50%, 0);
}

@mixin viewports($rule, $factor) { // used by viewportWidth and viewportHeight, below.
	//iOS 7 fix:
	// iPad with portrait orientation.
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
		#{$rule}: #{768*$factor}px;
	}

	// iPad with landscape orientation.
	@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
		#{$rule}: #{1024*$factor}px;
	}

	// iPhone 1-4 with portrait orientation.
	@media all and (device-width: 320px) and (device-height: 480px) and (orientation:portrait){
		#{$rule}: #{320*$factor}px;
	}

	// iPhone 1-4 with landscape orientation.
	@media all and (device-width: 320px) and (device-height: 480px) and (orientation:landscape){
		#{$rule}: #{480*$factor}px;
	}

	// iPhone5 with portrait orientation.
	@media all and (device-width: 320px) and (device-height: 568px) and (orientation:portrait){
		#{$rule}: #{320*$factor}px;
	}

	// iPhone5 with landscape orientation.
	@media all and (device-width: 320px) and (device-height: 568px) and (orientation:landscape){
		#{$rule}: #{568*$factor}px;
	}
	//iPhone 6's never had iOS7 on them.
}

@mixin viewportWidth($rule, $value) {
	$w: $value;
	#{$rule}: #{$w}vw;
	$factor: $w/100;
	@include viewports($rule, $factor)
}


@mixin viewportHeight($rule, $value) {
	$h: $value;
	#{$rule}: #{$h}vh;
	$factor: $h/100;
	@include viewports($rule, $factor)
}
