$header-font-family: 'Open Sans Condensed';
$body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$button-font-family: 'Open Sans';
$input-font-family: $button-font-family;

$sidenav-font-family: 'Open Sans Condensed';

$button-disabled-opacity: 0.3;
