$header-font-family: 'Open Sans Condensed';
$body-font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
$button-font-family: 'Open Sans';
$count-badge-font-family: 'Open Sans';
$input-font-family: $button-font-family;

$sidenav-font-family: 'Open Sans Condensed';

$button-disabled-opacity: 0.3;


//colors
$primary-grey: #494949;
$secondary-grey: #757474;
$secondary-grey-alt: #787878;
$tertiary-grey: #b8b8b8;
$tertiary-grey-alt: #d1d1d1;
$quad-grey: #f8f8f8;//f9f9f9

// alias greys to grays because i can
// never remember which spelling we use
$primary-gray: $primary-grey;
$secondary-gray: $secondary-grey;
$secondary-gray-alt: $secondary-grey-alt;
$tertiary-gray: $tertiary-grey;
$tertiary-gray-alt: $tertiary-grey-alt;
$quad-gray: $quad-grey;

$disabled-button-border: #d0d0d0;
$disabled-button-background: rgba(184,184,184,0.5);
$disabled-button-color: rgba(255,255,255,0.7);

$primary-red: #F35252;
$secondary-red: #750000;

$primary-blue: #3fb3f6;

$primary-green: #8eb737;
$secondary-green: #3fb34f;

$primary-orange: #fa8700;

$border-blue: #39a1dd;
$border-grey: #ccc;
$border-gray: $border-grey;
//$border-grey: #dbdbdb;
$border-red: #f35252;
$text-red: #f2713e;

$panel-background: #fbfbfb;


$body-font-color: $primary-grey;
$header-font-color: $primary-grey;
$accordion-navigation-font-color: $primary-grey;
$keystroke-font-color: $primary-grey;
$pagination-li-font-color: $primary-grey;
$table-head-font-color: $primary-grey;
$table-row-font-color: $primary-grey;
$tabs-navigation-font-color: $primary-grey;

.checkbox-image {background-image: url(../images/icons/checkbox-14.png);}
.checkbox-image-active {background-image: url(../images/icons/checkbox-14_active.png);}
.checkbox-image-hover {background-image: url(../images/icons/checkbox-14_hover.png);}

.radiobox-image {background-image: url(../images/icons/radio-button-16.png);}
.radiobox-image-active {background-image: url(../images/icons/radio-button-16_active.png);}
.radiobox-image-hover {background-image: url(../images/icons/radio-button-16_hover.png);}

.circle-green-check {background-image: url(../images/icons/circle-check-green-18.png);}
.circle-red-x {background-image: url(../images/icons/circle-x-red-18.png);}
.x-close {background-image: url(../images/icons/close.png);}
.x-light {background-image: url(../images/icons/light-x.png);}

.icon-assignment-due {background-image: url(../images/icons/assignment_due.png);}
.icon-assignment-late {background-image: url(../images/icons/assignment_late.png);}
.icon-assignment-ontime {background-image: url(../images/icons/assignment_ontime.png);}
.icon-assignment-ontime-small {background-image: url(../images/icons/assignment_ontime_small.png);}
.icon-assignment-timed {background-image: url(../images/icons/assignment-timed.png);}
.icon-external-link {background-image: url(../images/icons/extern-link.png);}
.icon-external-link-hover {background-image: url(../images/icons/extern-link_hover.png);}
.icon-gift {background-image: url(../images/icons/gift.png);}
.icon-modal-red-sign {background-image: url(../images/icons/modal-red-sign.png);}
.icon-play {background-image: url(../images/icons/play.png);}
.icon-transcript {background-image: url(../images/icons/play-transcript.png);}
.icon-broken-whiteboard {background-image: url(../images/icons/whiteboard_error_loading_image.png);}
.icon-editor-bold {background-image: url(../images/icons/editor/bold.png);}
.icon-editor-bold-active {background-image: url(../images/icons/editor/bold_active.png);}
.icon-editor-italic {background-image: url(../images/icons/editor/italic.png);}
.icon-editor-italic-active {background-image: url(../images/icons/editor/italic_active.png);}
.icon-editor-underline {background-image: url(../images/icons/editor/underline.png);}
.icon-editor-underline-active {background-image: url(../images/icons/editor/underline_active.png);}

@mixin blur-effect() {
	//filter: blur(add = 0, direction = 0, strength = 10);//IE
	//filter: url(#blur-effect);//moz
	-webkit-filter: blur(8px);
	filter: blur(8px);
}


@mixin ellipse{
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  @include transform(translate3d(0,-50%, 0));
}


@mixin flexbox() {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

@mixin flex($values) {
	-webkit-box-flex: $values;
	-moz-box-flex:  $values;
	-webkit-flex:  $values;
	-ms-flex:  $values;
	flex:  $values;
}

@mixin order($val) {
	-webkit-box-ordinal-group: $val;
	-moz-box-ordinal-group: $val;
	-ms-flex-order: $val;
	-webkit-order: $val;
	order: $val;
}

@mixin alignitems($val) {
	-webkit-box-align: $val;
    -moz-box-align: $val;
    -webkit-align-items: $val;
    -ms-flex-align: $val;
    align-items: $val;
}

@mixin alignself($val) {
	-webkit-align-self: $val;
	-ms-flex-item-align: $val;
	align-self: $val;
}


@mixin animation($str) {
	-webkit-animation: #{$str};
	   -moz-animation: #{$str};
		-ms-animation: #{$str};
		 -o-animation: #{$str};
			animation: #{$str};
}


@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}
