@import "settings";
@import "variables"; // we override some foundation settings so this has to come between settings and foundation.
@import "foundation";
@import "transitions";

@import "loading";
@import "library-view";
@import "notifications";
@import "course-detail-view";

@mixin input-typography {
	text-transform: uppercase;
	letter-spacing:0.1em;
}

.button, input {
	@include input-typography;
}

a.disabled {
	opacity:0.4;
}

a.back {
	padding: 0 0.2rem;
	height: 2.8125rem;
	line-height: 2.8125rem;
	position: absolute;
	overflow: hidden;
	background: #333333;
	color: white;
	top: 0;
	left: 0;

	&::before {
		content: '\2039';
		font-size: 4rem;
		font-weight: 100;
		line-height: 0;
		position: relative;
		top: 0.6875rem;
	}
}

.tab-bar-section .title {
	overflow: hidden;
	position: relative;
	width: 32px;
	display: inline-block;
	text-indent: -100rem;

	&::after {
		content: '';
		width: 32px;
		height: 32px;
		background: transparent url('../images/icons/logo.png') center center;
		background-size: contain;
		position: absolute;
		margin-top: -50%;
		top: 50%;
		left: 0;
	}
}

.main-section {
	min-height:30em;
}

.grid-container {
	margin: 0 0.625rem;
}

.cell {
	display: inline-block;
}


// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
