body {
	font-family: 'Open Sans', helvetica, sans-serif;
	.erroralert {
		margin-left: 3.5em;
		margin-right: 3.5em;
		padding: 2rem;
		border: 2px solid lightblue;
		border-radius:4px;
		font-size: 16px;
		line-height: 1.4rem;
		margin-top: 2rem;

		#contacts {
			margin-bottom: 1em;
			.contact-detail {
				margin-left: .5em;
			}
		}
	}

}
