$correct: #9AC73C;
$incorrect: #F35252;
$neutral: $primary-blue;//#3fb3f6;

%submission-error {
	position: absolute;
	bottom: 3rem;
	left: 1rem;
	right: 1rem;
	box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.8);//inset 1px 1px 0 rgba(255,255,255,0.3);
	border: 0px solid $secondary-red;
	border-radius: 0;//.3rem;
	background: $primary-red;
	color: $secondary-red;
	padding: 1rem 4rem 1rem 1rem;
	z-index: 99999;
	font-size: 1rem;
	text-align: left;

	animation: fadeInUp 0.5s;


	a {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 3rem;

		text-indent: 4rem;
		overflow: hidden;


		&::after {
			@extend %circle-red-x;
			content: '';
			position: absolute;
			display: block;
			top: 50%; left: 50%;
			width: 18px; height: 18px;
			border-radius: 18px;
			margin: -9px 0 0 -9px;
			background: {position: 0 0; repeat: no-repeat};
			box-shadow: 0 0 15px -3px #750000;
		}
	}
}
