
.modeled-content {
	&, div, * {
		white-space: pre-wrap;
		word-wrap: break-word;      // IE
		word-break: break-word;     // WEBKIT
	}

	cursor: text;

	p{
		margin:0;
		&:empty::before {
			content: ' ';
		}
	}

	em, em strong {
		font-style: italic;
	}

	strong, strong em {
		font-weight: bold;
	}
}
