.assignment.status-label-wrapper {
	position: relative;
}

.assignment.status-label {
	font-size: 0.625rem;
	font-weight: 700;
	text-transform: uppercase;
	overflow: hidden;

	span.info-part {
		&.time-limit {
			display: block;
		}

		@media screen and (min-width: 365px) {
			&.time-limit {
				display: inline;
				&::after {
					content: '\00B7';
					margin: 0.5em;
				}
			}
		}


		&.completed:not(.overdue):not(.overtime):not(.due-today) .state {
			cursor: pointer;
			color: $secondary-green;
		}


		.link { color: $primary-blue; cursor: pointer; }

		.over {
			cursor: pointer;
			color: $primary-red;
		}

		.over,
		.state,
		time {
			&::after {content: ' ';}
		}

		.over,
		.overdue,
		.overtime {
			display: none;
		}

		&.overtime, &.overdue {
			.over { display: inline; }
		}

		&.overtime .overtime,
		&.overdue .overdue{ display: inline;}

		&.overtime.overdue {
			.overtime::after {
				content: ', '
			}
		}

		&.due-today {
			cursor: pointer;
			color: $primary-orange;
		}

		.excused {
			background-color: #F35252;
			color: #fff;
			padding: 0.2em 0.3em;
			display: inline-block;
			border-radius: 2px;
			text-transform: uppercase;
			font-size: 0.8em;
			font-weight: 800;
			line-height: 1.3;
		}


		&.late {
			color: $primary-red;
		}

		time {
			white-space: nowrap;
		}
	}
}

.assignment.status-label-tip {
	position: absolute;
	background-color: rgba(43,43,43,0.9);
	padding: 3px 5px;
	color: $tertiary-grey;
	font-size: 0.625rem;
	font-weight: 700;
	text-transform: uppercase;
	bottom: -1.5rem;
	width: auto;
	left: 0;


	.part {
		white-space: nowrap;
		display: inline-block;
		margin-left: -1.3em;
		margin-right: 1.3em;

		&:first-of-type {
			margin-left: auto;
		}
		&:last-of-type {
			margin-right: auto;
		}
	}

	.message {
		overflow: hidden;
	}

	.message > span::before {
		content: '\00B7';
		margin: 0.5em;
	}

	.message > span:first-of-type {
		color: #fff;
		&::before {
			content: none;
		}
	}
}
