
.header.assessment {

	.scoreboard {
		background: $panel-background;
		border: 1px solid $border-grey;

		margin-left: 1.1875rem;
		margin-right: 0.75rem;

		padding: 0.5rem;
		border-radius: 0.3rem;

		position: relative;
		overflow: hidden;
	}

	.header {
		border: 1px solid #ccc;
		border-width: 0 0 1px 0;
		padding: 0.5rem;
		margin: -0.5rem -0.5rem 0.5rem;
		font-size: 0.6rem;
		box-shadow: 0 1px 0 0 white;
		text-transform: uppercase;

		time {
			float: right;
		}
	}

	.body {

		@include flexbox();

		.score {
			@include flex(0 0 60px);
			position: relative;
			min-height: 60px;

			canvas {
				position: absolute;
				margin: 0;
				top: 50%;
				left: 0;
				@include transform(translateY(-50%));
			}
		}

		.reset-button {
			@include flex(0 0 6.75rem);
			position: relative;


			button {
				font-size: 0.7rem;
				//padding: 0.8rem 1.3rem 0.8625rem;
				position: absolute;
				margin: 0;
				top: 50%;
				right: 0;
				@include transform(translateY(-50%));
			}
		}

		.tally-box {
			font-family: "Open Sans", sans-serif;
			font-style: italic;
			padding: 0 0.5rem;

			h4 {
				color: $primary-grey;
				font-weight: 600;
				font-size: 0.9rem;
				font-family: 'Open Sans';
				margin-bottom: 0;
			}
		}

		.tally {
			@include flex(1 1 auto);

			.stat {
				display: inline-block;
				font-weight: 600;
				font-size: 0.75rem;
				margin-right: 0.5rem;

				&.questions {
					color: #b8b8b8;
				}

				&.due-date:not(.late) {
					color: #b8b8b8;
				}

				&.correct {
					color: #94b61a;
				}

				&.incorrect {
					color: #e95a57;
				}

				&.late {
					color: #e95a57;
				}
			}

		}
	}


	.body:after {
		content: " ";
		display: block;
		height: 0;
		clear: both;
	}
}
