
@import "input-free-response";
@import "input-fill-in-the-blank";
@import "input-matching";
@import "input-multiple-choice";
@import "input-ordering";
@import "input-unknown";
@import "input-modeled-content";

.question-part {

	.part-content:not(:empty) {
		margin: 1rem 0;
	}

	.part-content:empty + div {
		margin-top: 1rem;
	}

	.part-help a.close {
		position: absolute !important;
		z-index: 1;
		top: 0;
		right: -0.4rem;
		display: block;
		width: 1.5rem;
		height: 1.5rem;
		overflow: hidden;
		text-indent: -100px;

		&::after {
			@extend %x-close;
			content: '';
			display: block;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			background: { position: center center; repeat: no-repeat; }
		}
	}

	.part-help > .solutions {
		border: 1px solid $border-grey;
		padding: 0.4rem;
		margin: 0 -0.4rem;
		background: $panel-background;
	}


	.help-button-box {
		margin: 0 1rem 0.5rem;
	}


	// .form-input + .help-button-box {
		// margin-top: -1rem;
	// }

	a.help-link {
		font-size: 0.875rem;
		color: $secondary-grey;
	}
}
