
.question {
	margin: 2rem 0 2rem;

	.page-contents & {
		margin-left: -0.75rem;//-1.1875rem;
		margin-right: -0.75rem;

		padding-left: 0.75rem;//1.1875rem;
		padding-right: 0.75rem;
	}


	border: 1px solid #f1f1f1;
	border-width: 1px 0 0;

	.question-title {
		font-weight: 600;
		font-family: 'Open Sans';
		font-size: 1rem;
		padding: 1rem 0 0.5rem;
		margin: 0 0 -1em;

		.status {
			color: $neutral;
			font-style: italic;
		}
	}

	&.correct .question-title .status{ color: $correct; }
	&.incorrect .question-title .status{ color: $incorrect; }

	.question-content:not(:empty) {
		margin: 1rem 0;
	}

	.toggle-option a {
		background: #fbfbfb;
	}

	.error {
		position: relative;
		pre {
			max-height: 13rem;
		}
	}

	&.missing-data {
		margin: 2rem;
		border: 0;
		color: $primary-red;
		font-weight: bold;
	}

	& + .links {
		line-height: 0;
		margin-left: 1rem;
		max-width: 50%;
		position: relative;
		top: 0;

		&.individual {
			top: -3.8rem;
		}

		&.showing-results {
			top: -1rem;
		}

		a {
			font-size: 0.8rem;
			text-align: right;
			span.icon-report {margin-right: 0.5em;}

			white-space: nowrap;
			&:not(:last-child) {
				margin-right: 0.5em;
			}
		}
	}
}
