

.question {
	margin: 2rem 0 2rem;

	.page-contents & {
		margin-left: -1.1875rem;
		margin-right: -0.75rem;

		padding-left: 1.1875rem;
		padding-right: 0.75rem;
	}


	border: 1px solid #f1f1f1;
	border-width: 1px 0;

	.question-title {}

	.question-content:not(:empty) {
		padding: 1rem 0;
	}
}
