//@import "../input-vars";

.set-submission {
	font-size: 0.7rem;
	font-style: italic;
	display: flex;

	&.complete {
		.status-line{color: $primary-green;}
	}

	.status-line {
		padding-left: 0.75rem;
		color: $primary-red;
		font-weight: 300;
		align-self: center;
		order: 1;
		flex: 1 1 auto;
	}

	.button.reset {
		background: none;
		border-width: 0;
		color: $primary-grey;
		font-weight: 300;
		text-decoration: underline;
		text-transform: none;
		order: 2;
	}

	.button {
		flex: 0 0 auto;
		align-self: center;
		order: 3;
		letter-spacing: normal;
		padding: 0.8rem 1rem 0.8625rem;
		margin: 0;
		font-size: 0.8rem;
		font-weight: 600;
		background: $primary-blue;
		border-color: $border-blue;
		color: #fff;

		&.disabled {
			opacity: 1;
			background: $disabled-button-background;
			border-color: $disabled-button-border;
			color: $disabled-button-color;
		}
	}


	.error {
		@extend %submission-error;
	}
}
