//@import "../input-vars";

.set-submission {
	font-size: 0.7rem;
	font-style: italic;
	@include flexbox();

	&.complete {
		.status-line{color: $primary-green;}
	}

	.status-line {
		padding-left: 0.75rem;
		color: $primary-red;
		font-weight: 300;
		@include alignself(center);
		@include order(1);
		@include flex(1 1 auto);
	}

	.button.reset {
		background: none;
		border-width: 0;
		color: $primary-grey;
		font-weight: 300;
		text-decoration: underline;
		text-transform: none;
		@include order(2);
	}

	.button {
		@include flex(0 0 auto);
		@include alignself(center);
		@include order(3);
		letter-spacing: normal;
		padding: 0.8rem 1rem 0.8625rem;
		margin: 0;
		font-size: 0.8rem;
		font-weight: 600;
		background: $primary-blue;
		border-color: $border-blue;
		color: #fff;

		&.disabled {
			opacity: 1;
			background: $disabled-button-background;
			border-color: $disabled-button-border;
			color: $disabled-button-color;
		}
	}


	.error {
		position: absolute;
		bottom: 3rem;
		left: 1rem;
		right: 1rem;
		box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
		border: 1px solid $secondary-red;
		background: $primary-red;
		color: $secondary-red;
		padding: 1rem 4rem 1rem 1rem;
		border-radius: 0.3rem;
		z-index: 99999;
		font-size: 1rem;

		@include animation('fadeInUp 0.5s');


		a {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 3rem;

			text-indent: 4rem;
			overflow: hidden;


			&::after {
				content: '';
				position: absolute;
				display: block;
				top: 50%; left: 50%;
				width: 18px; height: 18px;
				border-radius: 18px;
				margin: -9px 0 0 -9px;
				background: url(../images/icons/circle-x-red-18.png) 0 0 no-repeat;
				box-shadow: 0 0 15px -3px #750000;
			}
		}
	}
}
