@import 'utils/variables';

.col-student {
	.actionable {
		font-size: .625rem;
		font-weight: 600;
		color: $tertiary-grey;
		text-transform: uppercase;

		&.ungraded,
		&.overdue {
			color: $primary-red;
		}

		@media screen and (min-width: 500px) {
			br {
				display: none;
			}
		}

	}
}
