@import "~@nti/style-common";

.gradebook {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin-bottom: 4rem;

	.gradebook-row {
		display: table-row;
		font-size: .875rem;

		& > * {
			display: table-cell;
			white-space: nowrap;
			vertical-align: middle;

			&:first-child {
				padding-left: 0.625rem;
			}

			&:last-child {
				padding-right: 0.625rem;
			}
		}

		&.headings {
			font-size: .625rem;
			color: $tertiary-grey;
			text-transform: uppercase;
			font-weight: 700;
		}
	}
}
