@import "~@nti/style-common";

.performance-header {
	display: flex;
	justify-content: space-between;
	background: #fbfbfb;
	padding: 1rem;
	box-shadow: 0 1px 0 0 #e0e0e0;
	.label {
		display: block;
		background: transparent;
		color: gray;
		text-align: left;
		padding: 0;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.6rem;
	}
	.value {
		font-style: italic;
	}
}
