@import "~@nti/style-common";

.performance {
	font-size: 0.75rem;

	@media screen and (max-width: 768px) {
		margin: 1rem 0;
	}

	@media (min-width: 600px) {
		font-size: 0.875rem;
	}

	$cellpadding: 0.5em;

	.performance-item,
	.performance-headings {
		display: table-row;

		& > * {
			display: table-cell;
			padding-bottom: 1em;
		}

		text-align: center;

		.assignment-title {
			text-align: left;
			padding-left: 0;
			word-break: break-word;

			@include limit-lines(2, 18);
		}

		.sorted {
			font-weight: 600;
		}
	}

	.performance-headings {
		font-size: 0.5rem;
		text-transform: uppercase;
		font-weight: 700;
		color: var(--tertiary-grey);

		& > * {
			padding: $cellpadding ($cellpadding * 3);
			white-space: nowrap;
		}

		.completed {
			font-family: 'icomoon';

			&.sorted::after {
				margin-left: 0;
			}
		}

		.sorted {
			$bordersize: 0.5em;

			position: relative;
			font-weight: 900;
			$arrowcolor: var(--tertiary-grey);

			&::after {
				content: '';
				width: 0;
				height: 0;
				border: $bordersize solid transparent;
				position: absolute;
				margin-left: 0.25rem;
			}

			&.desc::after {
				bottom: ($bordersize + $cellpadding)/2;
				top: auto;
				border-top-color: $arrowcolor;
			}

			&.asc::after {
				border-bottom-color: $arrowcolor;
				top: auto;
			}
		}
	}
}
