.student-link {
	color: inherit;
	display: flex;
	align-items: center;
	position: relative;
	.avatar {
		flex: 0 0 auto;
		width: 2.5rem;
		height: 2.5rem;
		vertical-align: middle;
		margin-right: .5em;
	}

	.wrapper {
		flex: 1 1 auto;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
