@import "utils/variables";
@import "utils/placeholders";

%icon-external-link {background-image: url(./assets/extern-link.png);}
%icon-external-link-hover {background-image: url(./assets/extern-link_hover.png);}


.content-link.related-work-ref {
	$gap: 0.625rem;
	$icon-width: 80px;
	position: relative;
	overflow: hidden;
	display: block;
	background: #fafdff;
	border: 1px solid #e3f2fc;
	margin: $gap 0;
	padding: $gap;
	padding-left: $icon-width + 10px;
	line-height: 1.5;
	min-height: $icon-width * 1.25;
	word-wrap: break-word;
	word-break: break-word;
	hyphens: auto;

	.icon {
		position: absolute;
		top: 0;
		left: 0;
		width: $icon-width;
		height: $icon-width * 1.25;
		margin: 0;
	}

	h5 {
		@include limit-lines(1.5);
		font-family: $body-font-family;
		font-size: .9375rem;
		font-weight: 600;
		margin: 0;
		margin-top: -.25rem;
	}

	hr {
		margin: 0; border: 0;
	}

	.label {
		margin: 0;
		padding: 0;
		font-weight: bold;
		background: none;
		text-transform: uppercase;
		white-space: normal;
		text-align: left;
		color: $primary-blue;
		display: block;
		line-height: 1.4;
		margin-bottom: .25em;
		font-size: rem-calc(10px);
	}

	.comment-count {
		&:empty {display: none;}
		font: normal 600 .6875rem/1.6 "Open Sans", sans-serif;
		color: $tertiary-grey;
		margin: $gap 0 0 0;

		&[href] {
			color: $primary-blue;
		}
	}

	.description {
		@include limit-lines(1.5);
		font-size: 0.75rem;
		color: #000;
	}

	&.external {
		.icon > div {
			@extend %icon-external-link-hover;
			top: 0; right: 0;
			position: absolute;
			content: '';
			width: 30px; height: 30px;
			display: inline-block;
		}
	}

	&.seen {
		.icon{
			&::after, &::before, {
				content: '';
				display: block;
				position: absolute;
				background: {
					color: rgba(0,0,0,0.5);
					position: center center;
					repeat: no-repeat;
				}
			}
			&::before {
				top: 0; right: 0;
				bottom: 0; left: 0;
			}
			&::after {
				$p: 50%;
				$s: 40px;
				$o: -20px;
				@extend %circle-white-check-large;
				top: $p; left: $p;
				width: $s;	height: $s;
				margin: {
					top: $o;
					left: $o;
				}
				background-color: rgba(0,0,0,0.6);
				border-radius: $s;
			}
		}
	}
}
