@import "utils/mixins";
@import "utils/placeholders";

.pager {
	white-space: nowrap;

	&, & > * {
		vertical-align: top;
		display: inline-block;
		white-space: nowrap;
		position: relative;
	}

	.counts {
		text-transform: none;
		font-style: italic;
		font-size: 0.5rem;
		padding-right: 0.2rem;

		max-width: 2.1rem;
		text-overflow: ellipsis;
		overflow: hidden;


		@media screen and (max-width: 375px){
			display: none;
		}
	}

	& > a {
		// width: 2rem;
		padding: 0 0.1rem;
		height: 2.8125rem;

		&:not([href]) {
			opacity: 0.2;
		}

		&.prev::before {
			@extend %chevron-up;
			.dark & {
				@extend %chevron-up-white;
			}
		}

		&.next::before {
			@extend %chevron-down;
			.dark & {
				@extend %chevron-down-white;
			}
		}
	}
}

.bottompager {
	margin: 0 auto;
	max-width: 62.5rem;
	width: 100%;
	@include clearfix();

	list-style-type: none;
	display: inline-block;
	li {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		width: 33.3333333%;

		display: inline-block;
		a {
			width: 100%;
			&:not([href]) {
				opacity: 0.2;
			}
		}
		&.counts {
			padding-left: 0;
			padding-right: 0;
			width: 33.3333333%;

			text-align: center;
			white-space: nowrap;
			font-size: .6875rem;
		}
	}
}
