@import 'utils/variables';
@import 'utils/placeholders';

.panel-button {

	$alert-color: #f04124;

	&.error {
		.panel {
			border-color: $alert-color;
			background-color: lighten($alert-color,40%);
		}
	}
	.buttons {
		@extend %dialog-buttons;
	}
	.panel {
		margin-bottom:0;
	}
}
