@import '~@nti/style-common';

.shared-with-list {
	pointer-events: none; //NTI-59 - Some communities shouldn't be navigable. They aren't marked so this list drops the ability to link to the entity profiles.

	& > span {
		cursor: default;
	}

	address,
	a {
		cursor: pointer;
	}

	span,
	address,
	a {
		color: var(--primary-blue);

		//TODO: move these connective articles into a localizable form
		&:not(:last-child)::after {
			content: ', ';
		}

		&:nth-last-child(2)::after {
			content: ' and ';
		}
	}
}
