.avatar-grid {
	list-style-type: none;
	margin: 0;
	li {
		display: inline-block;
		.avatar {
			width: 2.7rem;
			margin: .1rem;
		}
	}
}

.group-members-container {
	padding: 1rem .5rem;
	background: white;
	.group-members-heading {
		font-size: .6875rem;
		text-transform: uppercase;
		font-weight: 700;
		margin: .5rem 0;
		color: $secondary-grey;
		& > * {
			display: inline-block;
			margin-right: 1em;
		}
	}
	.username {
		display: none;
	}
}

.profile-members-container {
	background: white;
	margin: .25rem 0;
	.avatar-grid {
		& > li {
			display: inline-block;
			width: 48%;
		}
	}
}
