.profile-edit {
	label {
		text-transform: uppercase;
	    font-size: .625rem;
	    font-weight: 700;
	    color: #b8b8b8;
	    margin-top: 0.5rem;
	}
	input {
		padding: .25em;
		width: 100%;
		-webkit-appearance: none;
		border: 1px solid $border-grey;
		border-radius: 0;
	}

	.entry {
		margin-bottom: 3rem;
		.remove {
			float: right;
			font-size: 1.5rem;
			color: $tertiary-grey;
		}
	}

	.interests-edit {
		.string-item {
			position: relative;
			.remove {
				position: absolute;
				right: .5em;
				top: 50%;
				transform: translateY(-50%);
			}
			input {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				border: none;
				padding-left: 1em;
			}
		}
	}
}
