
.profile-head {
	margin: 1rem 0.625rem;
	background: $primary-grey;
	color: white;

	.user {
		@include grid-row();
		position: relative;
		overflow: hidden;
		display: inline-block;

		&::after {
			content: '';
			display: block;
			padding-top: 100%;//make the height not jump while loading the avatar
		}

		img {
			@include grid-column(4, $collapse: true);
		}

		.label {
			background: none;
			display: block;
			font: normal 600 1.1rem/2 $header-font-family;
			overflow: hidden;
			text-align: left;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 0;
		}
	}

	.actions {
		margin: 0;
		list-style: none;
	}
}

.profile-head-summary {
	@include grid-column(8, $last-column: true);
	.username {
		font-size: $h3-font-size;
	}
	.profile-head-summary-attrs {
		list-style-type: none;
		margin-left: 0;	
	}
}
