.profile-memberships-container {
	display: none; // hidden on narrow view.
}

.memberships {
	background: #fff;
	padding: 0.625rem;
	margin: 0.25rem 0;

	& > h3 {
		font-family: $body-font-family;
		font-size: 1rem;
		color: $secondary-grey;
	}

	& > ul {
		list-style: none;
		margin: 0;
	}
}

.membership {
	$avatar-size: 3rem;
	position: relative;
	min-height: $avatar-size + .25rem;
	padding-left: $avatar-size + .25rem;
	img, svg {
		width: $avatar-size;
		position: absolute;
		top: 0;
		left: 0;
	}
	a {
		color: $body-font-color;
		font-size: .875rem;
		font-weight: 600;
		line-height: 1;
	}
}

//Memberships page.
.profile > .profile-memberships {
	background: #fff;

	.memberships {

		& > ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -0.25rem;
		}

		.membership {
			margin: .25rem;
			flex: 1 1 calc(50% - 0.25rem);
			@media all and (min-width: 500px) {
				flex-basis: calc(33% - 0.25rem);
			}
		}

	}
}
