.profile-cards {
	list-style-type: none;
	margin: 0;
}

.profile-card {

	@import "forum-comment";
	
	$card-padding: 1rem;
	position: relative;
	background: white;
	padding: $card-padding;
	padding-bottom: 2rem;
	margin: 0.25rem 0;
	border-left: 0.25rem solid transparent;
	font-size: .875rem;

	&.about {
		border-left-color: #fc9f77;
	}
	&.education {
		border-left-color: #fdcf61;
	}
	&.positions {
		border-left-color: #7ecfc8;
	}

	.headline.post {
		margin-top: 0;
		padding-top: 1rem;
	}

	&.note {
		padding: 0;
	}

	// &.activity {
	// 	border-left-color: #fdcf61;
	// }
	// &.achievements {
	// 	border-left-color: #fdcf61;
	// }
	// &.generalforumcomment {
	// 	border-left-color: #fdcf61;
	// }
	// &.communityheadlinetopic {
	// 	border-left-color: #7ecfc8;
	// }
	// &.highlight {
	// 	border-left-color: #fc9f77;
	// }
	& > h1 {
		font-family: $body-font-family;
		font-size: 1.25rem;
		color: $secondary-grey;	
		border-bottom: 0.0625rem solid $quad-grey;
		padding: .2em 0;
	}

	h1 {
		font-family: $body-font-family;
		font-size: 1.25rem;
		color: $secondary-grey;
	}

	.breadcrumb {
	    border-bottom: 1px solid $quad-grey;
	    display: block;
	    padding-bottom: 1em;
	    margin: 0px #{-$card-padding};
	    padding-left: 0;
	}

	.breadcrumb-list {
		margin: 0 $card-padding;
		color: $tertiary-grey;
    	font-size: .6875rem;
    	text-transform: uppercase;
    	font-weight: 700;
    	list-style-type: none;
    	.crumb {
    		display: inline-block;
			&::after {
	    		content: '/';
	    		padding: 0 0.3em;
	    	}
	    	&:last-child::after {
				content: ' ';
	    	}
    	}
	}

	.body {
		position: relative;
	}

	.footer {
		margin-top: 1rem;
		& > * {
			display: inline-block;
			margin-right: 1rem;
		}
	}
}

.professional-position {
	margin-bottom: 2rem;
}

.professional-position,
.educational-experience {
	.professional-position-company,
	.educational-experience-school {
		font-size: 1rem;
		font-weight: 700;
		margin: 0;
		font-family: $body-font-family;
	}
	.professional-position-title {

	}
	.professional-position-description,
	.educational-experience-description {
		font-style: italic;
	}
}

