.profile-card.interests {
	& > div {
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
		.string-item {
			// flex-basis: 46%;
			padding: .5em 1em;
			background: $quad-grey;
			border: 1px solid $tertiary-grey;
			font-weight: bold;
			overflow: hidden;
			text-overflow: ellipsis;
			text-align: left;
			margin: 5px;
			flex: 0 1 calc(50% - 10px);
			min-height: 2.4rem; // when editing, if the input falls on a new line we need this to maintain the height.

			@media all and (min-width: 500px) {
				flex-basis: calc(33% - 10px);
			}
		}
	}
}
