ul.social-links {
	$size: 2rem;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	font-size: .6875rem;
	& > li {
		a {
			display: block;
			margin: .5rem 1rem 0 0;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			width: $size;
			height: $size;
			background-size: $size;
			background-repeat: no-repeat;
			&.social-twitter {
				background-image: url('../images/icons/social/twitter.png');
			}
			&.social-facebook {
				background-image: url('../images/icons/social/facebook.png');
			}
			&.social-googleplus {
				background-image: url('../images/icons/social/google.png');
			}
			&.social-linkedin {
				background-image: url('../images/icons/social/linkedin.png');
			}
		}
	}
}
