.headline.post, .headline.postitem {
	margin-top: 1rem;
	position: relative;

	.charms {
		float: right;
		position: relative;
		top: -0.8rem;
	}

	.avatar {
		width: 60px;
		height: 60px;
		border-radius: 3px;
		position: absolute;
		top: 0.625rem;
		left: 0;//.625rem;
	}

	.wrap {
		margin: 0 0 2rem 4.375rem;//5rem;
		font-size: 0.75rem;

		.meta{
			padding: 0;
		}

		h1 {
			font-family: $body-font-family;
			margin-bottom:0;
		}

		time {
			color: $tertiary-grey;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 0.625rem;
		}
	}
}
