.nti-course-enrollment-options {
	.nti-course-enrollment-gifting-item .meta .label {
		background-color: transparent;
	}
}


.enroll-options-error {
	text-align: center;
    font-size: 1.15rem;
    margin-top: 1rem;
}
