.nti-course-enrollment-options {
	.nti-course-enrollment-gifting-item .meta .label {
		background-color: transparent;
	}
	.loading-spinner.blue {
		height: 240px;
	}

	.nti-course-enrollment-options-enrolled-current .get-acquainted {
		display: none;
	}
}


.enroll-options-error {
	text-align: center;
    font-size: 1.15rem;
    margin-top: 1rem;
}
