#content nav .branding {
	background-image: url(./brand.png);
}


.pricing-info {
	.title, .dates, .credits-and-refunds {
		visibility: hidden;
	}
	.cell.total {
		position: static;
	}
	.info {
		position: relative;
		.price-and-coupon {
			position: absolute;
			top: 1rem;
		}
	}
}

.course-detail-view {
	.course-details {
		display: none;
	}
}
