{
	"development": {
		"user-agreement": "https://docs.google.com/a/nextthought.com/document/pub?id=1rM40we-bbPNvq8xivEKhkoLE7wmIETmO4kerCYmtISM&embedded=true",
		"server": "http://localhost:8082/dataserver2/",
		"port": 8083,
		"basepath": "/mobile/"
	},

	"production": {}
}
