{
	"development": {
		"analytics": {
			"idleTimeoutSeconds": 1800,
			"idleEvents": "mousemove keydown DOMMouseScroll mousewheel mousedown touchstart touchmove playing"
		},
		"analyticsKey": "UA-XXXX-Y",
		"appId": "dev1",
		"appName": "nextthought mobile",
		"appVersion": "201410291800",
		"basepath": "/mobile/",
		"discussions": {
			"pageSize": 20
		},
		"flags": {
			"dev": true
		},
		"mode": "development",
		"port": 8083,
		"server": "http://localhost:8082/dataserver2/",
		"user-agreement": "https://docs.google.com/a/nextthought.com/document/pub?id=1rM40we-bbPNvq8xivEKhkoLE7wmIETmO4kerCYmtISM&embedded=true",
		"webpack-dev-server": 8084
	},
	"production": {
		"flags": {},
		"mode": "production"
	}
}
