

.notification-item {
	&:empty {
		display: none;
	}

	line-height: 1.7;
	font-family: 'Open Sans';
	font-size: 0.75rem;
	padding: 0.5rem 0.1rem 0.5rem 0.3rem;

	&.empty {
		padding: 2.5rem;
		display: block;
		text-align: center;
	}

	time {
		display: block;
		font-size: 0.75em;
		font-weight: 700;
		text-transform: uppercase;
		color: $secondary-grey;
	}

	.avatar, .grade, .badge {
		display: inline-block;
		position: relative;
		float: left;
	}

	.badge {
		width: 28px;
		height: 28px;

		background: {
			size: contain;
			position: center center;
		}
	}

	.grade {
		@extend %icon-assignment-ontime-small;
		height: 28px;
		width: 28px;
	}

	.creator{
		display: block;
		font-weight: 500;
	}

	.wrap {
		margin-left: 34px;
		padding-left: 5px;
	}

	.username {
		font-weight: 500;
	}
}
