
.feedback.container {
	padding-bottom: 2rem;
	margin-left: 0.75rem;//1.1875rem;
	margin-right: 0.75rem;
}

.feedback.header {
	position: relative;
	border-bottom: 1px solid #f0f0f0;
	padding-left: 0.75rem;//1.1875rem;
	padding-right: 0.75rem;
	margin-left: -0.75rem;//-1.1875rem;
	margin-right: -0.75rem;

	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		height: 300px;
		left: 0;
		right: 0;
		background-color: #f0f0f0;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
		clip: rect(300px, auto, 310px, auto);
		border-radius: 350em / 5em;
	}

	h3{
		font: normal 400 1.375rem/1 $body-font-family;
		color: $secondary-grey;
		margin: 0;
	}

	.message{
		font: normal 500 0.875rem/1.5 $body-font-family;
		color: $secondary-grey;
		margin: 0.3125rem 0 1rem 0
	}
}


.feedback.entry {

	background-color: $panel-background;
	border: 1px solid #f0f0f0;
	border-top: none;
	box-shadow: inset 0 1px 0 0 #fff;
	overflow: hidden;

	.input-area{
		border: 1px solid #dcdcdc;
		background-color: white;
		line-height: 2.45rem;
		margin: 0.625rem;

		.placeholder{
			color: $tertiary-grey;
			display: block;
			font-size: 0.875rem;
			font-style: italic;
			font-weight: 600;
			margin-left: 0.625rem;
		}

	}
}

.feedback.editor{
	&.busy {
		.editor {
			visibility: hidden;
		}
	}

	.feedback.item > .wrap > & {
		margin-top: 1rem;
		margin-left: -45px;
	}

	.toolbar {
		line-height: 2.45rem;
	}

	position: relative;
}


.feedback.list {
	background-color: $panel-background;
	border: 1px solid #f0f0f0;
	border-top: none;
	border-bottom: none;
}


.feedback.item {
	@extend %attributed-content-item;

	html:not(.touch) & {
		.footer {
			visibility: hidden;
			transition: opacity 0.5s ease-in;
			opacity: 0;
		}

		&:hover .footer {
			visibility: visible;
			opacity: 1;
		}
	}
}
