
.header.assessment.survey {
	@extend .header.assessment.assignment;
	display: block;
	padding-right: 0.625rem;

	&::before {
		background: none;
		@extend %icon-font;
		content: "\e606";
		font-size: 40px;
	}

	&.submitted::before {
		color: $secondary-green;
		content: "\221a";
		border: 0;
		border-radius: 40px;
		box-shadow: 0 0 0 1px $secondary-green;
	}

	.links {
		font-size: 0.8rem;
		text-align: right;
		span.icon-report {margin-right: 0.5em;}

		a:not(:last-child) {
			margin-right: 0.5em;
		}
	}
}
