
.question-part .matching {

	.terms {
		background: $panel-background;
		border: 1px solid $border-grey;
		border-radius: 5px;
		padding-bottom: 1rem;
		margin: -1rem 0 1rem 0;
		min-height: 2rem;

		.drag.source {
			margin: 1rem 0.5rem 0;

			&.used {
				background: #fff !important;//block the hover background
				visibility: visible;
				box-shadow: none;
				border: 1px dashed $border-grey;
				color: $border-grey;
				cursor: default;
				animation: fadeIn .6s linear;
			}
		}
	}


	.box {
		border: 1px solid $tertiary-grey;
		margin: 0 0 1rem 0;
	}

	&.solutions .box {
		margin: -0.4rem;
		border: none;
	}

	.target {
		display: block;
		position: relative;
		border: 0px solid $tertiary-grey;
		line-height: 2;
		padding: 1rem;

		&:not(:last-of-type) {
			border-bottom-width: 1px;
		}

		.drag.source {
			&.correct, &.incorrect {
				&::after {
					position: absolute;
					top: -10px;
					left: -10px;
					content: '';
					width: 18px;
					height: 18px;
					border-radius: 18px;

					background: {
						position: center center;
						repeat: no-repeat;
					}
				}
			}

			&.correct {
				background: $correct;
				border-color: $correct;
			}

			&.incorrect {
				background: $incorrect;
				border-color: $incorrect;
			}
		}

		.content {
			position: relative;
			overflow: hidden;
			display: block;
		}
	}
}
