
.modeled.content {
	.modeled-content {
		padding: 0.6rem;
		border: 1px solid $border-grey;
		background-color: $panel-background;
	}
}

.aggregated-modeled-content {
	.toolbar {
		display: flex;
		background: $panel-background;
		border: 1px solid $border-grey;
		border-width: 1px 0 0 0;

		.page-info {
			flex: 1 1 auto;
			text-align: center;
			line-height: 2;
			font-size: 0.875rem;
			font-style: italic;
			color: $tertiary-grey;
		}

		a.next, a.prev {
			flex: 0 0 auto;
			display: block;
			width: 2rem;
			height: 2rem;
			position: relative;
			&::before {
				@extend %chevron;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		a.next::before {
			content: '>';
		}
	}

	.modeled-content {
		padding: 1rem;
		border: 1px solid $border-grey;
	}
}
