
.saving-progress {
	position: fixed;
	top: 0;
	background: $panel-background;
	border: 1px solid $tertiary-grey;
	border-radius: 0px 0px 10px 0;
	padding: 0.2em 2em 0.2em 0.5em;
	left: 0;
	border-top: none;
	border-left: none;

	opacity: 0.9;
	font-size: 0.75rem;
	box-shadow: 0 0 2rem 0 rgba(0,0,0,0.4);

	&::after {
		left: 100%;
		transform: translate3d(-1.8em,0,0);
		position: absolute;
		content: '.\a0.\a0.';
		display: inline-block;
		overflow: hidden;
		vertical-align: bottom;
		animation: loadingellipse 1s infinite linear;
	}
}


.savepoint-enter {
	animation: slideDown .7s cubic-bezier(0, 1, 0.5, 1) 0s;
}

.savepoint-leave {
	animation: fadeOutUp 1s cubic-bezier(0, 1, 0.5, 1) .5s;
}


@keyframes loadingellipse {
	25% {width: 0; }
	50% { width: 0.466667em; }
	75% { width: 0.933333em; }
	100% { width: 1.4em; }
}
