
@mixin arrow($direction:right) {
		$size: .5em;
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -$size/2;
		@include _direction($direction);
		border: 2px solid transparent;
		border-top-color: black;
		border-right-color: black;
		width: $size;
		height: $size;
		border-radius: 2px;
}

//$_directions: (right: 45, left: -45);

@mixin _direction($direction) {
	@if $direction == right {
		-webkit-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
		right: .75em;
	}
	@else if $direction == left {
		-webkit-transform: rotate3d(0,0,1,-135deg);
		transform: rotate3d(0,0,1,-135deg);
		left: .75em;
	}
	@else if $direction == up {
		-webkit-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
		right: .75em;
	}
	@else if $direction == down {
		-webkit-transform: rotate3d(0,0,1,135deg);
		transform: rotate3d(0,0,1,135deg);
		right: .75em;
	}
//	transform: rotate3d(0,0,1, map-get($_directions, $direction)deg);
}

.arrow-right {
	@include arrow(right);
}

.arrow-left {
	@include arrow(left);
}

.arrow-up {
	@include arrow(up);
}

.arrow-down {
	@include arrow(down);
}
