%dialog-buttons {
	background-color: #f8f8f8;
	overflow: hidden;
	position: relative;
	text-align: right;

	&::before {
		content: '';
		position: absolute;
		bottom: 40px;
		height: 300px;
		left: 0;
		right: 0;
		background-color: #f0f0f0;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.35);
		clip: rect(300px, auto, 310px, auto);
		border-radius: 350em / 4em;
	}

	.button {
		text-transform: none;
		font-weight: 600;
		font-size: 0.9rem;
		letter-spacing: normal;
		line-height: 2.5rem;
		padding: 0 1.25rem;
		margin: 0;
		vertical-align: middle;
		text-align: center;
		min-width: 90px;

		&.cancel {
			color: $primary-grey;
			background: none;
			font-weight: 300;
		}


		&.primary {
			background: $primary-blue;
			color: white;
			box-shadow: inset 1px 0 0 0 $border-blue;

			html:not(.touch) &:hover {
				opacity: 0.9;
			}

			&.decline,
			&.caution {
				box-shadow: inset 1px 0 0 0 #dd4845;
			}
		}

		&.secondary {
			font-weight: 300;
			color: $primary-grey;

			html:not(.touch) &:hover {
				background: white;
				box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.5);
			}

			&.declinde, &.caution {
				color: $primary-red;
			}

		}

		&.accept {
			background: $secondary-green;
		}

		&.decline,
		&.caution {
			background: $primary-red;
		}
	}
}