
.fadeOutIn-enter {
	opacity: 0.01;
	transition: opacity .25s ease-out;
}

.fadeOutIn-enter.fadeOutIn-enter-active {
	opacity: 1;
}

.fadeOutIn-leave {
	opacity: 1;
	transition: opacity .25s ease-out;
}

.fadeOutIn-leave.fadeOutIn-leave-active {
	opacity: 0.01;
}
