@import "@nti/style-common";

.notifications-empty-message {
	padding: 3rem 1rem;
	font-size: 0.875rem;
	text-align: center;
	color: var(--tertiary-grey);
	border-bottom: 1px solid #efefef;
	font-style: italic;
}
