@import "~@nti/style-common";

.contacts-list-wrapper {
	.no-contacts {
		padding: 3rem 1rem;
		font-size: 0.875rem;
		text-align: center;
		color: var(--tertiary-grey);
		border-bottom: 1px solid $quad-grey;
		font-style: italic;
	}

	.contacts-list {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 0.875rem;

		li {
			margin: 0.75rem;
			display: flex;
			align-items: center;

			.avatar {
				width: 42px;
				height: 42px;
				margin-right: 0.75rem;
			}

			.username {
				max-width: 200px;
			}
		}
	}

	.all-contacts-link {
		display: block;
		text-align: center;
		font-size: 0.875rem;
		font-weight: 600;
		padding: 1em;
		border-bottom: 1px solid $quad-grey;
	}
}
